.d-list {
    padding-left: 0;
    margin-bottom: 20px;
}

.d-list .d-list-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    outline: none;
}

.d-list.bordered .d-list-item {
    border: 1px solid #ddd;
}

.d-list.bordered .d-list-item:focus {
    border: 1px solid #bcbcbc;
}

.d-list .d-list-item.d-selectable:not([class*="disabled"]){
    cursor: pointer;
}

.d-list .d-list-item.d-selectable.disabled{
    cursor: not-allowed;
}