.theme-deep-orange .bg-theme {
  background-color: #FF5722 !important;
  color: #fff; }
.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
  color: #fff !important; }

.theme-deep-orange .navbar {
  background-color: #FF5722; }

.theme-deep-orange .navbar-brand {
  color: #fff; }
  .theme-deep-orange .navbar-brand:hover {
    color: #fff; }
  .theme-deep-orange .navbar-brand:active {
    color: #fff; }
  .theme-deep-orange .navbar-brand:focus {
    color: #fff; }

.theme-deep-orange .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-deep-orange .nav > li > a:hover {
    background-color: transparent; }
  .theme-deep-orange .nav > li > a:focus {
    background-color: transparent; }

.theme-deep-orange .nav .open > a {
  background-color: transparent; }
  .theme-deep-orange .nav .open > a:hover {
    background-color: transparent; }
  .theme-deep-orange .nav .open > a:focus {
    background-color: transparent; }

.theme-deep-orange .bars {
  color: #fff; }

.theme-deep-orange .menu .list li.active {
  background-color: transparent; }
  .theme-deep-orange .menu .list li.active > :first-child i, .theme-deep-orange .menu .list li.active > :first-child span {
    color: #FF5722; }

.theme-deep-orange .menu .list .toggled {
  background-color: transparent; }

.theme-deep-orange .menu .list .ml-tree {
  background-color: transparent; }

.theme-deep-orange .sidebar .legal {
  background-color: #fff; }
  .theme-deep-orange .sidebar .legal .copyright a {
    color: #FF5722 !important; }

.theme-deep-orange .waves-effect.waves-theme .waves-ripple {
  background: rgba(255, 87, 34, 0.5); }
