.theme-red .bg-theme {
    background-color: #F44336 !important;
    color: #fff; }
.bg-red .content .text,
.bg-red .content .number {
    color: #fff !important; }

.theme-red .navbar {
    background-color: #F44336;
}

.theme-red .navbar-brand {
    color: #fff;
}

.theme-red .navbar-brand:hover {
    color: #fff;
}

.theme-red .navbar-brand:active {
    color: #fff;
}

.theme-red .navbar-brand:focus {
    color: #fff;
}

.theme-red .nav:not([class*="nav-tab"]) > li > a {
    color: #fff;
}

.theme-red .nav > li > a:hover {
    background-color: transparent;
}

.theme-red .nav > li > a:focus {
    background-color: transparent;
}

.theme-red .nav .open > a {
    background-color: transparent;
}

.theme-red .nav .open > a:hover {
    background-color: transparent;
}

.theme-red .nav .open > a:focus {
    background-color: transparent;
}

.theme-red .bars {
    color: #fff;
}

.theme-red .menu .list li.active {
    background-color: transparent;
}

.theme-red .menu .list li.active > :first-child i, .theme-red .menu .list li.active > :first-child span {
    color: #F44336;
}

.theme-red .menu .list .toggled {
    background-color: transparent;
}

.theme-red .menu .list .ml-tree {
    background-color: transparent;
}

.theme-red .sidebar .legal {
    background-color: #fff;
}

.theme-red .sidebar .legal .copyright a {
    color: #F44336 !important;
}

.theme-red .waves-effect.waves-theme .waves-ripple {
    background: rgba(244, 67, 54, 0.5); }

