.theme-green .bg-theme {
  background-color: #4CAF50 !important;
  color: #fff; }
.bg-green .content .text,
.bg-green .content .number {
  color: #fff !important; }

.theme-green .navbar {
  background-color: #4CAF50; }

.theme-green .navbar-brand {
  color: #fff; }
  .theme-green .navbar-brand:hover {
    color: #fff; }
  .theme-green .navbar-brand:active {
    color: #fff; }
  .theme-green .navbar-brand:focus {
    color: #fff; }

.theme-green .nav > li > a {
  color: #fff; }
  .theme-green .nav > li > a:hover {
    background-color: transparent; }
  .theme-green .nav > li > a:focus {
    background-color: transparent; }

.theme-green .nav .open > a {
  background-color: transparent; }
  .theme-green .nav .open > a:hover {
    background-color: transparent; }
  .theme-green .nav .open > a:focus {
    background-color: transparent; }

.theme-green .bars {
  color: #fff; }

.theme-green .menu .list li.active {
  background-color: transparent; }
  .theme-green .menu .list li.active > :first-child i, .theme-green .menu .list li.active > :first-child span {
    color: #4CAF50; }

.theme-green .menu .list .toggled {
  background-color: transparent; }

.theme-green .menu .list .ml-tree {
  background-color: transparent; }

.theme-green .sidebar .legal {
  background-color: #fff; }
  .theme-green .sidebar .legal .copyright a {
    color: #4CAF50 !important; }

.theme-green .waves-effect.waves-theme .waves-ripple {
  background: rgba(76, 175, 80, 0.5); }

