.theme-purple .bg-theme {
  background-color: #9C27B0 !important;
  color: #fff; }
.bg-purple .content .text,
.bg-purple .content .number {
  color: #fff !important; }

.theme-purple .navbar {
  background-color: #9C27B0; }

.theme-purple .navbar-brand {
  color: #fff; }
  .theme-purple .navbar-brand:hover {
    color: #fff; }
  .theme-purple .navbar-brand:active {
    color: #fff; }
  .theme-purple .navbar-brand:focus {
    color: #fff; }

.theme-purple .nav > li > a {
  color: #fff; }
  .theme-purple .nav > li > a:hover {
    background-color: transparent; }
  .theme-purple .nav > li > a:focus {
    background-color: transparent; }

.theme-purple .nav .open > a {
  background-color: transparent; }
  .theme-purple .nav .open > a:hover {
    background-color: transparent; }
  .theme-purple .nav .open > a:focus {
    background-color: transparent; }

.theme-purple .bars {
  color: #fff; }

.theme-purple .menu .list li.active {
  background-color: transparent; }
  .theme-purple .menu .list li.active > :first-child i, .theme-purple .menu .list li.active > :first-child span {
    color: #9C27B0; }

.theme-purple .menu .list .toggled {
  background-color: transparent; }

.theme-purple .menu .list .ml-tree {
  background-color: transparent; }

.theme-purple .sidebar .legal {
  background-color: #fff; }
  .theme-purple .sidebar .legal .copyright a {
    color: #9C27B0 !important; }

.theme-purple .waves-effect.waves-theme .waves-ripple {
  background: rgba(156, 39, 176, 0.5); }
