.d-stepper {
    width: 100%;
}

.step-header {
    min-width: 100px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.step-header:hover{
    background-color: rgba(0,0,0,0.06);
}

.step-content {
    padding-left: 20px;
    width: 100%;
    padding-top: 5px;
}

.step-number-cntr {
    height: 100%;
}

.step-vertical-bar {
    height: 100%;
    min-height: 30px;
    padding-top: 5px;
}

.step-vertical-bar span {
    margin-top: 0px;
    width: 1px;
    height: 100%;
    margin-left: 14px;
    display: block;
}

.step-title-cntr {
}

.step-main-title-cntr {
}

.step-title {
}

.step-horizontal-bar {
}

.step-description {
    text-indent: 2px;
    font-size: 12px;
}

.step-title span {
    height: 25px;
    display: block;
    line-height: 25px;
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
}

.step-number span {
    display: block;
    margin: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    color: #FFFFFF;
}

.step-horizontal-bar {
    padding-right: 4px;
    padding-left: 2px;
    min-width: 30px;
}

.step-horizontal-bar span {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
}

.last-step .step-horizontal-bar span,
.last-step .step-vertical-bar span {
    display: none;
}

.last-step.complete-content .step-vertical-bar span {
    display: block;
}

.horizontal-stepper .last-step {
    flex-grow: 0;
}

.horizontal-stepper .last-step.complete-content .step-vertical-bar span,
.horizontal-stepper .step-vertical-bar span {
    display: none;
}

.vertical-stepper .step-horizontal-bar span {
    display: none;
}

.vertical-stepper .step-content {
    border-left: 1px solid grey;
    width: calc(100% - 14px);
    margin-left: 19px;
}

.vertical-stepper .last-step.step-active .step-vertical-bar span {
    display: block;
}

.step-errors span {
    color: red;
    display: block;
    width: 100%;
}

.step-number span i.mdi.mdi-18px:before {
    line-height: 24px;
}