ul.stepper {
    counter-reset: section;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
}

.step-body {
    width: 100%;
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal .step-content .step-body {
        position: absolute;
        top: 40px;
    }

    ul.stepper.horizontal .step-content .step-footer {
        position: absolute;
        padding-left: 40px;
        padding-right: 40px;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }

    ul.stepper.horizontal {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 500px;
        padding-left: 0px;
    }

    ul.stepper.horizontal:before {
        content: '';
        background-color: transparent;
        width: 100%;
        min-height: 84px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        position: absolute;
        left: 0;
    }
}

ul.stepper .step {
    position: relative;
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal .step {
        position: static;
        margin: 0;
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        height: 84px !important;
    }

    ul.stepper.horizontal > .step:last-of-type, ul.stepper.horizontal > .step[data-last="true"] {
        width: auto !important;
    }

    ul.stepper.horizontal .step:not(:last-of-type):after, ul.stepper.horizontal > .step.active:not(:last-of-type):after {
        content: '';
        position: static;
        display: inline-block;
        width: 100%;
        height: 1px;
    }
}

ul.stepper > li:not(:last-of-type) {
    margin-bottom: 10px;
    -webkit-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

ul.stepper .step:before {
    position: absolute;
    top: 12px;
    counter-increment: section;
    content: attr(data-step-number);
    height: 28px;
    width: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
}

ul.stepper:not([class*="col-"]) .step.active:before,
ul.stepper:not([class*="col-"]) .step.done:before {
    background-color: #2196f3;
}

ul.stepper .step.done:before {
    content: '\e5ca';
    font-size: 16px;
    font-family: 'Material Icons';
}

ul.stepper .step.wrong:before {
    content: '\e001';
    font-size: 24px;
    font-family: 'Material Icons';
    background-color: red !important;
}

ul.stepper .step-title {
    position: relative;
    font-size: 16px;
    margin: 0 -24px;
    cursor: pointer;
    padding: 15.5px 44px 24px 64px;
    display: block;
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal:not([class*="col-"]) .step.active .step-title:before,
    ul.stepper.horizontal:not([class*="col-"]) .step.done .step-title:before {
        background-color: #2196f3;
    }

    ul.stepper.horizontal .step.done .step-title:before {
        content: '\e5ca';
        font-size: 16px;
        font-family: 'Material Icons';
    }

    ul.stepper.horizontal .step.wrong .step-title:before {
        content: '\e001';
        font-size: 24px;
        font-family: 'Material Icons';
        background-color: red !important;
    }

    ul.stepper.horizontal .step-title {
        line-height: 84px;
        height: 84px;
        margin: 0;
        padding: 0 25px 0 65px;
        display: inline-block;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    ul.stepper.horizontal .step:before {
        content: none;
    }

    ul.stepper.horizontal .step .step-title:before {
        position: absolute;
        top: 28.5px;
        left: 19px;
        counter-increment: section;
        content: counter(section);
        height: 28px;
        width: 28px;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        font-weight: 400;
    }
}

ul.stepper .step-title:after {
    content: attr(data-step-label);
    display: block;
    position: absolute;
    font-size: 12px;
    color: #424242;
    font-weight: 400;
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal .step-title:after {
        top: 15px;
    }
}

ul.stepper .step-title:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

ul.stepper .step.active .step-title {
    font-weight: 500;
}

ul.stepper .step-content {
    padding-top: 15px;
    position: relative;
    height: calc(100% - 132px);
    width: inherit;
    overflow: visible;
    margin-left: 41px;
    margin-right: 24px;
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal .step-content {
        position: absolute;
        height: calc(100% - 84px);
        top: 84px;
        left: 0;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 40px 20px 76px 20px;
    }
}

ul.stepper > .step:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 50px;
    left: 13.5px;
    width: 1px;
    height: 40%;
    height: calc(100% - 38px);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

ul.stepper > .step.active:not(:last-child):after {
    height: 93%;
    height: calc(100% - 12px);
}

ul.stepper > .step[data-last="true"]:after {
    height: 0;
    width: 0;
}

ul.stepper > .step[data-last="true"] {
    margin-bottom: 0;
}

ul.stepper .step-content .row {
    margin-bottom: 7px;
}
