@media screen and (max-width: 992px) {

    .dui.dui-flex.dui-flex-responsive-reverse,
    .dui.dui-flex.dui-flex-responsive {
        flex-direction: column;
    }

    .dui.dui-flex-row.dui-flex-responsive-reverse,
    .dui.dui-flex-row.dui-flex-responsive {
        flex-direction: column;
    }

    .dui.dui-flex-column.dui-flex-responsive-reverse {
        flex-direction: row;
    }

    .dui-stepper-track.dui-horizontal {
        --dui-stepper-track-direction: column;
        --dui-stepper-track-justify-content: center;
        --dui-step-tracker-direction: row;
        width: auto;
    }
    .dui-horizontal .dui-tracker-chain {
        width: auto;
        align-self: stretch;
    }

    .dui-horizontal > .dui-stepper-track > .dui-step-track:last-child .dui-tracker-line:after,
    .dui-stepper-track.dui-horizontal > .dui-step-track:last-child .dui-tracker-line:after {
        width: var(--dui-spc-4);
        height: var(--dui-spc-4);
        border-radius: 9999px;
        left: calc(var(--dui-spc-1) * -1);
        bottom: calc(var(--dui-spc-1) * -1);
        top: auto;
    }

    .dui-horizontal .dui-tracker-line {
        height: auto;
        width: var(--dui-spc-2);
    }

    .dui-horizontal .dui-tracker-line:before {
        width: var(--dui-spc-2);
        height: var(--dui-spc-1);
        top: calc(var(--dui-spc-1) * -1);
        left: 0;
    }

    .dui-horizontal .dui-tracker-line:after {
        width: var(--dui-spc-2);
        background-color: var(--dui-accent-clr);
        height: var(--dui-spc-1);
        bottom: calc(var(--dui-spc-1) * -1);
        left: 0;
        right: auto;
        top: auto;
    }

    .dui-stepper.dui-horizontal {
        --dui-stepper-direction: column;
    }

    .dui.dui-hide-on-small-and-down,
    .dui.dui-hide-on-small-and-down.dui-block,
    .dui.dui-hide-on-small-and-down.dui-block-full,
    .dui.dui-hide-on-small-and-down.dui-inline-block,
    .dui.dui-hide-on-small-and-down.dui-inline,
    .dui.dui-hide-on-small-and-down.dui-flex,
    .dui.dui-hide-on-small-and-down.dui-inline-flex,
    .dui.dui-hide-on-small-and-down.dui-table,
    .dui.dui-hide-on-small-and-down.dui-inline-table,
    .dui.dui-hide-on-small-and-down.dui-table-caption,
    .dui.dui-hide-on-small-and-down.dui-table-cell,
    .dui.dui-hide-on-small-and-down.dui-table-column,
    .dui.dui-hide-on-small-and-down.dui-table-column-group,
    .dui.dui-hide-on-small-and-down.dui-table-footer-group,
    .dui.dui-hide-on-small-and-down.dui-table-header-group,
    .dui.dui-hide-on-small-and-down.dui-table-row-group,
    .dui.dui-hide-on-small-and-down.dui-table-row,
    .dui.dui-hide-on-small-and-down.dui-flow-root,
    .dui.dui-hide-on-small-and-down.dui-grid,
    .dui.dui-hide-on-small-and-down.dui-inline-grid,
    .dui.dui-hide-on-small-and-down.dui-contents,
    .dui.dui-hide-on-small-and-down.dui-list-item,
    .dui.dui-hide-on-small-and-down.dui-hidden {
        display: none;
    }

    /* -------------------------------- */
    .dui.dui-show-on-small-and-down {
        display: block;
    }

    .dui.dui-show-on-small-and-down.dui-block {
        display: block;
    }

    .dui.dui-show-on-small-and-down.dui-block-full {
        display: block;
        width: 100%;
    }

    .dui.dui-show-on-small-and-down.dui-inline-block {
        display: inline-block;
    }

    .dui.dui-show-on-small-and-down.dui-inline {
        display: inline;
    }

    .dui.dui-show-on-small-and-down.dui-flex {
        display: flex;
    }

    .dui.dui-show-on-small-and-down.dui-inline-flex {
        display: inline-flex;
    }

    .dui.dui-show-on-small-and-down.dui-table {
        display: table;
    }

    .dui.dui-show-on-small-and-down.dui-inline-table {
        display: inline-table;
    }

    .dui.dui-show-on-small-and-down.dui-table-caption {
        display: table-caption;
    }

    .dui.dui-show-on-small-and-down.dui-table-cell {
        display: table-cell;
    }

    .dui.dui-show-on-small-and-down.dui-table-column {
        display: table-column;
    }

    .dui.dui-show-on-small-and-down.dui-table-column-group {
        display: table-column-group;
    }

    .dui.dui-show-on-small-and-down.dui-table-footer-group {
        display: table-footer-group;
    }

    .dui.dui-show-on-small-and-down.dui-table-header-group {
        display: table-header-group;
    }

    .dui.dui-show-on-small-and-down.dui-table-row-group {
        display: table-row-group;
    }

    .dui.dui-show-on-small-and-down.dui-table-row {
        display: table-row;
    }

    .dui.dui-show-on-small-and-down.dui-flow-root {
        display: flow-root;
    }

    .dui.dui-show-on-small-and-down.dui-grid {
        display: grid;
    }

    .dui.dui-show-on-small-and-down.dui-inline-grid {
        display: inline-grid;
    }

    .dui.dui-show-on-small-and-down.dui-contents {
        display: contents;
    }

    .dui.dui-show-on-small-and-down.dui-list-item {
        display: list-item;
    }

}