@media screen and (min-width: 992px) and (max-width: 1200px){

    .dui-span-m-1 {
        grid-column-end: span 1;
    }

    .dui-span-m-2 {
        grid-column-end: span 2;
    }

    .dui-span-m-3 {
        grid-column-end: span 3;
    }

    .dui-span-m-4 {
        grid-column-end: span 4;
    }

    .dui-span-m-5 {
        grid-column-end: span 5;
    }

    .dui-span-m-6 {
        grid-column-end: span 6;
    }

    .dui-span-m-7 {
        grid-column-end: span 7;
    }

    .dui-span-m-8 {
        grid-column-end: span 8;
    }

    .dui-span-m-9 {
        grid-column-end: span 9;
    }

    .dui-span-m-10 {
        grid-column-end: span 10;
    }

    .dui-span-m-11 {
        grid-column-end: span 11;
    }

    .dui-span-m-12 {
        grid-column-end: span 12;
    }

    .dui-span-m-13 {
        grid-column-end: span 13;
    }

    .dui-span-m-14 {
        grid-column-end: span 14;
    }

    .dui-span-m-15 {
        grid-column-end: span 15;
    }

    .dui-span-m-16 {
        grid-column-end: span 16;
    }

    .dui-span-m-17 {
        grid-column-end: span 17;
    }

    .dui-span-m-18 {
        grid-column-end: span 18;
    }

    .dui-span-m-19 {
        grid-column-end: span 19;
    }

    .dui-span-m-20 {
        grid-column-end: span 20;
    }

    .dui-span-m-21 {
        grid-column-end: span 21;
    }

    .dui-span-m-22 {
        grid-column-end: span 22;
    }

    .dui-span-m-23 {
        grid-column-end: span 23;
    }

    .dui-span-m-24 {
        grid-column-end: span 24;
    }

    .dui-span-m-25 {
        grid-column-end: span 25;
    }

    .dui-span-m-26 {
        grid-column-end: span 26;
    }

    .dui-span-m-27 {
        grid-column-end: span 27;
    }

    .dui-span-m-28 {
        grid-column-end: span 28;
    }

    .dui-span-m-29 {
        grid-column-end: span 29;
    }

    .dui-span-m-30 {
        grid-column-end: span 30;
    }

    .dui-span-m-31 {
        grid-column-end: span 31;
    }

    .dui-span-m-32 {
        grid-column-end: span 32;
    }

    .dui-row-12 .dui-span-m-full {
        grid-column-end: span 12;
    }

    .dui-row-16 .dui-span-m-full {
        grid-column-end: span 16;
    }

    .dui-row-18 .dui-span-m-full {
        grid-column-end: span 18;
    }

    .dui-row-24 .dui-span-m-full {
        grid-column-end: span 24;
    }

    .dui-row-32 .dui-span-m-full {
        grid-column-end: span 32;
    }

    /*offset*/
    .dui-offset-m-none {
    }

    .dui-offset-m-0 {
        grid-column-start: 1;
    }

    .dui-offset-m-1 {
        grid-column-start: 2;
    }

    .dui-offset-m-2 {
        grid-column-start: 3;
    }

    .dui-offset-m-3 {
        grid-column-start: 4;
    }

    .dui-offset-m-4 {
        grid-column-start: 5;
    }

    .dui-offset-m-5 {
        grid-column-start: 6;
    }

    .dui-offset-m-6 {
        grid-column-start: 7;
    }

    .dui-offset-m-7 {
        grid-column-start: 8;
    }

    .dui-offset-m-8 {
        grid-column-start: 9;
    }

    .dui-offset-m-9 {
        grid-column-start: 10;
    }

    .dui-offset-m-10 {
        grid-column-start: 11;
    }

    .dui-offset-m-11 {
        grid-column-start: 12;
    }

    .dui-offset-m-12 {
        grid-column-start: 13;
    }

    .dui-offset-m-13 {
        grid-column-start: 14;
    }

    .dui-offset-m-14 {
        grid-column-start: 15;
    }

    .dui-offset-m-15 {
        grid-column-start: 16;
    }

    .dui-offset-m-16 {
        grid-column-start: 17;
    }

    .dui-offset-m-17 {
        grid-column-start: 18;
    }

    .dui-offset-m-18 {
        grid-column-start: 19;
    }

    .dui-offset-m-19 {
        grid-column-start: 20;
    }

    .dui-offset-m-20 {
        grid-column-start: 21;
    }

    .dui-offset-m-21 {
        grid-column-start: 22;
    }

    .dui-offset-m-22 {
        grid-column-start: 23;
    }

    .dui-offset-m-23 {
        grid-column-start: 24;
    }

    .dui-offset-m-24 {
        grid-column-start: 25;
    }

    .dui-offset-m-25 {
        grid-column-start: 26;
    }

    .dui-offset-m-26 {
        grid-column-start: 27;
    }

    .dui-offset-m-27 {
        grid-column-start: 28;
    }

    .dui-offset-m-28 {
        grid-column-start: 29;
    }

    .dui-offset-m-29 {
        grid-column-start: 30;
    }

    .dui-offset-m-30 {
        grid-column-start: 31;
    }

    .dui-offset-m-31 {
        grid-column-start: 32;
    }
}