@import url(materialize.css);

/* Navbar ====================================== */
.navbar {
    font-family: "Roboto", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
}

.navbar .navbar-brand {
}

.navbar .navbar-custom-right-menu {
}

.navbar .navbar-toggle {
    text-decoration: none;
    color: #fff;
}

.navbar .navbar-toggle:before {
    content: '\E8D5';
    font-family: 'Material Icons';
    font-size: 26px;
}

.navbar .navbar-collapse.in {
}

/* Card ======================================== */
.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.card .card-inside-title {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    color: #000;
}

.card .card-inside-title small {
    color: #999;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.card .card-inside-title small a {
    color: #777;
    font-weight: bold;
}

.card .card-inside-title:first-child {
    margin-top: 0;
}

.card [class*="bg-"] {
    border-bottom: none !important;
    color: #fff !important;
}

.card [class*="bg-"] h2, .card [class*="bg-"] small, .card [class*="bg-"] .material-icons {
    color: #fff !important;
}

.card [class*="bg-"] .badge {
    background-color: #fff;
    color: #555;
}

.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header .header-dropdown {
    position: absolute;
    top: 20px;
    right: 15px;
    list-style: none;
}

.card .header .header-dropdown .dropdown-menu li {
    display: block !important;
}

.card .header .header-dropdown li {
    display: inline-block;
}

.card .header .header-dropdown i {
    font-size: 20px;
    color: #999;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.card .header .header-dropdown i:hover {
    color: #202020;
}

.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}

.card .header h2 small {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    line-height: 15px;
}

.card .header h2 small a {
    font-weight: bold;
    color: #777;
}

.card .header .col-xs-12 h2 {
    margin-top: 5px;
}

.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}

.card .body [class*="col-"] {
    margin-bottom: 20px;
}