.theme-deep-purple .bg-theme {
  background-color: #673AB7 !important;
  color: #fff; }
.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
  color: #fff !important; }

.theme-deep-purple .navbar {
  background-color: #673AB7; }

.theme-deep-purple .navbar-brand {
  color: #fff; }
  .theme-deep-purple .navbar-brand:hover {
    color: #fff; }
  .theme-deep-purple .navbar-brand:active {
    color: #fff; }
  .theme-deep-purple .navbar-brand:focus {
    color: #fff; }

.theme-deep-purple .nav > li > a {
  color: #fff; }
  .theme-deep-purple .nav > li > a:hover {
    background-color: transparent; }
  .theme-deep-purple .nav > li > a:focus {
    background-color: transparent; }

.theme-deep-purple .nav .open > a {
  background-color: transparent; }
  .theme-deep-purple .nav .open > a:hover {
    background-color: transparent; }
  .theme-deep-purple .nav .open > a:focus {
    background-color: transparent; }

.theme-deep-purple .bars {
  color: #fff; }

.theme-deep-purple .menu .list li.active {
  background-color: transparent; }
  .theme-deep-purple .menu .list li.active > :first-child i, .theme-deep-purple .menu .list li.active > :first-child span {
    color: #673AB7; }

.theme-deep-purple .menu .list .toggled {
  background-color: transparent; }

.theme-deep-purple .menu .list .ml-tree {
  background-color: transparent; }

.theme-deep-purple .sidebar .legal {
  background-color: #fff; }
  .theme-deep-purple .sidebar .legal .copyright a {
    color: #673AB7 !important; }

.theme-deep-purple .waves-effect.waves-theme .waves-ripple {
  background: rgba(103, 58, 183, 0.5); }

