.theme-light-green .bg-theme {
    background-color: #8BC34A !important;
    color: #fff; }
.bg-light-green .content .text,
.bg-light-green .content .number {
    color: #fff !important; }

.theme-light-green .navbar {
    background-color: #8BC34A; }

.theme-light-green .navbar-brand {
    color: #fff; }
.theme-light-green .navbar-brand:hover {
    color: #fff; }
.theme-light-green .navbar-brand:active {
    color: #fff; }
.theme-light-green .navbar-brand:focus {
    color: #fff; }

.theme-light-green .nav:not([class*="nav-tab"]) > li > a {
    color: #fff; }
.theme-light-green .nav > li > a:hover {
    background-color: transparent; }
.theme-light-green .nav > li > a:focus {
    background-color: transparent; }

.theme-light-green .nav .open > a {
    background-color: transparent; }
.theme-light-green .nav .open > a:hover {
    background-color: transparent; }
.theme-light-green .nav .open > a:focus {
    background-color: transparent; }

.theme-light-green .bars {
    color: #fff; }

.theme-light-green .menu .list li.active {
    background-color: transparent; }
.theme-light-green .menu .list li.active > :first-child i, .theme-light-green .menu .list li.active > :first-child span {
    color: #8BC34A; }

.theme-light-green .menu .list .toggled {
    background-color: transparent; }

.theme-light-green .menu .list .ml-tree {
    background-color: transparent; }

.theme-light-green .sidebar .legal {
    background-color: #fff; }
.theme-light-green .sidebar .legal .copyright a {
    color: #8BC34A !important; }

.theme-light-green .waves-effect.waves-theme .waves-ripple {
    background: rgba(139, 195, 74, 0.5); }