.dui-chip {
    background-color: var(--dui-chip-background);
    border-radius: var(--dui-chip-border-radius);
    min-width: var(--dui-chip-min-width);
    height: var(--dui-chip-height);
    margin: var(--dui-chip-margin);
    line-height: var(--dui-chip-line-height);
    text-align: var(--dui-chip-text-align);
    padding: var(--dui-chip-padding);
    cursor: var(--dui-chip-cursor);
    display: inline-flex;
    align-items: center;
    vertical-align: var(--dui-chip-vertical-align);
    border: var(--dui-chip-border);
    border-color: var(--dui-bg-clr, var(--dui-chip-border-color));

}

.dui-chip[disabled] {
    cursor: not-allowed;
    background-color: var(--dui-chip-disabled-background);
    pointer-events: none;
    border-color: var(--dui-chip-disabled-border-color);
}

.dui-chip:focus {
    outline: var(--dui-chip-focus-outline);
    box-shadow: var(--dui-chip-focus-box-shadow);
}


.dui-chip-value {
    width: var(--dui-chip-value-width);
    white-space: var(--dui-chip-value-whitespace);
    text-align: var(--dui-chip-value-text-align);
}

.dui-chip-addon {
    font-size: var(--dui-chip-addon-font-size);
    line-height: var(--dui-chip-addon-font-size);
}

.dui-chip-addon i.mdi.dui {
    font-size: var(--dui-chip-addon-font-size);
    border-radius: var(--dui-chip-addon-radius);
    width: var(--dui-chip-addon-width);
    height: var(--dui-chip-addon-height);
    margin: var(--dui-chip-addon-mrgin);
    margin-top: 0;
    margin-left: -6px;
}

.dui-chip-addon img.dui {
    border-radius: var(--dui-chip-border-radius);
    width: var(--dui-chip-addon-width);
    height: var(--dui-chip-addon-height);
    margin: var(--dui-chip-addon-mrgin);
}

.dui-chip-addon span.dui {
    line-height: var(--dui-chip-addon-height);
    border-radius: var(--dui-chip-addon-radius);
    width: var(--dui-chip-addon-width);
    height: var(--dui-chip-addon-height);
    margin: var(--dui-chip-addon-mrgin);
    margin-top: 0;
    float: left;
    font-size: var(--dui-chip-addon-span-font-size);
}

.dui-chip-remove {
    cursor: pointer;
    width: var(--dui-chip-addon-width);
    height: var(--dui-chip-addon-height);
}

.dui-chip-remove i.dui.mdi{
    width: var(--dui-chip-addon-width);
    height: var(--dui-chip-addon-height);
    margin: var(--dui-chip-close-mrgin);
}

.dui-chip-remove[readonly] {
    pointer-events: none;
}

.dui.dui-chip-selected {
    background-color: var(--dui-bg-d-2);
    box-shadow: var(--dui-box-shadow-1);
}