.dui-badge {
    position: relative;
    float: var(--dui-badge-float);
    margin: var(--dui-badge-margin);
    padding: var(--dui-badge-padding);
    min-width: var(--dui-badge-min-width);
    font: var(--dui-badge-font);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: var(--dui-badge-radius);
    background-color: var(--dui-badge-background);
    color: var(--dui-fg-50, var(--dui-accent-l-5));
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.dui.mdi .dui-badge:empty,
.dui-badge:empty {
    display: none;
}

.dui.mdi .dui-badge {
    float: none;
    display: inline-block;
    position: relative;
    top: var(--dui-icon-badge-top);
    right: var(--dui-icon-badge-right);
    max-height: var(--dui-icon-badge-height);
    min-height: var(--dui-icon-badge-height);
    min-width: var(--dui-icon-badge-min-width);
    max-width: var(--dui-icon-badge-max-width);
    margin: var(--dui-icon-badge-margin);
    line-height: var(--dui-icon-badge-line-height);
    font-style: var(--dui-icon-badge-font-style);
}