.dui-nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--dui-nav-bar-gap);
    background-color: inherit;
    color: inherit;
    padding: var(--dui-nav-bar-padding);
    border-radius: inherit;
}

.dui-nav-addon {
    column-width: auto;
    margin: var(--dui-nav-bar-addon-margin);
    order: 10;
}
.dui-nav-title {
    margin: var(--dui-nav-bar-title-margin);
    order: 20;
    flex-grow: 1;
}

.dui-nav-utility {
    margin: var(--dui-nav-bar-utility-margin);
    order: 30;
}