.dui-label {
    display: inline;
    font: var(--dui-label-font);
    padding: var(--dui-label-padding);
    margin: var(--dui-label-margin);
    line-height: var(--dui-label-line-height);
    color: var(--dui-clr-white);
    text-align: var(--dui-label-text-align);
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--dui-label-border-radius);
    border: var(--dui-label-border);
}

a.dui-label:hover,
a.dui-label:focus {
    text-decoration: var(--dui-label-link-text-decoration);
    cursor:  var(--dui-label-link-cursor);
}

.dui-label:empty {
    display: none;
}