.dui-collapse-group {
    margin: var(--dui-collapse-group-margin);
    border: var(--dui-collapse-group-border);
    border-radius: 0;
}

.dui-collapse-panel:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.dui-collapse-panel:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.dui-collapse-panel {
    margin: var(--dui-collapse-panel-margin);
}

.dui-collapse-panel + .dui-collapse-panel {
    margin-top: var(--dui-collapse-between-panels-margin);
    border-width: var(--dui-collapse-between-panels-border-width);
    border-style: var(--dui-collapse-between-panels-border-style);
    border-color: var(--dui-collapse-between-panels-border-color);
}

.dui-collapse-panel[disabled],
.dui-collapse-group[disabled] .dui-collapse-panel,
.dui-collapse-panel[disabled] *.dui,
.dui-collapse-group[disabled] .dui-collapse-panel *.dui{
    color: var(--dui-collapse-panel-disabled-color);
    cursor: var(--dui-collapse-panel-disabled-cursor);
}

.dui-panel-title {
    cursor: var(--dui-collapse-panel-title-cursor);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    border-width: var(--dui-collapse-panel-title-border-width);
    border-style: var(--dui-collapse-panel-title-border-style);
    border-color: var(--dui-collapse-panel-title-border-color);
    font: var(--dui-collapse-panel-title-font);
}
.dui-panel-header,
.dui-panel-title {
    margin: var(--dui-collapse-panel-title-margin);
    padding: var(--dui-collapse-panel-title-padding);
    display: flex;
    align-items: center;
}

.dui-panel-header {
    order: 1;
    font: var(--dui-collapse-panel-header-font);
}

.dui-panel-collapsed .dui-panel-title {
    border-bottom: none;
}

.dui-panel-title-icon {
    order: 1;
}
.dui-panel-title *.dui {
    margin: var(--dui-collapse-panel-title-items-margin);
}
.dui-panel-title-text {
    flex-grow: 1;
    order: 2;
}
.dui-panel-title-utility{
    order: 999999;
}

.dui-panel-content {
    display: flex;
    flex-direction: column;
}

.dui-panel-body {
    order: 2;
    padding: var(--dui-collapse-panel-body-padding);
}

.dui-panel-footer {
    order: 3;
    border-width: var(--dui-collapse-panel-footer-border-width);
    border-style: var(--dui-collapse-panel-footer-border-style);
    border-color: var(--dui-collapse-panel-footer-border-color);
    padding: var(--dui-collapse-panel-footer-padding);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.dui-panel-title:empty,
.dui-panel-content:empty,
.dui-panel-header:empty,
.dui-panel-body:empty,
.dui-panel-footer:empty{
    display: none;
}