.dui-list {
    padding: var(--dui-list-group-padding);
    margin-bottom: var(--dui-list-group-margin);
    border: var(--dui-list-group-border);
    border-radius: var(--dui-list-group-radius);
}

.dui-list-item {
    position: relative;
    display: block;
    outline: var(--dui-list-group-item-outline);
    cursor: var(--dui-list-group-item-cursor);
    padding: var(--dui-list-group-item-padding);
}

.dui-list .dui-list-item:first-child{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.dui-list .dui-list-item:last-child{
    margin-bottom: -1px;
}

.dui-list .dui-list-item:last-child{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.dui-list .dui-list-item:first-child,
.dui-list-item + .dui-list-item {
    border-width: var(--dui-list-group-item-border-width);
    border-style: var(--dui-list-group-item-border-style);
    border-color: var(--dui-list-group-item-border-color);
}

.dui-list:disabled .dui-list-item,
.dui-list-item:disabled {
    cursor: var(--dui-list-group-item-disabled-cursor);
}