.dui-quick-search {
    display: flex;
    gap: var(--dui-quick-search-gap);
    background-color: var(--dui-quick-search-background-color);
    padding: var(--dui-quick-search-padding);
    border-radius: var(--dui-quick-search-radius);
    color: var(--dui-quick-search-color);
}

.dui-quick-search-icon {
    order: 10;
}

.dui-quick-search-utility {
    order: 30;
}

.dui-quick-search-input{
    display: inline-block;
    flex-grow: 1;
    min-width: 1px;
    order: 20;
    border: var(--dui-quick-search-input-border);
    background: var(--dui-quick-search-input-background);
    font: var(--dui-quick-search-input-font);
    color: inherit;
}

.dui-quick-search-input:focus {
    outline: var(--dui-quick-search-input-focus-outline);
}

.dui-quick-search-input::placeholder{
    color: inherit;
    opacity: var(--dui-quick-search-input-placeholder-opacity);
}