@font-face {
    font-family: "dui-OpenSans";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: "dui-OpenSans";
    src: url("../../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: italic;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: "dui-RobotoMono";
    src: url("../../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: "dui-RobotoMono";
    src: url("../../fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: italic;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: "dui-Montserrat";
    src: url("../../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: normal;
    font-stretch: 75% 125%;
}
@font-face {
    font-family: "dui-Montserrat";
    src: url("../../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 900;
    font-style: italic;
    font-stretch: 75% 125%;
}