.dui-breadcrumb{
    background-color: var(--dui-bc-default-bg);
    font: var(--dui-bc-font);
    margin: var(--dui-bc-margin);
    padding: var(--dui-bc-padding);
    list-style: none;
}

.dui-breadcrumb > li.dui {
    display: inline-block;
}

.dui-breadcrumb > li.dui a.dui{
    cursor: var(--dui-bc-active-cursor);
}

.dui-breadcrumb > li.dui,
.dui-breadcrumb > li.dui a.dui{
    color: inherit;
}

.dui-breadcrumb > li.dui + li.dui:before {
    padding: var(--dui-bc-arrow-padding);
    content: var(--dui-bc-arrow-content);
}

.dui-breadcrumb > .dui-active {
    opacity: var(--dui-bc-disabled-opacity);
}

.dui-breadcrumb li.dui .dui.mdi,
.dui-breadcrumb li.dui a.dui .dui.mdi {
    margin: var(--dui-bc-icon-margin);
    line-height: 24px;
}

.dui-breadcrumb li.dui .dui.mdi.mdi-18px {
    line-height: 18px;
}
.dui-breadcrumb li.dui .dui.mdi.mdi-24px {
    line-height: 24px;
}
.dui-breadcrumb li.dui .dui.mdi.mdi-36px {
    line-height: 36px;
}
.dui-breadcrumb li.dui .dui.mdi.mdi-48px {
    line-height: 48px;
}

.dui-breadcrumb[disabled] a.dui,
.dui-breadcrumb li.dui[disabled] a.dui,
.dui-breadcrumb li.dui a.dui[disabled]{
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
    opacity: var(--dui-bc-disabled-opacity);
}