.dui-btn {
    font: var(--dui-btn-font);
    text-transform: var(--dui-btn-text-transform);
    -webkit-appearance: button;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: var(--dui-btn-cursor);
    user-select: none;
    background-image: none;
    border: var(--dui-btn-border);
    line-height: var(--dui-btn-line-height);
    padding: var(--dui-btn-padding);
    border-radius: var(--dui-btn-border-radius);
    box-shadow: var(--dui-btn-box-shadow);
    transition: var(--dui-btn-transition);
    color: var(--dui-text-color);
}

.dui-btn.dui-btn-split {
    padding: 0;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    box-shadow: var(--dui-btn-box-shadow);
}

.dui-btn-group .dui-btn.dui-btn-split,
.dui-btn-group.dui-vertical .dui-btn.dui-btn-split {
    display: flex;
}

.dui-btn.dui-btn-split .dui-btn {
    box-shadow: none;
    border-radius: 0;
    background-color: inherit;
    color: inherit;
}

.dui-btn.dui-btn-split .dui-btn:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    flex-grow: 1;
}

.dui-btn.dui-btn-split .dui-btn:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.dui-btn.dui-btn-split .dui-btn:focus,
.dui-btn.dui-btn-split .dui-btn:hover {
    box-shadow: none;
}

.dui-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.dui-btn[disabled],
fieldset[disabled] .dui-btn {
    cursor: var(--dui-btn-disabled-cursor);
    pointer-events: var(--dui-btn-disabled-pointer-events);
    opacity: var(--dui-btn-disabled-opacity);
}

.dui-btn:not(.dui-btn-split):focus,
.dui-btn:not(.dui-btn-split):hover {
    outline: none;
    background-color: var(--dui-bg-d-2);
    color: var(--dui-text-color);
    box-shadow: var(--dui-btn-focus-box-shadow);
}

.dui-btn:hover,
.dui-btn:focus {
    text-decoration: none;
}
.dui-btn-group .dui-btn:hover,
.dui-btn-group .dui-btn:focus {
    box-shadow: none;
}

.dui-btn.dui-lg,
.dui-btn-group.dui-lg > .dui-btn {
    font-size: var(--dui-btn-lg-font-size);
    line-height: var(--dui-btn-lg-line-height);
    padding: var(--dui-btn-lg-padding);
}

.dui-btn.dui-md,
.dui-btn-group.dui-md > .dui-btn {
    font-size: var(--dui-btn-md-font-size);
    line-height: var(--dui-btn-md-line-height);
    padding: var(--dui-btn-md-padding);
}

.dui-btn.dui-sm,
.dui-btn-group.dui-sm > .dui-btn {
    font-size: var(--dui-btn-sm-font-size);
    line-height: var(--dui-btn-sm-line-height);
    padding: var(--dui-btn-sm-padding);
}

.dui-btn.dui-xs,
.dui-btn-group.dui-xs > .dui-btn {
    font-size: var(--dui-btn-xs-font-size);
    line-height: var(--dui-btn-xs-line-height);
    padding: var(--dui-btn-xs-padding);
}

.dui-btn.dui-circle {
    aspect-ratio: 1/1;
    border-radius: var(--dui-spc-1_2p);
}
.dui-btn-group{
    display: inline-flex;
}
.dui-btn-group.dui-vertical {
    display: inline-block;
}

.dui-btn-group,
.dui-btn-group.dui-vertical {
    position: relative;
    vertical-align: middle;
    box-shadow: var(--dui-btn-group-box-shadow);
    border-radius: var(--dui-btn-group-border-radius);
}

.dui-btn-split > .dui-btn,
.dui-btn-group > .dui-btn,
.dui-btn-group.dui-vertical > .dui-btn {
    position: relative;
    float: left;
}

.dui-btn-toolbar > .dui-btn,
.dui-btn-toolbar > .dui-btn-group {
    margin-left: var(--dui-btn-toolbar-group-spacing);
}

.dui-btn-group.dui-vertical > .dui-btn,
.dui-btn-group.dui-vertical > .dui-btn-group,
.dui-btn-group.dui-vertical > .dui-btn-group > .dui-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}

.dui-btn-group .dui-btn {
    border-radius: 0;
    box-shadow: none;
}

.dui-btn-group:not(.dui-vertical) > .dui-btn:first-child {
    border-top-left-radius: var(--dui-btn-group-border-radius);
    border-bottom-left-radius: var(--dui-btn-group-border-radius);
}

.dui-btn-group:not(.dui-vertical) > .dui-btn:last-child  {
    border-top-right-radius: var(--dui-btn-group-border-radius);
    border-bottom-right-radius: var(--dui-btn-group-border-radius);
}

.dui-btn-group.dui-vertical > .dui-btn:first-child {
    border-top-left-radius: var(--dui-btn-group-border-radius);
    border-top-right-radius: var(--dui-btn-group-border-radius);
}

.dui-btn-group.dui-vertical> .dui-btn:last-child  {
    border-bottom-left-radius: var(--dui-btn-group-border-radius);
    border-bottom-right-radius: var(--dui-btn-group-border-radius);
}

a.dui-btn {
    background-color: var(--dui-btn-link-bg);
    box-shadow: var(--dui-btn-link-box-shadow);
}