.dui.mdi {
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
}

.dui.dui-clickable {
    cursor: var(--dui-clickable-cursor);
    border-radius: var(--dui-spc-9999px);
}

.dui.dui-clickable:hover {
    transition: var(--dui-clickable-transition);
    background: var(--dui-bg-d-3);
    transform-origin: 50% 50%;
    transform: var(--dui-clickable-transform);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 40%), 0 0 0 10px rgb(0 0 0 / 8%);
}

*.dui[disabled] .dui.mdi.dui-clickable:hover {
    background: none;
    box-shadow: none;
}

.dui.mdi .dui-mdi-text{
    float: right;
}
.dui.mdi .dui-mdi-text,
.dui.mdi + .dui-mdi-text{
    vertical-align: middle;
}
.dui.mdi{
    min-width: 28px;
    max-width: 28px;
    max-height: 28px;
    min-height: 28px;
    line-height: 28px;
    text-align: center;
}
.dui.mdi.mdi-18px {
    min-width: 22px;
    max-height: 22px;
    min-height: 22px;
    max-width: 22px;
    line-height: 22px;
}
.dui.mdi.mdi-24px {
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
    line-height: 28px;

}
.dui.mdi.mdi-36px {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 40px;
}
.dui.mdi.mdi-48px {
    min-width: 52px;
    max-width: 52px;
    min-height: 52px;
    max-height: 52px;
    line-height: 52px;
}
.mdi-18px .dui-mdi-text,
.mdi-18px + .dui-mdi-text {
    display: inline-block;
    line-height: 22px;
}
.dui-mdi-text,
.mdi-24px .dui-mdi-text,
.mdi-24px + .dui-mdi-text {
    display: inline-block;
    line-height: 28px;
}
.mdi-36px .dui-mdi-text,
.mdi-36px + .dui-mdi-text {
    display: inline-block;
    line-height: 40px;
}
.mdi-48px .dui-mdi-text,
.mdi-48px + .dui-mdi-text {
    display: inline-block;
    line-height: 52px;
}