.badge {
    display: inline-flex;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
}

.badge:not([class*="bg-"]) {
    background-color: #fff;
    color: #555;
}

.badge[class*="bg-"]{
    color: #ffffff;
}

.badge:empty {
    display: none;
}