.split-panel {
    overflow: hidden;
}

.split-panel.horizontal > div {
    height: 100%;
    width: 42%;
    width: calc(50% - .5em);
}

.split-panel > div {
    display: block;
    float: left;
}

.split-panel.horizontal > div.splitter {
    width: 0.5em;
    cursor: col-resize;
}

.split-panel > div.splitter.dock > div {
    width: 0.5em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center;

}

.split-panel,
.split-panel > div,
.split-panel > div.splitter > div {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.split-panel > div.splitter > div {
    width: .2rem;
    height: 1em;
    position: relative;
}

.split-panel.horizontal > div.splitter > div {
    margin-top: 0;
    top: 50%;
    margin-left: 25%;
    height: 20px;
    width: 50%;
}

.split-panel.vertical > div {
    width: 100%;
    height: 42%;
    height: calc(50% - .5em);
}

.split-panel.vertical > div.splitter {
    height: 0.5em;
    cursor: row-resize;
}

.split-panel.vertical > div.splitter > div {
    width: 20px;
    line-height: 20px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}