.field-group {
    margin-bottom: 15px;
}

.field-group.floating.rounded .field-label:after {

}

.field-group.condensed {
    margin-bottom: 5px;
}

.field-root {
    position: relative;
}

.field-group label.error {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    font-weight: normal;
    color: #F44336;
}

.field-group.rounded .field-cntr {
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    height: 40px;
}

.field-group.lined .field-cntr {
    padding: 20px 6px 6px;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    height: 52px;
}

.field-group .field-cntr {
    width: 100%;
}

.field-group.auto-height .field-cntr {
    height: auto;
}

.field-group.readonly .field-cntr {
    border: 0px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.field-group.rounded.focused.error:not([class*="d-checkbox"]):not([class*="switch"]):not([class*="radio-group"]) .field-cntr,
.field-group.rounded.error:not([class*="d-checkbox"]):not([class*="switch"]):not([class*="radio-group"]) .field-cntr {
    border: 1px solid #F44336;
}

.field-group.rounded.focused.error.d-checkbox .field-cntr,
.field-group.rounded.focused.error.switch .field-cntr,
.field-group.rounded.focused.error.radio-group .field-cntr,
.field-group.rounded.error.d-checkbox .field-cntr,
.field-group.rounded.error.switch .field-cntr,
.field-group.rounded.error.radio-group .field-cntr {
    border: none;
}

.field-group.lined.focused.error:not([class*="d-checkbox"]):not([class*="switch"]):not([class*="radio-group"]) .field-cntr,
.field-group.lined.error:not([class*="d-checkbox"]):not([class*="switch"]):not([class*="radio-group"]) .field-cntr {
    border-bottom: 1px solid #F44336;
}


.field-group.lined:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}

.field-group.rounded:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr {
    border: 1px solid #DAE1E8;
}

.field-group.lined.focused:not([class*="readonly"]) .field-cntr {
    background-color: #e5e5e5;
}

.field-group.rounded.focused:not([class*="readonly"]) .field-cntr {
    border: 1px solid #2196F3;
}

.field-group .notes-cntr {
    width: 100%;
}

.field-group.readonly .field-mandatory-addon {
    display: none;
}

.field-group .field-lft-addons {
    color: rgba(0, 0, 0, .54);
    padding-right: 10px;
    max-height: 29px;
}

.field-group .field-rgt-addons {
    color: rgba(0, 0, 0, .54);
    padding-left: 10px;
    max-height: 29px;
}

.field-group .clickable-icon,
.field-group .clickable-icon {
    padding-top: 0px;
    width: 28px;
    height: 28px;
}

.field-group .field-prefix {
    line-height: 29px;
    padding-left: 2px;
    padding-right: 2px;
    color: #5d5d5d;
    white-space: nowrap;
}

.field-group:not([class*="readonly"]) .field-postfix,
.field-group:not([class*="readonly"]) .field-prefix {
    color: #1d1d1d;
}

.field-group .field-note {
    flex-grow: 1;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;
    letter-spacing: .0333333333em;
    text-decoration: inherit;
    text-transform: inherit;
    padding-top: 3px;
}

.field-group .field-helper,
.field-group .field-counter {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.field-group .field-errors {
    color: #F44336;
}

.field-group .field-input-cntr {
    position: relative;
    width: 100%;
}

.field-group.readonly .field-label,
.field-group .field-label:not([class*="col-"]) {
    color: #5d5d5d;
}

.field-group.d-checkbox.error .field-label {
    color: #5d5d5d;
}

.field-group .field-label {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;
    left: 0px;
    top: 6px;
}

.field-group.lined.floating:not([class*="switch"]):not([class*="d-checkbox"]):not([class*="radio-group"]) .field-label {
    top: -15px;
}

.field-group.rounded.readonly.floating:not([class*="switch"]):not([class*="d-checkbox"]) .field-label {
    background-color: transparent;
}

.field-group.rounded.floating:not([class*="switch"]):not([class*="d-checkbox"]) .field-label {
    top: -14px;
    background-color: transparent;
    padding-left: 3px;
    padding-right: 3px;
    left: 5px;
    z-index: 9;
}

.field-group.rounded.floating:not([class*="switch"]):not([class*="d-checkbox"]) .field-label span:not(:empty):after {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    top: 8px;
    z-index: -2;
}

.field-group.lined input,
.field-group.lined .select-button {
    line-height: 27px;
}

.field-group.rounded input,
.field-group .rounded.select-button {
    line-height: 33px;
}

.field-group input {
    height: 27px;
}

.field-group .select-button {
    height: 35px;
    line-height: 35px;
}

.field-group input,
.field-group textarea {
    width: 100%;
    background: transparent;
    color: #555;
    border: 0px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto, sans-serif;
}

.field-group textarea {
    padding-top: 3px;
    padding-bottom: 1px;
    line-height: 22px;
    vertical-align: middle;
}

.field-group.lined textarea {
    min-height: 25px;
}

.field-group.lined textarea {
    min-height: 25px;
}

.field-group.rounded textarea {
    min-height: 28px;
}

.field-group.disabled textarea {
    color: rgba(0, 0, 0, 0.3);
}

.field-group input[readonly][disabled],
.field-group textarea[readonly][disabled],
.field-group button[readonly][disabled] {
    color: #555;
}

.field-group .field-postfix {
    line-height: 26px;
    padding-right: 2px;
    color: #5d5d5d;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
}

.field-group.disabled,
.field-group.disabled .field-postfix,
.field-group.disabled .field-prefix,
.field-group.disabled .field-label,
.field-group.disabled .field-helper,
.field-group.disabled .field-counter,
.field-group.disabled .field-rgt-addons,
.field-group.disabled .field-lft-addons,
.field-group.disabled .select-button,
.field-group.disabled input {
    color: rgba(0, 0, 0, 0.3);
}


/*----------- checkbox -------------------*/

.field-group.lined.d-checkbox .field-cntr,
.field-group.rounded.d-checkbox .field-cntr {
    padding: 10px;
    height: 100%;
}

.field-group.d-checkbox.focused:not([class*="readonly"]) .field-cntr {
    background-color: transparent;
}

.field-group.lined.d-checkbox:not([class*="focused"]):not([class*="readonly"]) .field-cntr,
.field-group.rounded.d-checkbox:not([class*="focused"]):not([class*="readonly"]) .field-cntr {
    border: none;
}

.field-group.switch .field-cntr,
.field-group.d-checkbox .field-cntr {
    border: none;
    background-color: transparent;
}

.field-group.rounded.switch.focused .field-cntr,
.field-group.lined.switch.focused .field-cntr,
.field-group.rounded.d-checkbox.focused .field-cntr,
.field-group.lined.d-checkbox.focused .field-cntr {
    border: none;
    background-color: transparent;
}

.field-group.d-checkbox.floating .field-label {
    top: 6px;
}

.field-group.d-checkbox:not([class*="disabled"]) input[type="checkbox"] {
    cursor: pointer;
}

.field-group.d-checkbox input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

.field-group.d-checkbox.focused:not([class*="disabled"]) .field-label[class*="col-"] {
    color: #5d5d5d;
}

.d-checkbox input[type="checkbox"] {
    width: 1px;
    height: 1px;
}

.d-checkbox .field-label:before,
.d-checkbox:not(.filled-in) .field-label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

.d-checkbox:not(.filled-in) .field-label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.d-checkbox:not(.checked).disabled .field-label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26);
}

.field-group.d-checkbox.readonly .field-label:before,
.field-group.d-checkbox.readonly .field-label:after {
    display: none;
}

.field-group.lined.d-checkbox.readonly .field-label,
.field-group.rounded.d-checkbox.readonly .field-label {
    padding-left: 0px;
}

.d-checkbox.checked .field-label:before {
    left: -2px;
    width: 11px;
    height: 19px;
}

.d-checkbox.checked .field-label:before {
    /*top: -4px;*/
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.d-checkbox.checked.disabled .field-label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

.d-checkbox.filled-in .field-label:after {
    border-radius: 2px;
}

.d-checkbox.filled-in .field-label:before,
.d-checkbox.filled-in .field-label:after {
    content: '';
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

.d-checkbox.filled-in:not(.checked) .field-label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}

.d-checkbox.filled-in:not(.checked) .field-label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0;
}

.d-checkbox.filled-in[class*="col-"].checked .field-label:before
.d-checkbox.filled-in.checked .field-label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.d-checkbox.filled-in.checked .field-label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

.d-checkbox.filled-in.disabled:not(.checked) .field-label:before {
    background-color: transparent;
    border: 2px solid transparent;
}

.d-checkbox.filled-in.disabled:not(.checked) .field-label:after {
    border-color: transparent;
    background-color: #BDBDBD;
}

.d-checkbox.filled-in.disabled.checked .field-label:before {
    background-color: transparent;
}

.d-checkbox.filled-in.disabled.checked .field-label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

/* Remove default checkbox */
.d-checkbox:not(.checked) input[type="checkbox"],
.d-checkbox.checked input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.d-checkbox input[type="checkbox"] {
    /* checkbox aspect */
}

.d-checkbox .field-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto,sans-serif;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.field-group.radio-group .field-cntr,
.field-group.switch .field-cntr {
    height: auto;
    background-color: transparent;
}

.field-group.switch.readonly .lever {
    display: none;
}

.field-group.rounded.switch.focused:not([class*="readonly"]) .field-cntr,
.field-group.lined.switch.focused:not([class*="readonly"]) .field-cntr
.field-group.rounded.radio-group.focused:not([class*="readonly"]) .field-cntr,
.field-group.lined.radio-group.focused:not([class*="readonly"]) .field-cntr {
    background-color: transparent;
}

.field-group.lined.switch:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.field-group.lined.radio-group:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.field-group.rounded.switch:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.field-group.rounded.radio-group:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr {
    border: none;
}
.field-group.lined.radio-group.focused:not([class*="readonly"]) .field-cntr {
    border-bottom: 0px;
}

.field-group.radio-group .radio-option {
    margin-bottom: 25px;
}

.field-group.radio-group.condensed .radio-option {
    margin-bottom: 5px;
}

.field-group.radio-group.horizontal .radio-option {
    margin: 5px;
    width: auto;
}

.field-group.radio-group.readonly .radio-option:not([class*="checked"]) {
    display: none;
}

.field-group.radio-group.readonly .radio-option.checked label {
    padding-left: 0px;
}

.field-group.radio-group.readonly .radio-option.checked label::after,
.field-group.radio-group.readonly .radio-option.checked label::before {
    display: none;
}


.field-group.switch .field-label,
.field-group.switch.focused .field-label,
.field-group.radio-group .field-label,
.field-group.radio-group.focused .field-label {
    top: -20px;
}

.field-group.switch .switch-label {
    margin-top: 7px;
}

.d-checkbox.filled-in[class*="col-"].checked .field-label:before,
.d-checkbox.filled-in.checked .field-label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.table-cm-filter .field-group .field-cntr {
    padding-top: 2px;
    height: 34px;
}

.table-cm-filter .field-group.rounded .select-button,
.table-cm-filter .field-group.lined .select-button {
    line-height: 30px;
}

.field-group.table-field {
    margin-bottom: 0px;
}

.field-group.table-field:not([class*="d-checkbox"]) .field-label {
    display: none;
}

.field-group.table-field .field-cntr {
    padding: 2px;
    height: 34px;
}

.field-group.table-field .field-cntr .select-button {
    line-height: 30px;
}

.radio-option:not(.checked) input[type="radio"],
.radio-option.checked  input[type="radio"]{
    position: absolute;
    left: -9999px;
    opacity: 0
}

.radio-option:not(.checked) label,
.radio-option.checked label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto,sans-serif;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radio-option label:before,
.radio-option label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease
}

.radio-option:not(.checked) label:before,
.radio-option:not(.checked) label:after,
.radio-option.checked label:before,
.radio-option.checked label:after,
.radio-option.with-gap.checked label:before,
.radio-option.with-gap.checked label:after {
    border-radius: 50%
}

.radio-option:not(.checked) label:before,
.radio-option:not(.checked) label:after {
    border: 2px solid #5a5a5a
}

.radio-option:not(.checked) label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.radio-option.checked label:before {
    border: 2px solid transparent
}

.radio-option.checked label:after,
.radio-option.with-gap.checked label:before,
.radio-option.with-gap.checked label:after {
    border: 2px solid #26a69a
}

.radio-option.checked label:after,
.radio-option.with-gap.checked label:after {
    background-color: #26a69a;
    z-index: 0
}

.radio-option.checked label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.radio-option.with-gap.checked label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
}

.radio-option.with-gap.disabled checked label:before {
    border: 2px solid rgba(0, 0, 0, 0.26)
}

.radio-option.with-gap.disabled.checked label:after {
    border: 0;
    background-color: rgba(0, 0, 0, 0.26)
}

.radio-option.disabled:not(.checked) label:before,
.radio-option.disabled.checked label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.26)
}

.radio-option.disabled label {
    color: rgba(0, 0, 0, 0.26)
}

.radio-option.disabled:not(.checked) label:before {
    border-color: rgba(0, 0, 0, 0.26)
}

.radio-option.disabled.checked label:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: #bdbdbd
}

.radio-option:not(.checked) label,
.radio-option.checked label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto,sans-serif;
}

.radio-option[class*="col-"]{
    color: #333;
}
.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

.switch label {
    cursor: pointer
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #26a69a;
    left: 24px
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px
}

.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08)
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08)
}

.switch input[type=checkbox][disabled]+.lever {
    cursor: default
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #bdbdbd
}

.field-group.tags-input .field-cntr {
    height: auto;
}

.tags-input {
    min-height: 50px;
    display: flex;
    height: 100%;
    padding-top: 5px;
    flex-wrap: wrap;
    cursor: pointer;
}

.tags-input.readonly,
.tags-input.disabled {
    pointer-events: none;
}

.tag-value {
    margin-right: 5px;
}

.tags-input.readonly .tag-remove {
    display: none;
}

.tag-remove {
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
}

.tag-remove[disabled] {
    cursor: not-allowed;
    pointer-events: none;
}

.tags-input.readonly .chip {
    cursor: default;
}

.tags-input.readonly .chip-remove {
    display: none !important;
}

.tag-text-input {
    border: none;
    margin-left: 15px;
    margin-top: 5px;
    height: 30px;
}

.tag-text-input.disabled,
.tag-text-input.readonly {
    background: transparent;
    cursor: not-allowed;
}

.tags-input.readonly .tag-text-input,
.tags-input.disabled .tag-text-input{
    display: none;
}

.switch label {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .009375em;
    font-family: Roboto,sans-serif;
}

.switch label .lever {
    margin: 0 14px;
}

.switch[readonly] .lever {
    display: none;
}

.switch label input[type=checkbox]:checked:not(:disabled) ~ .lever.switch-col-black:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-black:after {
    background-color: #000000;
}

.switch label input[type=checkbox]:checked:not(:disabled) ~ .lever.switch-col-white:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(255, 255, 255, 0.1);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-white {
    background-color: rgba(255, 255, 255, 0.5);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-white:after {
    background-color: #ffffff;
}
