.clickable-icon {
    width: 32px;
    height: 32px;
    padding-top: 4px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.clickable-icon.small-icon {
    width: 16px;
    height: 16px;
    line-height: 8px;
    padding-left: 1px;
    text-align: center;
}

.clickable-icon:HOVER {
    opacity: 0.8;
    background-color: rgba(32, 33, 36, 0.1);
}

.clickable-icon:disabled {
    cursor: not-allowed;
}

.labeled-icon .right-node {
    position: absolute;
}

.labeled-icon .text-node {
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
