.dui.dui-bg-l-5 {
    background-color: var(--dui-bg-l-5);
}

.dui.dui-bg-l-4 {
    background-color: var(--dui-bg-l-4);
}

.dui.dui-bg-l-3 {
    background-color: var(--dui-bg-l-3);
}

.dui.dui-bg-l-2 {
    background-color: var(--dui-bg-l-2);
}

.dui.dui-bg-l-1 {
    background-color: var(--dui-bg-l-1);
}

.dui.dui-bg {
    background-color: var(--dui-bg);
}

.dui.dui-bg-d-1 {
    background-color: var(--dui-bg-d-1);
}

.dui.dui-bg-d-2 {
    background-color: var(--dui-bg-d-2);
}

.dui.dui-bg-d-3 {
    background-color: var(--dui-bg-d-3);
}

.dui.dui-bg-d-4 {
    background-color: var(--dui-bg-d-4);
}

.dui.dui-fg-l-5 {
    background-color: var(--dui-fg-l-5);
}

.dui.dui-fg-l-4 {
    background-color: var(--dui-fg-l-4);
}

.dui.dui-fg-l-3 {
    background-color: var(--dui-fg-l-3);
}

.dui.dui-fg-l-2 {
    background-color: var(--dui-fg-l-2);
}

.dui.dui-fg-l-1 {
    background-color: var(--dui-fg-l-1);
}

.dui.dui-fg {
    background-color: var(--dui-fg);
}

.dui.dui-fg-d-1 {
    background-color: var(--dui-fg-d-1);
}

.dui.dui-fg-d-2 {
    background-color: var(--dui-fg-d-2);
}

.dui.dui-fg-d-3 {
    background-color: var(--dui-fg-d-3);
}

.dui.dui-fg-d-4 {
    background-color: var(--dui-fg-d-4);
}