.calendar {
    width: 100%;
    display: inline-block;
}

.calendar .date-panel {
    text-align: center;
}

.calendar .day-name {
    text-transform: capitalize;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 15px;
    opacity: 1;
    color: rgba(255, 255, 255, 0.8);
}

.calendar .month-name {
    text-transform: uppercase;
    font-size: 24px;
}

.calendar .dropdown-menu {
    text-transform: capitalize;
}

.calendar .dropdown-toggle {
    text-transform: capitalize;
}

.calendar .date-picker th {
    text-transform: capitalize;
}

.calendar .day-number {
    font-size: 48px;
}

.calendar .year-number {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.date-picker-container {
    padding-left: 10px;
    padding-right: 10px;
}

.calendar .selector-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.calendar .selector-container .selector-row{
    padding-left: 0px;
    padding-right: 0px;
}

.calendar .selector{
    margin-bottom: 0px;
}

.calendar .dropdown-toggle {
    padding-right: 5px !important;
}

.calendar .navigate {
    border-radius: 50%;
    transform: scale(0.9);
    text-align: center;
    color: #7d7d7d;
    font-weight: 600;
    width: 30px;
    height: 30px;
    line-height: 42px
}

.date-picker {
    width: 100%;
}

.date-picker thead {
    border-bottom: 1px solid #E3E3E3;
}

.date-picker th {
    cursor: pointer;
    text-align: center;
    padding: .75rem 0;
}

.date-picker .current-month {
    text-align: center;
    cursor: pointer;
    color: #7d7d7d;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.date-picker .current-month:hover {
    color: #000000;
}

.date-picker .other-month {
    text-align: center;
    cursor: pointer;
    color: #999999;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.date-picker .selected {
    border-radius: 50%;
    transform: scale(0.9);
    line-height: 35px;
    color: #ffffff;
}

.date-picker .selected:HOVER {
    color: #ffffff !important;
}

.date-picker .year-select {
    padding-right: 0px !important;
}

.date-picker .month-select {
    padding-left: 0px !important;
}

.popover.picker-popover{
    max-width: 300px;
}

.popover.picker-popover .popover-content{
    padding: 0px;
    width: 300px;
    max-width: 300px;
}

.calendar .cal-footer {
    padding: 5px;
    text-align: center;
}

.calendar .cal-footer .btn {
    text-transform: uppercase;
    text-overflow: ellipsis;
    max-width: 85px;
    padding: 2px;
}

.calendar .cal-button {
    font-size: 12px;
    padding: 2px 4px;
}

.calendar .field-group.selector .field-cntr {
    background-color: transparent;
    padding: 5px;
    height: 35px;
}

.calendar .field-group.rounded:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.calendar .field-group.rounded.focused:not([class*="readonly"]) .field-cntr{
    border: none;
}
