.dui {
    box-sizing: var(--dui-box-sizing);
}

.dui.dui-space-x-0 > * + * {
    margin-left: var(--dui-spc-0);
}

.dui.dui-space-y-0 > * + * {
    margin-top: var(--dui-spc-0);
}

.dui.dui-inset-0 {
    inset: var(--dui-spc-0);
}

.dui.dui-inset-x-0 {
    left: var(--dui-spc-0);
    right: var(--dui-spc-0);
}

.dui.dui-inset-y-0 {
    top: var(--dui-spc-0);
    bottom: var(--dui-spc-0);
}

.dui.dui-bottom-0 {
    bottom: var(--dui-spc-0);
}

.dui.dui-space-x-px > * + * {
    margin-left: var(--dui-spc-px);
}

.dui.dui-space-y-px > * + * {
    margin-top: var(--dui-spc-px);
}

.dui.dui-space-x-2px > * + * {
    margin-left: var(--dui-spc-2px);
}

.dui.dui-space-y-2px > * + * {
    margin-top: var(--dui-spc-2px);
}

.dui.dui-space-x-4px > * + * {
    margin-left: var(--dui-spc-4px);
}

.dui.dui-space-y-4px > * + * {
    margin-top: var(--dui-spc-4px);
}

.dui.dui-space-x-8px > * + * {
    margin-left: var(--dui-spc-8px);
}

.dui.dui-space-y-8px > * + * {
    margin-top: var(--dui-spc-8px);
}

.dui.dui-space-x-0_5 > * + * {
    margin-left: var(--dui-spc-0_5);
}

.dui.dui-space-y-0_5 > * + * {
    margin-top: var(--dui-spc-0_5);
}

.dui.dui-h-auto {
    height: auto;
}

.dui.dui-space-x-1 > * + * {
    margin-left: var(--dui-spc-1);
}

.dui.dui-space-y-1 > * + * {
    margin-top: var(--dui-spc-1);
}

.dui.dui-space-x-1_5 > * + * {
    margin-left: var(--dui-spc-1_5);
}

.dui.dui-space-y-1_5 > * + * {
    margin-top: var(--dui-spc-1_5);
}

.dui.dui-space-x-2 > * + * {
    margin-left: var(--dui-spc-2);
}

.dui.dui-space-y-2 > * + * {
    margin-top: var(--dui-spc-2);
}

.dui.dui-space-x-2_5 > * + * {
    margin-left: var(--dui-spc-2_5);
}

.dui.dui-space-y-2_5 > * + * {
    margin-top: var(--dui-spc-2_5);
}

.dui.dui-space-x-3 > * + * {
    margin-left: var(--dui-spc-3);
}

.dui.dui-space-y-3 > * + * {
    margin-top: var(--dui-spc-3);
}

.dui.dui-space-x-3_5 > * + * {
    margin-left: var(--dui-spc-3_5);
}

.dui.dui-space-y-3_5 > * + * {
    margin-top: var(--dui-spc-3_5);
}

.dui.dui-space-x-4 > * + * {
    margin-left: var(--dui-spc-4);
}

.dui.dui-space-y-4 > * + * {
    margin-top: var(--dui-spc-4);
}

.dui.dui-space-x-5 > * + * {
    margin-left: var(--dui-spc-5);
}

.dui.dui-space-y-5 > * + * {
    margin-top: var(--dui-spc-5);
}

.dui.dui-space-x-6 > * + * {
    margin-left: var(--dui-spc-6);
}

.dui.dui-space-y-6 > * + * {
    margin-top: var(--dui-spc-6);
}

.dui.dui-space-x-7 > * + * {
    margin-left: var(--dui-spc-7);
}

.dui.dui-space-y-7 > * + * {
    margin-top: var(--dui-spc-7);
}

.dui.dui-space-x-8 > * + * {
    margin-left: var(--dui-spc-8);
}

.dui.dui-space-y-8 > * + * {
    margin-top: var(--dui-spc-8);
}

.dui.dui-space-x-9 > * + * {
    margin-left: var(--dui-spc-9);
}

.dui.dui-space-y-9 > * + * {
    margin-top: var(--dui-spc-9);
}

.dui.dui-space-x-10 > * + * {
    margin-left: var(--dui-spc-10);
}

.dui.dui-space-y-10 > * + * {
    margin-top: var(--dui-spc-10);
}

.dui.dui-space-x-11 > * + * {
    margin-left: var(--dui-spc-11);
}

.dui.dui-space-y-11 > * + * {
    margin-top: var(--dui-spc-11);
}

.dui.dui-space-x-12 > * + * {
    margin-left: var(--dui-spc-12);
}

.dui.dui-space-y-12 > * + * {
    margin-top: var(--dui-spc-12);
}

.dui.dui-space-x-14 > * + * {
    margin-left: var(--dui-spc-14);
}

.dui.dui-space-y-14 > * + * {
    margin-top: var(--dui-spc-14);
}

.dui.dui-space-x-16 > * + * {
    margin-left: var(--dui-spc-16);
}

.dui.dui-space-y-16 > * + * {
    margin-top: var(--dui-spc-16);
}

.dui.dui-space-x-20 > * + * {
    margin-left: var(--dui-spc-20);
}

.dui.dui-space-y-20 > * + * {
    margin-top: var(--dui-spc-20);
}

.dui.dui-space-x-24 > * + * {
    margin-left: var(--dui-spc-24);
}

.dui.dui-space-y-24 > * + * {
    margin-top: var(--dui-spc-24);
}

.dui.dui-space-x-28 > * + * {
    margin-left: var(--dui-spc-28);
}

.dui.dui-space-y-28 > * + * {
    margin-top: var(--dui-spc-28);
}

.dui.dui-space-x-32 > * + * {
    margin-left: var(--dui-spc-32);
}

.dui.dui-space-y-32 > * + * {
    margin-top: var(--dui-spc-32);
}

.dui.dui-space-x-36 > * + * {
    margin-left: var(--dui-spc-36);
}

.dui.dui-space-y-36 > * + * {
    margin-top: var(--dui-spc-36);
}

.dui.dui-space-x-40 > * + * {
    margin-left: var(--dui-spc-40);
}

.dui.dui-space-y-40 > * + * {
    margin-top: var(--dui-spc-40);
}

.dui.dui-space-x-44 > * + * {
    margin-left: var(--dui-spc-44);
}

.dui.dui-space-y-44 > * + * {
    margin-top: var(--dui-spc-44);
}

.dui.dui-space-x-48 > * + * {
    margin-left: var(--dui-spc-48);
}

.dui.dui-space-y-48 > * + * {
    margin-top: var(--dui-spc-48);
}

.dui.dui-space-x-52 > * + * {
    margin-left: var(--dui-spc-52);
}

.dui.dui-space-y-52 > * + * {
    margin-top: var(--dui-spc-52);
}

.dui.dui-space-x-56 > * + * {
    margin-left: var(--dui-spc-56);
}

.dui.dui-space-y-56 > * + * {
    margin-top: var(--dui-spc-56);
}

.dui.dui-space-x-60 > * + * {
    margin-left: var(--dui-spc-60);
}

.dui.dui-space-y-60 > * + * {
    margin-top: var(--dui-spc-60);
}

.dui.dui-space-x-64 > * + * {
    margin-left: var(--dui-spc-64);
}

.dui.dui-space-y-64 > * + * {
    margin-top: var(--dui-spc-64);
}

.dui.dui-space-x-72 > * + * {
    margin-left: var(--dui-spc-72);
}

.dui.dui-space-y-72 > * + * {
    margin-top: var(--dui-spc-72);
}

.dui.dui-space-x-80 > * + * {
    margin-left: var(--dui-spc-80);
}

.dui.dui-space-y-80 > * + * {
    margin-top: var(--dui-spc-80);
}

.dui.dui-space-x-96 > * + * {
    margin-left: var(--dui-spc-96);
}

.dui.dui-space-y-96 > * + * {
    margin-top: var(--dui-spc-96);
}

.dui.dui-space-x-1_2p > * + * {
    margin-left: var(--dui-spc-1_2p);
}

.dui.dui-space-y-1_2p > * + * {
    margin-top: var(--dui-spc-1_2p);
}

.dui.dui-space-x-1_3p > * + * {
    margin-left: var(--dui-spc-1_3p);
}

.dui.dui-space-y-1_3p > * + * {
    margin-top: var(--dui-spc-1_3p);
}

.dui.dui-space-x-2_3p > * + * {
    margin-left: var(--dui-spc-2_3p);
}

.dui.dui-space-y-2_3p > * + * {
    margin-top: var(--dui-spc-2_3p);
}

.dui.dui-space-x-1_4p > * + * {
    margin-left: var(--dui-spc-1_4p);
}

.dui.dui-space-y-1_4p > * + * {
    margin-top: var(--dui-spc-1_4p);
}

.dui.dui-space-x-3_4p > * + * {
    margin-left: var(--dui-spc-3_4p);
}

.dui.dui-space-y-3_4p > * + * {
    margin-top: var(--dui-spc-3_4p);
}

.dui.dui-space-x-full > * + * {
    margin-left: var(--dui-spc-full);
}

.dui.dui-space-y-full > * + * {
    margin-top: var(--dui-spc-full);
}

:root {
    --dui-opacity-0: 0;
    --dui-opacity-5: 0.05;
    --dui-opacity-10: 0.1;
    --dui-opacity-20: 0.2;
    --dui-opacity-25: 0.25;
    --dui-opacity-30: 0.3;
    --dui-opacity-40: 0.4;
    --dui-opacity-50: 0.5;
    --dui-opacity-60: 0.6;
    --dui-opacity-70: 0.7;
    --dui-opacity-75: 0.75;
    --dui-opacity-80: 0.8;
    --dui-opacity-90: 0.9;
    --dui-opacity-95: 0.95;
    --dui-opacity-100: 1;
}

.dui.dui-opacity-0 {
    opacity: var(--dui-opacity-0);
}

.dui.dui-opacity-5 {
    opacity: var(--dui-opacity-5);
}

.dui.dui-opacity-10 {
    opacity: var(--dui-opacity-10);
}

.dui.dui-opacity-20 {
    opacity: var(--dui-opacity-20);
}

.dui.dui-opacity-25 {
    opacity: var(--dui-opacity-25);
}

.dui.dui-opacity-30 {
    opacity: var(--dui-opacity-30);
}

.dui.dui-opacity-40 {
    opacity: var(--dui-opacity-40);
}

.dui.dui-opacity-50 {
    opacity: var(--dui-opacity-50);
}

.dui.dui-opacity-60 {
    opacity: var(--dui-opacity-60);
}

.dui.dui-opacity-70 {
    opacity: var(--dui-opacity-70);
}

.dui.dui-opacity-75 {
    opacity: var(--dui-opacity-75);
}

.dui.dui-opacity-80 {
    opacity: var(--dui-opacity-80);
}

.dui.dui-opacity-90 {
    opacity: var(--dui-opacity-90);
}

.dui.dui-opacity-95 {
    opacity: var(--dui-opacity-95);
}

.dui.dui-opacity-100 {
    opacity: var(--dui-opacity-100);
}

.dui.dui-block {
    display: block;
}

.dui.dui-inline-block {
    display: inline-block;
}

.dui.dui-inline {
    display: inline;
}

.dui.dui-flex {
    display: flex;
}

.dui.dui-inline-flex {
    display: inline-flex;
}

.dui.dui-table {
    display: table;
}

.dui.dui-inline-table {
    display: inline-table;
}

.dui.dui-table-caption {
    display: table-caption;
}

.dui.dui-table-cell {
    display: table-cell;
}

.dui.dui-table-column {
    display: table-column;
}

.dui.dui-table-column-group {
    display: table-column-group;
}

.dui.dui-table-footer-group {
    display: table-footer-group;
}

.dui.dui-table-header-group {
    display: table-header-group;
}

.dui.dui-table-row-group {
    display: table-row-group;
}

.dui.dui-table-row {
    display: table-row;
}

.dui.dui-flow-root {
    display: flow-root;
}

.dui.dui-grid {
    display: grid;
}

.dui.dui-inline-grid {
    display: inline-grid;
}

.dui.dui-contents {
    display: contents;
}

.dui.dui-list-item {
    display: list-item;
}

.dui.dui-isolate {
    isolation: isolate;
}

.dui.dui-isolation-auto {
    isolation: auto;
}

.dui.dui-object-contain {
    object-fit: contain;
}

.dui.dui-object-cover {
    object-fit: cover;
}

.dui.dui-object-fill {
    object-fit: fill;
}

.dui.dui-object-none {
    object-fit: none;
}

.dui.dui-object-scale-down {
    object-fit: scale-down;
}

.dui.dui-object-bottom {
    object-position: bottom;
}

.dui.dui-object-center {
    object-position: center;
}

.dui.dui-object-left {
    object-position: left;
}

.dui.dui-object-left-bottom {
    object-position: left bottom;
}

.dui.dui-object-left-top {
    object-position: left top;
}

.dui.dui-object-right {
    object-position: right;
}

.dui.dui-object-right-bottom {
    object-position: right bottom;
}

.dui.dui-object-right-top {
    object-position: right top;
}

.dui.dui-object-top {
    object-position: top;
}

.dui.dui-overflow-auto {
    overflow: auto;
}

.dui.dui-overflow-hidden {
    overflow: hidden;
}

.dui.dui-overflow-clip {
    overflow: clip;
}

.dui.dui-overflow-visible {
    overflow: visible;
}

.dui.dui-overflow-scroll {
    overflow: scroll;
}

.dui.dui-overflow-x-auto {
    overflow-x: auto;
}

.dui.dui-overflow-y-auto {
    overflow-y: auto;
}

.dui.dui-overflow-x-hidden {
    overflow-x: hidden;
}

.dui.dui-overflow-y-hidden {
    overflow-y: hidden;
}

.dui.dui-overflow-x-clip {
    overflow-x: clip;
}

.dui.dui-overflow-y-clip {
    overflow-y: clip;
}

.dui.dui-overflow-x-visible {
    overflow-x: visible;
}

.dui.dui-overflow-y-visible {
    overflow-y: visible;
}

.dui.dui-overflow-x-scroll {
    overflow-x: scroll;
}

.dui.dui-overflow-y-scroll {
    overflow-y: scroll;
}

.dui.dui-overscroll-auto {
    overscroll-behavior: auto;
}

.dui.dui-overscroll-contain {
    overscroll-behavior: contain;
}

.dui.dui-overscroll-none {
    overscroll-behavior: none;
}

.dui.dui-overscroll-y-auto {
    overscroll-behavior-y: auto;
}

.dui.dui-overscroll-y-contain {
    overscroll-behavior-y: contain;
}

.dui.dui-overscroll-y-none {
    overscroll-behavior-y: none;
}

.dui.dui-overscroll-x-auto {
    overscroll-behavior-x: auto;
}

.dui.dui-overscroll-x-contain {
    overscroll-behavior-x: contain;
}

.dui.dui-overscroll-x-none {
    overscroll-behavior-x: none;
}

.dui.dui-visible {
    visibility: visible;
}

.dui.dui-invisible {
    visibility: hidden;
}

.dui.dui-flex-row {
    flex-direction: row;
}

.dui.dui-flex-row-reverse {
    flex-direction: row-reverse;
}

.dui.dui-flex-col {
    flex-direction: column;
}

.dui.dui-flex-col-reverse {
    flex-direction: column-reverse;
}

.dui.dui-flex-wrap {
    flex-wrap: wrap;
}

.dui.dui-flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.dui.dui-flex-nowrap {
    flex-wrap: nowrap;
}

.dui.dui-flex-1 {
    flex: 1 1 0%;
}

.dui.dui-flex-auto {
    flex: 1 1 auto;
}

.dui.dui-flex-initial {
    flex: 0 1 auto;
}

.dui.dui-flex-none {
    flex: none;
}

.dui.dui-order-first {
    order: var(--dui-order-first);
}

.dui.dui-order-first-1 {
    order: var(--dui-order-first-1);
}

.dui.dui-order-first-2 {
    order: var(--dui-order-first-2);
}

.dui.dui-order-first-3 {
    order: var(--dui-order-first-3);
}

.dui.dui-order-first-4 {
    order: var(--dui-order-first-4);
}

.dui.dui-order-last {
    order: var(--dui-order-last);
}

.dui.dui-order-last-1 {
    order: var(--dui-order-last-1);
}

.dui.dui-order-last-2 {
    order: var(--dui-order-last-2);
}

.dui.dui-order-last-3 {
    order: var(--dui-order-last-3);
}

.dui.dui-order-last-4 {
    order: var(--dui-order-last-4);
}

.dui.dui-order-none {
    order: var(--dui-order-none);
}

.dui.dui-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dui.dui-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dui.dui-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.dui.dui-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.dui.dui-grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.dui.dui-grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.dui.dui-grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.dui.dui-grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.dui.dui-grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.dui.dui-grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.dui.dui-grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.dui.dui-grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.dui.dui-grid-cols-none {
    grid-template-columns: none;
}

.dui.dui-col-auto {
    grid-column: auto;
}

.dui.dui-col-span-1 {
    grid-column: span 1 / span 1;
}

.dui.dui-col-span-2 {
    grid-column: span 2 / span 2;
}

.dui.dui-col-span-3 {
    grid-column: span 3 / span 3;
}

.dui.dui-col-span-4 {
    grid-column: span 4 / span 4;
}

.dui.dui-col-span-5 {
    grid-column: span 5 / span 5;
}

.dui.dui-col-span-6 {
    grid-column: span 6 / span 6;
}

.dui.dui-col-span-7 {
    grid-column: span 7 / span 7;
}

.dui.dui-col-span-8 {
    grid-column: span 8 / span 8;
}

.dui.dui-col-span-9 {
    grid-column: span 9 / span 9;
}

.dui.dui-col-span-10 {
    grid-column: span 10 / span 10;
}

.dui.dui-col-span-11 {
    grid-column: span 11 / span 11;
}

.dui.dui-col-span-12 {
    grid-column: span 12 / span 12;
}

.dui.dui-col-span-full {
    grid-column: 1 / -1;
}

.dui.dui-col-start-1 {
    grid-column-start: 1;
}

.dui.dui-col-start-2 {
    grid-column-start: 2;
}

.dui.dui-col-start-3 {
    grid-column-start: 3;
}

.dui.dui-col-start-4 {
    grid-column-start: 4;
}

.dui.dui-col-start-5 {
    grid-column-start: 5;
}

.dui.dui-col-start-6 {
    grid-column-start: 6;
}

.dui.dui-col-start-7 {
    grid-column-start: 7;
}

.dui.dui-col-start-8 {
    grid-column-start: 8;
}

.dui.dui-col-start-9 {
    grid-column-start: 9;
}

.dui.dui-col-start-10 {
    grid-column-start: 10;
}

.dui.dui-col-start-11 {
    grid-column-start: 11;
}

.dui.dui-col-start-12 {
    grid-column-start: 12;
}

.dui.dui-col-start-13 {
    grid-column-start: 13;
}

.dui.dui-col-start-auto {
    grid-column-start: auto;
}

.dui.dui-col-end-1 {
    grid-column-end: 1;
}

.dui.dui-col-end-2 {
    grid-column-end: 2;
}

.dui.dui-col-end-3 {
    grid-column-end: 3;
}

.dui.dui-col-end-4 {
    grid-column-end: 4;
}

.dui.dui-col-end-5 {
    grid-column-end: 5;
}

.dui.dui-col-end-6 {
    grid-column-end: 6;
}

.dui.dui-col-end-7 {
    grid-column-end: 7;
}

.dui.dui-col-end-8 {
    grid-column-end: 8;
}

.dui.dui-col-end-9 {
    grid-column-end: 9;
}

.dui.dui-col-end-10 {
    grid-column-end: 10;
}

.dui.dui-col-end-11 {
    grid-column-end: 11;
}

.dui.dui-col-end-12 {
    grid-column-end: 12;
}

.dui.dui-col-end-13 {
    grid-column-end: 13;
}

.dui.dui-col-end-auto {
    grid-column-end: auto;
}

.dui.dui-grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.dui.dui-grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.dui.dui-grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.dui.dui-grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}

.dui.dui-grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

.dui.dui-grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.dui.dui-grid-rows-none {
    grid-template-rows: none;
}

.dui.dui-row-auto {
    grid-row: auto;
}

.dui.dui-row-span-1 {
    grid-row: span 1 / span 1;
}

.dui.dui-row-span-2 {
    grid-row: span 2 / span 2;
}

.dui.dui-row-span-3 {
    grid-row: span 3 / span 3;
}

.dui.dui-row-span-4 {
    grid-row: span 4 / span 4;
}

.dui.dui-row-span-5 {
    grid-row: span 5 / span 5;
}

.dui.dui-row-span-6 {
    grid-row: span 6 / span 6;
}

.dui.dui-row-span-full {
    grid-row: 1 / -1;
}

.dui.dui-row-start-1 {
    grid-row-start: 1;
}

.dui.dui-row-start-2 {
    grid-row-start: 2;
}

.dui.dui-row-start-3 {
    grid-row-start: 3;
}

.dui.dui-row-start-4 {
    grid-row-start: 4;
}

.dui.dui-row-start-5 {
    grid-row-start: 5;
}

.dui.dui-row-start-6 {
    grid-row-start: 6;
}

.dui.dui-row-start-7 {
    grid-row-start: 7;
}

.dui.dui-row-start-auto {
    grid-row-start: auto;
}

.dui.dui-row-end-1 {
    grid-row-end: 1;
}

.dui.dui-row-end-2 {
    grid-row-end: 2;
}

.dui.dui-row-end-3 {
    grid-row-end: 3;
}

.dui.dui-row-end-4 {
    grid-row-end: 4;
}

.dui.dui-row-end-5 {
    grid-row-end: 5;
}

.dui.dui-row-end-6 {
    grid-row-end: 6;
}

.dui.dui-row-end-7 {
    grid-row-end: 7;
}

.dui.dui-row-end-auto {
    grid-row-end: auto;
}

.dui.dui-grid-flow-row {
    grid-auto-flow: row;
}

.dui.dui-grid-flow-col {
    grid-auto-flow: column;
}

.dui.dui-grid-flow-row-dense {
    grid-auto-flow: row dense;
}

.dui.dui-grid-flow-col-dense {
    grid-auto-flow: column dense;
}

.dui.dui-auto-cols-auto {
    grid-auto-columns: auto;
}

.dui.dui-auto-cols-min {
    grid-auto-columns: min-content;
}

.dui.dui-auto-cols-max {
    grid-auto-columns: max-content;
}

.dui.dui-auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
}

.dui.dui-auto-rows-auto {
    grid-auto-rows: auto;
}

.dui.dui-auto-rows-min {
    grid-auto-rows: min-content;
}

.dui.dui-auto-rows-max {
    grid-auto-rows: max-content;
}

.dui.dui-auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
}

.dui.dui-justify-start {
    justify-content: flex-start;
}

.dui.dui-justify-end {
    justify-content: flex-end;
}

.dui.dui-justify-center {
    justify-content: center;
}

.dui.dui-justify-between {
    justify-content: space-between;
}

.dui.dui-justify-around {
    justify-content: space-around;
}

.dui.dui-justify-evenly {
    justify-content: space-evenly;
}

.dui.dui-justify-items-start {
    justify-items: start;
}

.dui.dui-justify-items-end {
    justify-items: end;
}

.dui.dui-justify-items-center {
    justify-items: center;
}

.dui.dui-justify-items-stretch {
    justify-items: stretch;
}

.dui.dui-justify-self-auto {
    justify-self: auto;
}

.dui.dui-justify-self-start {
    justify-self: start;
}

.dui.dui-justify-self-end {
    justify-self: end;
}

.dui.dui-justify-self-center {
    justify-self: center;
}

.dui.dui-justify-self-stretch {
    justify-self: stretch;
}

.dui.dui-content-center {
    align-content: center;
}

.dui.dui-content-start {
    align-content: flex-start;
}

.dui.dui-content-end {
    align-content: flex-end;
}

.dui.dui-content-between {
    align-content: space-between;
}

.dui.dui-content-around {
    align-content: space-around;
}

.dui.dui-content-evenly {
    align-content: space-evenly;
}

.dui.dui-items-start {
    align-items: flex-start;
}

.dui.dui-items-end {
    align-items: flex-end;
}

.dui.dui-items-center {
    align-items: center;
}

.dui.dui-items-baseline {
    align-items: baseline;
}

.dui.dui-items-stretch {
    align-items: stretch;
}

.dui.dui-self-auto {
    align-self: auto;
}

.dui.dui-self-start {
    align-self: flex-start;
}

.dui.dui-self-end {
    align-self: flex-end;
}

.dui.dui-self-center {
    align-self: center;
}

.dui.dui-self-stretch {
    align-self: stretch;
}

.dui.dui-self-baseline {
    align-self: baseline;
}

.dui.dui-place-content-center {
    place-content: center;
}

.dui.dui-place-content-start {
    place-content: start;
}

.dui.dui-place-content-end {
    place-content: end;
}

.dui.dui-place-content-between {
    place-content: space-between;
}

.dui.dui-place-content-around {
    place-content: space-around;
}

.dui.dui-place-content-evenly {
    place-content: space-evenly;
}

.dui.dui-place-content-stretch {
    place-content: stretch;
}

.dui.dui-place-items-start {
    place-items: start;
}

.dui.dui-place-items-end {
    place-items: end;
}

.dui.dui-place-items-center {
    place-items: center;
}

.dui.dui-place-items-stretch {
    place-items: stretch;
}

.dui.dui-place-self-auto {
    place-self: auto;
}

.dui.dui-place-self-start {
    place-self: start;
}

.dui.dui-place-self-end {
    place-self: end;
}

.dui.dui-place-self-center {
    place-self: center;
}

.dui.dui-place-self-stretch {
    place-self: stretch;
}

.dui.dui-font-sans {
    --dui-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dui.dui-font-serif {
    --dui-font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.dui.dui-font-mono {
    --dui-font-family: var(--dui-font-family-mono);
}

.dui.dui-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.dui.dui-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.dui.dui-text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.dui.dui-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.dui.dui-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.dui.dui-text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.dui.dui-text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.dui.dui-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.dui.dui-text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.dui.dui-text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.dui.dui-text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.dui.dui-text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.dui.dui-text-9xl {
    font-size: 8rem;
    line-height: 1;
}

.dui.dui-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dui.dui-subpixel-antialiased {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.dui.dui-italic {
    font-style: italic;
}

.dui.dui-not-italic {
    font-style: normal;
}

.dui.dui-font-thin {
    font-weight: 100;
}

.dui.dui-font-extralight {
    font-weight: 200;
}

.dui.dui-font-light {
    font-weight: 300;
}

.dui.dui-font-normal {
    font-weight: 400;
}

.dui.dui-font-medium {
    font-weight: 500;
}

.dui.dui-font-semibold {
    font-weight: 600;
}

.dui.dui-font-bold {
    font-weight: 700;
}

.dui.dui-font-extrabold {
    font-weight: 800;
}

.dui.dui-font-black {
    font-weight: 900;
}

.dui.dui-normal-nums {
    font-variant-numeric: normal;
}

.dui.dui-ordinal {
    font-variant-numeric: ordinal;
}

.dui.dui-slashed-zero {
    font-variant-numeric: slashed-zero;
}

.dui.dui-lining-nums {
    font-variant-numeric: lining-nums;
}

.dui.dui-oldstyle-nums {
    font-variant-numeric: oldstyle-nums;
}

.dui.dui-proportional-nums {
    font-variant-numeric: proportional-nums;
}

.dui.dui-tabular-nums {
    font-variant-numeric: tabular-nums;
}

.dui.dui-diagonal-fractions {
    font-variant-numeric: diagonal-fractions;
}

.dui.dui-stacked-fractions {
    font-variant-numeric: stacked-fractions;
}

.dui.dui-tracking-tighter {
    letter-spacing: -0.05em;
}

.dui.dui-tracking-tight {
    letter-spacing: -0.025em;
}

.dui.dui-tracking-normal {
    letter-spacing: 0em;
}

.dui.dui-tracking-wide {
    letter-spacing: 0.025em;
}

.dui.dui-tracking-wider {
    letter-spacing: 0.05em;
}

.dui.dui-tracking-widest {
    letter-spacing: 0.1em;
}

.dui.dui-list-none {
    list-style-type: none;
}

.dui.dui-list-disc {
    list-style-type: disc;
}

.dui.dui-list-decimal {
    list-style-type: decimal;
}

.dui.dui-list-inside {
    list-style-position: inside;
}

.dui.dui-list-outside {
    list-style-position: outside;
}

.dui.dui-text-left {
    text-align: left;
}

.dui.dui-text-center {
    text-align: center;
}

.dui.dui-text-right {
    text-align: right;
}

.dui.dui-text-justify {
    text-align: justify;
}

.dui.dui-text-inherit {
    color: inherit;
}

.dui.dui-text-current {
    color: currentColor;
}

.dui.dui-text-transparent {
    color: transparent;
}

.dui.dui-underline {
    text-decoration-line: underline;
}

.dui.dui-overline {
    text-decoration-line: overline;
}

.dui.dui-line-through {
    text-decoration-line: line-through;
}

.dui.dui-no-underline {
    text-decoration-line: none;
}

.dui.dui-decoration-inherit {
    text-decoration-color: inherit;
}

.dui.dui-decoration-current {
    text-decoration-color: currentColor;
}

.dui.dui-decoration-transparent {
    text-decoration-color: transparent;
}

.dui.dui-decoration-solid {
    text-decoration-style: solid;
}

.dui.dui-decoration-double {
    text-decoration-style: double;
}

.dui.dui-decoration-dotted {
    text-decoration-style: dotted;
}

.dui.dui-decoration-dashed {
    text-decoration-style: dashed;
}

.dui.dui-decoration-wavy {
    text-decoration-style: wavy;
}

.dui.dui-decoration-auto {
    text-decoration-thickness: auto;
}

.dui.dui-decoration-from-font {
    text-decoration-thickness: from-font;
}

.dui.dui-decoration-0 {
    text-decoration-thickness: 0px;
}

.dui.dui-decoration-1 {
    text-decoration-thickness: 1px;
}

.dui.dui-decoration-2 {
    text-decoration-thickness: 2px;
}

.dui.dui-decoration-4 {
    text-decoration-thickness: 4px;
}

.dui.dui-decoration-8 {
    text-decoration-thickness: 8px;
}

.dui.dui-underline-offset-auto {
    text-underline-offset: auto;
}

.dui.dui-underline-offset-0 {
    text-underline-offset: 0px;
}

.dui.dui-underline-offset-1 {
    text-underline-offset: 1px;
}

.dui.dui-underline-offset-2 {
    text-underline-offset: 2px;
}

.dui.dui-underline-offset-4 {
    text-underline-offset: 4px;
}

.dui.dui-underline-offset-8 {
    text-underline-offset: 8px;
}

.dui.dui-uppercase {
    text-transform: uppercase;
}

.dui.dui-lowercase {
    text-transform: lowercase;
}

.dui.dui-capitalize {
    text-transform: capitalize;
}

.dui.dui-normal-case {
    text-transform: none;
}

.dui.dui-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dui.dui-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dui.dui-text-clip {
    text-overflow: clip;
}

.dui.dui-align-baseline {
    vertical-align: baseline;
}

.dui.dui-align-top {
    vertical-align: top;
}

.dui.dui-align-middle {
    vertical-align: middle;
}

.dui.dui-align-bottom {
    vertical-align: bottom;
}

.dui.dui-align-text-top {
    vertical-align: text-top;
}

.dui.dui-align-text-bottom {
    vertical-align: text-bottom;
}

.dui.dui-align-sub {
    vertical-align: sub;
}

.dui.dui-align-super {
    vertical-align: super;
}

.dui.dui-whitespace-normal {
    white-space: normal;
}

.dui.dui-whitespace-nowrap {
    white-space: nowrap;
}

.dui.dui-whitespace-pre {
    white-space: pre;
}

.dui.dui-whitespace-pre-line {
    white-space: pre-line;
}

.dui.dui-whitespace-pre-wrap {
    white-space: pre-wrap;
}

.dui.dui-whitespace-unset {
    white-space: unset;
}

.dui.dui-whitespace-break-spaces {
    white-space: break-spaces;
}

.dui.dui-break-normal {
    overflow-wrap: normal;
    word-break: normal;
}

.dui.dui-break-words {
    overflow-wrap: break-word;
}

.dui.dui-break-all {
    word-break: break-all;
}

.dui.dui-content-none {
    content: none;
}

.dui.dui-bg-fixed {
    background-attachment: fixed;
}

.dui.dui-bg-local {
    background-attachment: local;
}

.dui.dui-bg-scroll {
    background-attachment: scroll;
}

.dui.dui-bg-clip-border {
    background-clip: border-box;
}

.dui.dui-bg-clip-padding {
    background-clip: padding-box;
}

.dui.dui-bg-clip-content {
    background-clip: content-box;
}

.dui.dui-bg-clip-text {
    background-clip: text;
}

.dui.dui-bg-inherit {
    background-color: inherit;
}

.dui.dui-bg-current {
    background-color: currentColor;
}

.dui.dui-bg-transparent {
    background-color: transparent;
}

.dui.dui-bg-origin-border {
    background-origin: border-box;
}

.dui.dui-bg-origin-padding {
    background-origin: padding-box;
}

.dui.dui-bg-origin-content {
    background-origin: content-box;
}

.dui.dui-bg-bottom {
    background-position: bottom;
}

.dui.dui-bg-center {
    background-position: center;
}

.dui.dui-bg-left {
    background-position: left;
}

.dui.dui-bg-left-bottom {
    background-position: left bottom;
}

.dui.dui-bg-left-top {
    background-position: left top;
}

.dui.dui-bg-right {
    background-position: right;
}

.dui.dui-bg-right-bottom {
    background-position: right bottom;
}

.dui.dui-bg-right-top {
    background-position: right top;
}

.dui.dui-bg-top {
    background-position: top;
}

.dui.dui-bg-repeat {
    background-repeat: repeat;
}

.dui.dui-bg-no-repeat {
    background-repeat: no-repeat;
}

.dui.dui-bg-repeat-x {
    background-repeat: repeat-x;
}

.dui.dui-bg-repeat-y {
    background-repeat: repeat-y;
}

.dui.dui-bg-repeat-round {
    background-repeat: round;
}

.dui.dui-bg-repeat-space {
    background-repeat: space;
}

.dui.dui-bg-auto {
    background-size: auto;
}

.dui.dui-bg-cover {
    background-size: cover;
}

.dui.dui-bg-contain {
    background-size: contain;
}

.dui.dui-rounded-none {
    border-radius: var(--dui-spc-0);
}

.dui.dui-rounded-inherit {
    border-radius: inherit;
}

.dui.dui-rounded-t-inherit {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.dui.dui-rounded-b-inherit {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.dui.dui-rounded-l-inherit {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.dui.dui-rounded-r-inherit {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.dui.dui-rounded-tl-inherit {
    border-top-left-radius: inherit;
}

.dui.dui-rounded-tr-inherit {
    border-top-right-radius: inherit;
}

.dui.dui-rounded-br-inherit {
    border-bottom-right-radius: inherit;
}

.dui.dui-rounded-bl-inherit {
    border-bottom-left-radius: inherit;
}

.dui.dui-rounded-sm {
    border-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded {
    border-radius: var(--dui-spc-1);
}

.dui.dui-rounded-md {
    border-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-lg {
    border-radius: var(--dui-spc-2);
}

.dui.dui-rounded-xl {
    border-radius: var(--dui-spc-3);
}

.dui.dui-rounded-2xl {
    border-radius: var(--dui-spc-4);
}

.dui.dui-rounded-3xl {
    border-radius: var(--dui-spc-6);
}

.dui.dui-rounded-full {
    border-radius: 9999px;
}

.dui.dui-rounded-circle {
    border-radius: 50%;
}

.dui.dui-rounded-t-none {
    border-top-left-radius: var(--dui-spc-0);
    border-top-right-radius: var(--dui-spc-0);
}

.dui.dui-rounded-t-sm {
    border-top-left-radius: var(--dui-spc-0_5);
    border-top-right-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-t {
    border-top-left-radius: var(--dui-spc-1);
    border-top-right-radius: var(--dui-spc-1);
}

.dui.dui-rounded-t-md {
    border-top-left-radius: var(--dui-spc-1_5);
    border-top-right-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-t-lg {
    border-top-left-radius: var(--dui-spc-2);
    border-top-right-radius: var(--dui-spc-2);
}

.dui.dui-rounded-t-xl {
    border-top-left-radius: var(--dui-spc-3);
    border-top-right-radius: var(--dui-spc-3);
}

.dui.dui-rounded-t-2xl {
    border-top-left-radius: var(--dui-spc-4);
    border-top-right-radius: var(--dui-spc-4);
}

.dui.dui-rounded-t-3xl {
    border-top-left-radius: var(--dui-spc-6);
    border-top-right-radius: var(--dui-spc-6);
}

.dui.dui-rounded-t-full {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.dui.dui-rounded-r-none {
    border-top-right-radius: var(--dui-spc-0);
    border-bottom-right-radius: var(--dui-spc-0);
}

.dui.dui-rounded-r-sm {
    border-top-right-radius: var(--dui-spc-0_5);
    border-bottom-right-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-r {
    border-top-right-radius: var(--dui-spc-1);
    border-bottom-right-radius: var(--dui-spc-1);
}

.dui.dui-rounded-r-md {
    border-top-right-radius: var(--dui-spc-1_5);
    border-bottom-right-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-r-lg {
    border-top-right-radius: var(--dui-spc-2);
    border-bottom-right-radius: var(--dui-spc-2);
}

.dui.dui-rounded-r-xl {
    border-top-right-radius: var(--dui-spc-3);
    border-bottom-right-radius: var(--dui-spc-3);
}

.dui.dui-rounded-r-2xl {
    border-top-right-radius: var(--dui-spc-4);
    border-bottom-right-radius: var(--dui-spc-4);
}

.dui.dui-rounded-r-3xl {
    border-top-right-radius: var(--dui-spc-6);
    border-bottom-right-radius: var(--dui-spc-6);
}

.dui.dui-rounded-r-full {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.dui.dui-rounded-b-none {
    border-bottom-right-radius: var(--dui-spc-0);
    border-bottom-left-radius: var(--dui-spc-0);
}

.dui.dui-rounded-b-sm {
    border-bottom-right-radius: var(--dui-spc-0_5);
    border-bottom-left-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-b {
    border-bottom-right-radius: var(--dui-spc-1);
    border-bottom-left-radius: var(--dui-spc-1);
}

.dui.dui-rounded-b-md {
    border-bottom-right-radius: var(--dui-spc-1_5);
    border-bottom-left-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-b-lg {
    border-bottom-right-radius: var(--dui-spc-2);
    border-bottom-left-radius: var(--dui-spc-2);
}

.dui.dui-rounded-b-xl {
    border-bottom-right-radius: var(--dui-spc-3);
    border-bottom-left-radius: var(--dui-spc-3);
}

.dui.dui-rounded-b-2xl {
    border-bottom-right-radius: var(--dui-spc-4);
    border-bottom-left-radius: var(--dui-spc-4);
}

.dui.dui-rounded-b-3xl {
    border-bottom-right-radius: var(--dui-spc-6);
    border-bottom-left-radius: var(--dui-spc-6);
}

.dui.dui-rounded-b-full {
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.dui.dui-rounded-l-none {
    border-top-left-radius: var(--dui-spc-0);
    border-bottom-left-radius: var(--dui-spc-0);
}

.dui.dui-rounded-l-sm {
    border-top-left-radius: var(--dui-spc-0_5);
    border-bottom-left-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-l {
    border-top-left-radius: var(--dui-spc-1);
    border-bottom-left-radius: var(--dui-spc-1);
}

.dui.dui-rounded-l-md {
    border-top-left-radius: var(--dui-spc-1_5);
    border-bottom-left-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-l-lg {
    border-top-left-radius: var(--dui-spc-2);
    border-bottom-left-radius: var(--dui-spc-2);
}

.dui.dui-rounded-l-xl {
    border-top-left-radius: var(--dui-spc-3);
    border-bottom-left-radius: var(--dui-spc-3);
}

.dui.dui-rounded-l-2xl {
    border-top-left-radius: var(--dui-spc-4);

    border-bottom-left-radius: var(--dui-spc-4);
}

.dui.dui-rounded-l-3xl {
    border-top-left-radius: var(--dui-spc-6);
    border-bottom-left-radius: var(--dui-spc-6);
}

.dui.dui-rounded-l-full {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.dui.dui-rounded-tl-none {
    border-top-left-radius: var(--dui-spc-0);
}

.dui.dui-rounded-tl-sm {
    border-top-left-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-tl {
    border-top-left-radius: var(--dui-spc-1);
}

.dui.dui-rounded-tl-md {
    border-top-left-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-tl-lg {
    border-top-left-radius: var(--dui-spc-2);
}

.dui.dui-rounded-tl-xl {
    border-top-left-radius: var(--dui-spc-3);
}

.dui.dui-rounded-tl-2xl {
    border-top-left-radius: var(--dui-spc-4);
}

.dui.dui-rounded-tl-3xl {
    border-top-left-radius: var(--dui-spc-6);
}

.dui.dui-rounded-tl-full {
    border-top-left-radius: 9999px;
}

.dui.dui-rounded-tr-none {
    border-top-right-radius: var(--dui-spc-0);
}

.dui.dui-rounded-tr-sm {
    border-top-right-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-tr {
    border-top-right-radius: var(--dui-spc-1);
}

.dui.dui-rounded-tr-md {
    border-top-right-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-tr-lg {
    border-top-right-radius: var(--dui-spc-2);
}

.dui.dui-rounded-tr-xl {
    border-top-right-radius: var(--dui-spc-3);
}

.dui.dui-rounded-tr-2xl {
    border-top-right-radius: var(--dui-spc-4);
}

.dui.dui-rounded-tr-3xl {
    border-top-right-radius: var(--dui-spc-6);
}

.dui.dui-rounded-tr-full {
    border-top-right-radius: 9999px;
}

.dui.dui-rounded-br-none {
    border-bottom-right-radius: var(--dui-spc-0);
}

.dui.dui-rounded-br-sm {
    border-bottom-right-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-br {
    border-bottom-right-radius: var(--dui-spc-1);
}

.dui.dui-rounded-br-md {
    border-bottom-right-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-br-lg {
    border-bottom-right-radius: var(--dui-spc-2);
}

.dui.dui-rounded-br-xl {
    border-bottom-right-radius: var(--dui-spc-3);
}

.dui.dui-rounded-br-2xl {
    border-bottom-right-radius: var(--dui-spc-4);
}

.dui.dui-rounded-br-3xl {
    border-bottom-right-radius: var(--dui-spc-6);
}

.dui.dui-rounded-br-full {
    border-bottom-right-radius: 9999px;
}

.dui.dui-rounded-bl-none {
    border-bottom-left-radius: var(--dui-spc-0);
}

.dui.dui-rounded-bl-sm {
    border-bottom-left-radius: var(--dui-spc-0_5);
}

.dui.dui-rounded-bl {
    border-bottom-left-radius: var(--dui-spc-1);
}

.dui.dui-rounded-bl-md {
    border-bottom-left-radius: var(--dui-spc-1_5);
}

.dui.dui-rounded-bl-lg {
    border-bottom-left-radius: var(--dui-spc-2);
}

.dui.dui-rounded-bl-xl {
    border-bottom-left-radius: var(--dui-spc-3);
}

.dui.dui-rounded-bl-2xl {
    border-bottom-left-radius: var(--dui-spc-4);
}

.dui.dui-rounded-bl-3xl {
    border-bottom-left-radius: var(--dui-spc-6);
}

.dui.dui-rounded-bl-full {
    border-bottom-left-radius: 9999px;
}

.dui.dui-divide-x-0 > * + * {
    border-right-width: var(--dui-spc-0);
    border-left-width: var(--dui-spc-0);
}

.dui.dui-divide-x-2 > * + * {
    border-right-width: var(--dui-spc-2px);
    border-left-width: var(--dui-spc-0);
}

.dui.dui-divide-x-4 > * + * {
    border-right-width: var(--dui-spc-4px);
    border-left-width: var(--dui-spc-0);
}

.dui.dui-divide-x-8 > * + * {
    border-right-width: var(--dui-spc-8px);
    border-left-width: var(--dui-spc-0);
}

.dui.dui-divide-x > * + * {
    border-right-width: var(--dui-spc-px);
    border-left-width: var(--dui-spc-0);
}

.dui.dui-divide-y-0 > * + * {
    border-top-width: var(--dui-spc-0);
    border-bottom-width: var(--dui-spc-0);
}

.dui.dui-divide-y-2 > * + * {
    border-top-width: var(--dui-spc-0);
    border-bottom-width: var(--dui-spc-2px);
}

.dui.dui-divide-y-4 > * + * {
    border-top-width: var(--dui-spc-0);
    border-bottom-width: var(--dui-spc-4px);
}

.dui.dui-divide-y-8 > * + * {
    border-top-width: var(--dui-spc-0);
    border-bottom-width: var(--dui-spc-8px);
}

.dui.dui-divide-y > * + * {
    border-top-width: var(--dui-spc-0);
    border-bottom-width: var(--dui-spc-px);
}

.dui.dui-outline-0 {
    outline-width: var(--dui-spc-0);
}

.dui.dui-outline-1 {
    outline-width: var(--dui-spc-px);
}

.dui.dui-outline-2 {
    outline-width: var(--dui-spc-2px);
}

.dui.dui-outline-4 {
    outline-width: var(--dui-spc-4px);
}

.dui.dui-outline-8 {
    outline-width: var(--dui-spc-8px);
}

.dui.dui-outline-offset-0 {
    outline-offset: var(--dui-spc-0);
}

.dui.dui-outline-offset-1 {
    outline-offset: var(--dui-spc-px);
}

.dui.dui-outline-offset-2 {
    outline-offset: var(--dui-spc-2px);
}

.dui.dui-outline-offset-4 {
    outline-offset: var(--dui-spc-4px);
}

.dui.dui-outline-offset-8 {
    outline-offset: var(--dui-spc-8px);
}
