.dui-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dui-empty-state-color);
}

.dui-empty-state-title {
    order: 10;
    margin: var(--dui-empty-state-title-margin);
}


.dui-empty-state-description {
    order: 20;
    margin: var(--dui-empty-state-description-margin);
}

.dui.mdi.dui-empty-state-icon {
    order: 30;
    min-height: var(--dui-empty-state-icon-size);
    min-width: var(--dui-empty-state-icon-size);
}

.dui.mdi.dui-empty-state-icon:before {
    font-size: var(--dui-empty-state-icon-size);
    min-height: var(--dui-empty-state-icon-size);
    min-width: var(--dui-empty-state-icon-size);
    line-height: var(--dui-empty-state-icon-size);
}
