/* bootstrap replacement */
.pull-right {
    float: right !important;
}

a {
    text-decoration: none;
    background-color: transparent;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img {
    vertical-align: middle;
    border: 0;
}

.img-responsive, .thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 12px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

p {
    margin: 0 0 10px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.radio-option, .d-checkbox {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

article, details, figcaption, figure, header, hgroup, main, menu, nav, summary {
    display: block;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after {
    clear: both;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
}

/* Navbar ====================================== */
.label-count {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 10px;
    line-height: 15px;
    background-color: #000;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}


/* Material Icons ============================== */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-26 {
    font-size: 26px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Helpers ===================================== */
.m-l--125 {
    margin-left: -125px;
}

.m-t--125 {
    margin-top: -125px;
}

.m-r--125 {
    margin-right: -125px;
}

.m-b--125 {
    margin-bottom: -125px;
}

.m-l--120 {
    margin-left: -120px;
}

.m-t--120 {
    margin-top: -120px;
}

.m-r--120 {
    margin-right: -120px;
}

.m-b--120 {
    margin-bottom: -120px;
}

.m-l--115 {
    margin-left: -115px;
}

.m-t--115 {
    margin-top: -115px;
}

.m-r--115 {
    margin-right: -115px;
}

.m-b--115 {
    margin-bottom: -115px;
}

.m-l--110 {
    margin-left: -110px;
}

.m-t--110 {
    margin-top: -110px;
}

.m-r--110 {
    margin-right: -110px;
}

.m-b--110 {
    margin-bottom: -110px;
}

.m-l--105 {
    margin-left: -105px;
}

.m-t--105 {
    margin-top: -105px;
}

.m-r--105 {
    margin-right: -105px;
}

.m-b--105 {
    margin-bottom: -105px;
}

.m-l--100 {
    margin-left: -100px;
}

.m-t--100 {
    margin-top: -100px;
}

.m-r--100 {
    margin-right: -100px;
}

.m-b--100 {
    margin-bottom: -100px;
}

.m-l--95 {
    margin-left: -95px;
}

.m-t--95 {
    margin-top: -95px;
}

.m-r--95 {
    margin-right: -95px;
}

.m-b--95 {
    margin-bottom: -95px;
}

.m-l--90 {
    margin-left: -90px;
}

.m-t--90 {
    margin-top: -90px;
}

.m-r--90 {
    margin-right: -90px;
}

.m-b--90 {
    margin-bottom: -90px;
}

.m-l--85 {
    margin-left: -85px;
}

.m-t--85 {
    margin-top: -85px;
}

.m-r--85 {
    margin-right: -85px;
}

.m-b--85 {
    margin-bottom: -85px;
}

.m-l--80 {
    margin-left: -80px;
}

.m-t--80 {
    margin-top: -80px;
}

.m-r--80 {
    margin-right: -80px;
}

.m-b--80 {
    margin-bottom: -80px;
}

.m-l--75 {
    margin-left: -75px;
}

.m-t--75 {
    margin-top: -75px;
}

.m-r--75 {
    margin-right: -75px;
}

.m-b--75 {
    margin-bottom: -75px;
}

.m-l--70 {
    margin-left: -70px;
}

.m-t--70 {
    margin-top: -70px;
}

.m-r--70 {
    margin-right: -70px;
}

.m-b--70 {
    margin-bottom: -70px;
}

.m-l--65 {
    margin-left: -65px;
}

.m-t--65 {
    margin-top: -65px;
}

.m-r--65 {
    margin-right: -65px;
}

.m-b--65 {
    margin-bottom: -65px;
}

.m-l--60 {
    margin-left: -60px;
}

.m-t--60 {
    margin-top: -60px;
}

.m-r--60 {
    margin-right: -60px;
}

.m-b--60 {
    margin-bottom: -60px;
}

.m-l--55 {
    margin-left: -55px;
}

.m-t--55 {
    margin-top: -55px;
}

.m-r--55 {
    margin-right: -55px;
}

.m-b--55 {
    margin-bottom: -55px;
}

.m-l--50 {
    margin-left: -50px;
}

.m-t--50 {
    margin-top: -50px;
}

.m-r--50 {
    margin-right: -50px;
}

.m-b--50 {
    margin-bottom: -50px;
}

.m-l--45 {
    margin-left: -45px;
}

.m-t--45 {
    margin-top: -45px;
}

.m-r--45 {
    margin-right: -45px;
}

.m-b--45 {
    margin-bottom: -45px;
}

.m-l--40 {
    margin-left: -40px;
}

.m-t--40 {
    margin-top: -40px;
}

.m-r--40 {
    margin-right: -40px;
}

.m-b--40 {
    margin-bottom: -40px;
}

.m-l--35 {
    margin-left: -35px;
}

.m-t--35 {
    margin-top: -35px;
}

.m-r--35 {
    margin-right: -35px;
}

.m-b--35 {
    margin-bottom: -35px;
}

.m-l--30 {
    margin-left: -30px;
}

.m-t--30 {
    margin-top: -30px;
}

.m-r--30 {
    margin-right: -30px;
}

.m-b--30 {
    margin-bottom: -30px;
}

.m-l--25 {
    margin-left: -25px;
}

.m-t--25 {
    margin-top: -25px;
}

.m-r--25 {
    margin-right: -25px;
}

.m-b--25 {
    margin-bottom: -25px;
}

.m-l--20 {
    margin-left: -20px;
}

.m-t--20 {
    margin-top: -20px;
}

.m-r--20 {
    margin-right: -20px;
}

.m-b--20 {
    margin-bottom: -20px;
}

.m-l--15 {
    margin-left: -15px;
}

.m-t--15 {
    margin-top: -15px;
}

.m-r--15 {
    margin-right: -15px;
}

.m-b--15 {
    margin-bottom: -15px;
}

.m-l--10 {
    margin-left: -10px;
}

.m-t--10 {
    margin-top: -10px;
}

.m-r--10 {
    margin-right: -10px;
}

.m-b--10 {
    margin-bottom: -10px;
}

.m-l--5 {
    margin-left: -5px;
}

.m-t--5 {
    margin-top: -5px;
}

.m-r--5 {
    margin-right: -5px;
}

.m-b--5 {
    margin-bottom: -5px;
}

.m-l-0 {
    margin-left: 0px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-l-2 {
    margin-left: 2px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-r-2 {
    margin-right: 2px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-l-45 {
    margin-left: 45px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-l-55 {
    margin-left: 55px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-r-55 {
    margin-right: 55px;
}

.m-b-55 {
    margin-bottom: 55px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-l-65 {
    margin-left: 65px;
}

.m-t-65 {
    margin-top: 65px;
}

.m-r-65 {
    margin-right: 65px;
}

.m-b-65 {
    margin-bottom: 65px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-b-70 {
    margin-bottom: 70px;
}

.m-l-75 {
    margin-left: 75px;
}

.m-t-75 {
    margin-top: 75px;
}

.m-r-75 {
    margin-right: 75px;
}

.m-b-75 {
    margin-bottom: 75px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-r-80 {
    margin-right: 80px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-l-85 {
    margin-left: 85px;
}

.m-t-85 {
    margin-top: 85px;
}

.m-r-85 {
    margin-right: 85px;
}

.m-b-85 {
    margin-bottom: 85px;
}

.m-l-90 {
    margin-left: 90px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-r-90 {
    margin-right: 90px;
}

.m-b-90 {
    margin-bottom: 90px;
}

.m-l-95 {
    margin-left: 95px;
}

.m-t-95 {
    margin-top: 95px;
}

.m-r-95 {
    margin-right: 95px;
}

.m-b-95 {
    margin-bottom: 95px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-100 {
    margin-right: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-l-105 {
    margin-left: 105px;
}

.m-t-105 {
    margin-top: 105px;
}

.m-r-105 {
    margin-right: 105px;
}

.m-b-105 {
    margin-bottom: 105px;
}

.m-l-110 {
    margin-left: 110px;
}

.m-t-110 {
    margin-top: 110px;
}

.m-r-110 {
    margin-right: 110px;
}

.m-b-110 {
    margin-bottom: 110px;
}

.m-l-115 {
    margin-left: 115px;
}

.m-t-115 {
    margin-top: 115px;
}

.m-r-115 {
    margin-right: 115px;
}

.m-b-115 {
    margin-bottom: 115px;
}

.m-l-120 {
    margin-left: 120px;
}

.m-t-120 {
    margin-top: 120px;
}

.m-r-120 {
    margin-right: 120px;
}

.m-b-120 {
    margin-bottom: 120px;
}

.m-l-125 {
    margin-left: 125px;
}

.m-t-125 {
    margin-top: 125px;
}

.m-r-125 {
    margin-right: 125px;
}

.m-b-125 {
    margin-bottom: 125px;
}

.margin-0 {
    margin: 0;
}

.p-l-0 {
    padding-left: 0px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-t-35 {
    padding-top: 35px;
}

.p-r-35 {
    padding-right: 35px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-l-45 {
    padding-left: 45px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-r-45 {
    padding-right: 45px;
}

.p-b-45 {
    padding-bottom: 45px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-t-55 {
    padding-top: 55px;
}

.p-r-55 {
    padding-right: 55px;
}

.p-b-55 {
    padding-bottom: 55px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-t-60 {
    padding-top: 60px;
}

.p-r-60 {
    padding-right: 60px;
}

.p-b-60 {
    padding-bottom: 60px;
}

.p-l-65 {
    padding-left: 65px;
}

.p-t-65 {
    padding-top: 65px;
}

.p-r-65 {
    padding-right: 65px;
}

.p-b-65 {
    padding-bottom: 65px;
}

.p-l-70 {
    padding-left: 70px;
}

.p-t-70 {
    padding-top: 70px;
}

.p-r-70 {
    padding-right: 70px;
}

.p-b-70 {
    padding-bottom: 70px;
}

.p-l-75 {
    padding-left: 75px;
}

.p-t-75 {
    padding-top: 75px;
}

.p-r-75 {
    padding-right: 75px;
}

.p-b-75 {
    padding-bottom: 75px;
}

.p-l-80 {
    padding-left: 80px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-r-80 {
    padding-right: 80px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-l-85 {
    padding-left: 85px;
}

.p-t-85 {
    padding-top: 85px;
}

.p-r-85 {
    padding-right: 85px;
}

.p-b-85 {
    padding-bottom: 85px;
}

.p-l-90 {
    padding-left: 90px;
}

.p-t-90 {
    padding-top: 90px;
}

.p-r-90 {
    padding-right: 90px;
}

.p-b-90 {
    padding-bottom: 90px;
}

.p-l-95 {
    padding-left: 95px;
}

.p-t-95 {
    padding-top: 95px;
}

.p-r-95 {
    padding-right: 95px;
}

.p-b-95 {
    padding-bottom: 95px;
}

.p-l-100 {
    padding-left: 100px;
}

.p-t-100 {
    padding-top: 100px;
}

.p-r-100 {
    padding-right: 100px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.p-l-105 {
    padding-left: 105px;
}

.p-t-105 {
    padding-top: 105px;
}

.p-r-105 {
    padding-right: 105px;
}

.p-b-105 {
    padding-bottom: 105px;
}

.p-l-110 {
    padding-left: 110px;
}

.p-t-110 {
    padding-top: 110px;
}

.p-r-110 {
    padding-right: 110px;
}

.p-b-110 {
    padding-bottom: 110px;
}

.p-l-115 {
    padding-left: 115px;
}

.p-t-115 {
    padding-top: 115px;
}

.p-r-115 {
    padding-right: 115px;
}

.p-b-115 {
    padding-bottom: 115px;
}

.p-l-120 {
    padding-left: 120px;
}

.p-t-120 {
    padding-top: 120px;
}

.p-r-120 {
    padding-right: 120px;
}

.p-b-120 {
    padding-bottom: 120px;
}

.p-l-125 {
    padding-left: 125px;
}

.p-t-125 {
    padding-top: 125px;
}

.p-r-125 {
    padding-right: 125px;
}

.p-b-125 {
    padding-bottom: 125px;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

.padding-55 {
    padding: 55px;
}

.padding-60 {
    padding: 60px;
}

.padding-65 {
    padding: 65px;
}

.padding-70 {
    padding: 70px;
}

.padding-75 {
    padding: 75px;
}

.padding-80 {
    padding: 80px;
}

.padding-85 {
    padding: 85px;
}

.padding-90 {
    padding: 90px;
}

.padding-95 {
    padding: 95px;
}

.padding-100 {
    padding: 100px;
}

.padding-105 {
    padding: 105px;
}

.padding-110 {
    padding: 110px;
}

.padding-115 {
    padding: 115px;
}

.padding-120 {
    padding: 120px;
}

.padding-125 {
    padding: 125px;
}

.font-6 {
    font-size: 6px;
}

.font-7 {
    font-size: 7px;
}

.font-8 {
    font-size: 8px;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-21 {
    font-size: 21px;
}

.font-22 {
    font-size: 22px;
}

.font-23 {
    font-size: 23px;
}

.font-24 {
    font-size: 24px;
}

.font-25 {
    font-size: 25px;
}

.font-26 {
    font-size: 26px;
}

.font-27 {
    font-size: 27px;
}

.font-28 {
    font-size: 28px;
}

.font-29 {
    font-size: 29px;
}

.font-30 {
    font-size: 30px;
}

.font-31 {
    font-size: 31px;
}

.font-32 {
    font-size: 32px;
}

.font-33 {
    font-size: 33px;
}

.font-34 {
    font-size: 34px;
}

.font-35 {
    font-size: 35px;
}

.font-36 {
    font-size: 36px;
}

.font-37 {
    font-size: 37px;
}

.font-38 {
    font-size: 38px;
}

.font-39 {
    font-size: 39px;
}

.font-40 {
    font-size: 40px;
}

.font-41 {
    font-size: 41px;
}

.font-42 {
    font-size: 42px;
}

.font-43 {
    font-size: 43px;
}

.font-44 {
    font-size: 44px;
}

.font-45 {
    font-size: 45px;
}

.font-46 {
    font-size: 46px;
}

.font-47 {
    font-size: 47px;
}

.font-48 {
    font-size: 48px;
}

.font-49 {
    font-size: 49px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.font-72 {
    font-size: 72px;
}

.b-b-0 {
    border-bottom: 0px;
}

.b-t-0 {
    border-top: 0px;
}

.b-l-0 {
    border-left: 0px;
}

.b-r-0 {
    border-right: 0px;
}

.b-0 {
    border: 0px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.no-resize {
    resize: none;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-underline {
    text-decoration: underline;
}

.font-line-through {
    text-decoration: line-through;
}

.font-overline {
    text-decoration: overline;
}

/* Custom Animate ============================== */
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Demo ======================================== */
.demo-button-sizes .btn {
    margin-bottom: 5px;
}

.icon-button-demo button {
    margin-right: 5px;
    margin-bottom: 12px;
}

.icon-and-text-button-demo button {
    margin-right: 5px;
    margin-bottom: 12px;
    width: 16.66666666666667%;
}

.mdi:before {
    line-height: 28px;
}

.right-sidebar p {
    margin: 20px 15px 15px 15px;
    font-weight: bold;
    text-align: center;
}

.right-sidebar #settings .setting-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.right-sidebar #settings .setting-list li {
    padding: 15px;
    position: relative;
    border-top: 1px solid #eee;
}

.right-sidebar #settings .setting-list li .switch {
    position: absolute;
    top: 15px;
    right: 5px;
}

/* Materialize Css | Taken from www.materializecss.com */
/* Media ======================================= */
@media (max-width: 767px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 35px;
        width: 73%;
    }

    .navbar > .container-fluid .logo-in .navbar-brand {
        margin-left: 83px;
        width: 55%;
    }

    .navbar .nav > li {
        display: inline-block;
    }

    .navbar .navbar-nav {
        margin-top: -10px;
        margin-bottom: 1px;
        margin-left: -7px;
    }

    .navbar .js-right-sidebar {
        margin-top: 15px;
    }

    .dt-buttons {
        float: none !important;
        text-align: center;
        margin-bottom: 15px;
    }

    .panel-switch-btn {
        top: 12px;
        right: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 20px;
    }

    .navbar > .container-fluid .logo-in .navbar-brand {
        margin-left: 83px;
    }
}

@media (min-width: 992px) and (max-width: 1169px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 20px;
    }

    .navbar > .container-fluid .logo-in .navbar-brand {
        margin-left: 83px;
    }
}

/* General ===================================== */
html {
    height: 100%;
}

body {
    background-color: #e9e9e9;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

textarea,
button,
input,
select,
a {
    outline: none !important;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

.help-info {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    font-weight: normal;
}
/* Thumbnails ================================== */
.thumbnail {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.thumbnail p:not(button) {
    color: #999999;
    font-size: 14px;
}

.thumbnail h3 {
    font-weight: bold;
    font-size: 17px;
}


/* Collapse ==================================== */
.collapse .well,
.collapse.in .well,
.collapsing .well {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

/* Dropzone ==================================== */
.dropzone {
    border: 2px solid transparent !important;
    background-color: #eee !important;
}

.dropzone .dz-message .drag-icon-cph .material-icons {
    font-size: 80px;
    color: #777;
}

.dz-drag-hover {
    border: 2px dashed #888 !important;
}

/* =============  end breadcrumb ================== */


/* Waves ======================================= */
.waves-effect.waves-red .waves-ripple {
    background: rgba(244, 67, 54, 0.5);
}

.waves-effect.waves-pink .waves-ripple {
    background: rgba(233, 30, 99, 0.5);
}

.waves-effect.waves-purple .waves-ripple {
    background: rgba(156, 39, 176, 0.5);
}

.waves-effect.waves-deep-purple .waves-ripple {
    background: rgba(103, 58, 183, 0.5);
}

.waves-effect.waves-indigo .waves-ripple {
    background: rgba(63, 81, 181, 0.5);
}

.waves-effect.waves-blue .waves-ripple {
    background: rgba(33, 150, 243, 0.5);
}

.waves-effect.waves-light-blue .waves-ripple {
    background: rgba(3, 169, 244, 0.5);
}

.waves-effect.waves-cyan .waves-ripple {
    background: rgba(0, 188, 212, 0.5);
}

.waves-effect.waves-teal .waves-ripple {
    background: rgba(0, 150, 136, 0.5);
}

.waves-effect.waves-green .waves-ripple {
    background: rgba(76, 175, 80, 0.5);
}

.waves-effect.waves-light-green .waves-ripple {
    background: rgba(139, 195, 74, 0.5);
}

.waves-effect.waves-lime .waves-ripple {
    background: rgba(205, 220, 57, 0.5);
}

.waves-effect.waves-yellow .waves-ripple {
    background: rgba(255, 232, 33, 0.5);
}

.waves-effect.waves-amber .waves-ripple {
    background: rgba(255, 193, 7, 0.5);
}

.waves-effect.waves-orange .waves-ripple {
    background: rgba(255, 152, 0, 0.5);
}

.waves-effect.waves-deep-orange .waves-ripple {
    background: rgba(255, 87, 34, 0.5);
}

.waves-effect.waves-brown .waves-ripple {
    background: rgba(121, 85, 72, 0.5);
}

.waves-effect.waves-grey .waves-ripple {
    background: rgba(158, 158, 158, 0.5);
}

.waves-effect.waves-blue-grey .waves-ripple {
    background: rgba(96, 125, 139, 0.5);
}

.waves-effect.waves-black .waves-ripple {
    background: rgba(0, 0, 0, 0.5);
}

.waves-effect.waves-white .waves-ripple {
    background: rgba(255, 255, 255, 0.5);
}

/* Page Loader ================================= */
.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    text-align: center;
}

.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

.right {
    float: right !important;
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.gap-patch.circle {
    width: 1000%;
    left: -450%;
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    -moz-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    -o-transform: rotate(129deg);
    transform: rotate(129deg);
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    -moz-transform: rotate(-129deg);
    -ms-transform: rotate(-129deg);
    -o-transform: rotate(-129deg);
    transform: rotate(-129deg);
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes container-rotate {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes left-spin {
    from {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@-moz-keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}


.label-count {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 10px;
    line-height: 15px;
    background-color: #000;
    padding: 0 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

/* Left Sidebar & Overlay ====================== */


.menu {
    position: relative;
    overflow-y: auto;
}

.menu .list {
    list-style: none;
    padding-left: 0;
}

.menu .list li.active > :first-child span {
    font-weight: bold;
}

.menu[class*="bg-"] .list li.active > :first-child span,
.menu[class*="bg-"] .list li.active > :first-child i {
    opacity: 0.7;
}

.menu:not([class*="bg-"]) .list .header {
    background: #eee;
}

.menu .list .header {
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.menu .list i.material-icons {
    width: 24px;
}

.menu .list i.material-icons.clickable-icon {
    width: 32px;
    height: 32px;
}

.menu:not([class*="bg-"]) .list a {
    color: #747474;
}

.menu .list a {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

.menu .list a:hover, .menu .list a:active, .menu .list a:focus {
    text-decoration: none !important;
}

.menu .list a small {
    position: absolute;
    top: calc(50% - 7.5px);
    right: 15px;
}

.menu:not([class*="bg-"]) .list a .title {
    color: #333;
}

.menu .list a .title {
    margin: 2px 0px 0px 12px;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.menu[class*="bg-"] .list li a:hover {
    opacity: 0.7;
}

.menu[class*="bg-"] .list li a:hover i {
    opacity: 0.7;
}

.menu .tree-leaf a i {
    min-width: 24px;
}

.menu .tree-leaf a .title {
    font-weight: 500;
    display: inline;
    white-space: nowrap;
}

.menu .list .ml-tree {
    list-style: none;
    padding-left: 0;
}

.menu .list .ml-tree li a {
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu .list .ml-tree li.active a.toggled:not(.tree-toggle) {
    font-weight: 600;
    margin-left: 5px;
}

.menu ul.list li a i.mdi:before {
    line-height: 24px;
}

.menu .gap {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.menu .separator a {
    border-bottom: 1px solid #cccccc;
}

.right-sidebar {
    width: 280px;
    height: calc(100vh - 70px);
    position: fixed;
    right: 0px;
    top: 70px;
    margin-right: 0px;
    background: #fdfdfd;
    z-index: 11 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.right-sidebar.open {
    right: 0;
}

.right-sidebar .nav-tabs {
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-left: 2px;
}

.right-sidebar .nav-tabs li {
    text-align: center;
}

.right-sidebar .nav-tabs li > a {
    margin-right: 0;
}

.right-sidebar .nav-tabs li:first-child {
    width: 45%;
}

.right-sidebar .nav-tabs li:last-child {
    width: 55%;
}

/* Jquery Nestable ============================= */
.dd-handle {
    background-color: #f9f9f9 !important;
}

.dd-handle:hover {
    color: #2196F3;
}

.nestable-dark-theme .dd-handle {
    background: #ccc !important;
    border: 1px solid #999 !important;
}

.dd3-handle {
    background: #999 !important;
}

.dd3-content:hover {
    color: #2196F3;
}

/* For Internet Explorer 11 ===================== */
html.ie11 .menu .list .ml-tree li.active a:not(.tree-toggle).toggled:before {
    top: 6px !important;
    line-height: 20px !important;
}

html.ie11 .sidebar .user-info .info-container {
    top: 15px;
}

html.ie11 .search-bar input[type="text"] {
    padding: 26px 60px 26px 56px;
}

a {
    cursor: pointer !important;
}

a.disabled {
    cursor: not-allowed !important;
}

.menu-header {
    line-height: 24px !important;
}

.menu-header .material-icons {
    margin-bottom: 0px !important;
}


@media only screen and (max-width: 600px) {
    .center-on-small-only {
        text-align: center
    }
}

.ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-upload {
    border: 2px solid transparent;
    background-color: #eee;
    min-height: 150px;
    padding: 20px 20px;
    box-sizing: border-box;
}

.file-upload.file-upload-hover {
    border: 2px dashed #888;
    opacity: 0.5;
}

.file-upload-message {
    cursor: pointer;
    text-align: center;
    margin: 2em 0;
}

.file-upload-message-icon i {
    font-size: 80px;
}

.file-upload .file-upload-message, .file-upload .file-upload-message-icon {
    pointer-events: auto;
}

.file-upload-hover .file-upload-message, .file-upload-hover .file-upload-message-icon {
    pointer-events: none;
}

.domino-file-preview {
    display: inline-block;
    height: 200px;
    width: 170px;
    margin: 10px;
}

.domino-file-image-container {
    height: 80px;
}

.fc-col-transparent {
    border-bottom: 1px solid transparent !important;
}

.error-info {
    font-size: 12px;
    margin-top: 5px;
    color: #ef4735;
}

.horizontal-radio {
    margin: 5px;
    width: auto;
}

.input-addon-container {
    position: relative;
    background-color: transparent;
    border: none;
    text-align: center;
    display: table-cell;
    vertical-align: top;
    padding-top: 6px;
    width: 28px;
}

.input-addon {
    transition: color .2s;
    margin-left: 5px;
    margin-right: 5px;
}

.input-addon.material-icons {
    width: 28px;
    height: 28px;
    cursor: default;
}

.input-addon.material-icons.clickable-icon {
    cursor: pointer;
}

.input-addon.mdi {
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}

.input-addon.mdi:before {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 2rem;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -13px;
}

.input-addon.mdi.clickable-icon:before {
    top: 0px;
}

.input-addon:not(.fas) {
    font-size: 2rem;
}

.input-addon.lg {
    font-size: 2.5rem;
}

.input-addon.sm {
    font-size: 1.9rem;
}

.clock-picker {

    display: block;
    width: 270px;
    height: 255px;
    position: absolute;
    left: 50%;
    margin-left: -135px;
}

.clock-picker .hour {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.clock-picker .hour:hover {
}

.clock-picker .small-hour {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}

.clock-picker .small-hour:hover {
}

.cursor-pointer {
    cursor: pointer;
}

.disable-selection {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.material-icons {
    font-feature-settings: 'liga’;
}

.select-span {
    position: absolute !important;
    top: 6px !important;
    left: 0 !important;
    padding-right: 25px;
}

.panel-group .full-body .panel[class*="col-"] .panel-body {
    border-top-color: #fff;
}

.default-shadow {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50%)) !important;
}

.h-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-dropdown {
    width: 100%;
}

/*x-Large screens*/
@media screen and (min-width: 1800px) {
    .hide-on-xlarge-only,
    .hide-on-xlarge-and-up,
    .hide-on-large-and-up,
    .hide-on-medium-and-up,
    .hide-on-small-and-up {
        display: none !important
    }

    .show-on-xlarge-only,
    .show-on-large-and-up,
    .show-on-xlarge-and-up,
    .show-on-medium-and-up,
    .show-on-small-and-up {
        display: block !important
    }

    th.show-on-xlarge-only,
    th.show-on-xlarge-and-up,
    th.show-on-large-and-up,
    th.show-on-medium-and-up,
    th.show-on-small-and-up {
        display: table-cell !important;
    }

    td.show-on-xlarge-only,
    td.show-on-xlarge-and-up,
    td.show-on-large-and-up,
    td.show-on-medium-and-up,
    td.show-on-small-and-up {
        display: table-cell !important;
    }

    .grid-row.show-on-xlarge-only,
    .grid-row.show-on-xlarge-and-up,
    .grid-row.show-on-large-and-up,
    .grid-row.show-on-medium-and-up,
    .grid-row.show-on-small-and-up {
        display: grid !important
    }

}

/*Large screens*/
@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .hide-on-large-only,
    .hide-on-large-and-down,
    .hide-on-xlarge-and-down,
    .hide-on-large-and-up,
    .hide-on-medium-and-up,
    .hide-on-small-and-up {
        display: none !important
    }

    .show-on-large-only,
    .show-on-large-and-up,
    .show-on-large-and-down,
    .show-on-medium-and-up,
    .show-on-small-and-up {
        display: block !important
    }

    th.show-on-large-only,
    th.show-on-large-and-up,
    th.show-on-large-and-down,
    th.show-on-medium-and-up,
    th.show-on-small-and-up {
        display: table-cell !important
    }

    td.show-on-large-only,
    td.show-on-large-and-up,
    td.show-on-large-and-down,
    td.show-on-medium-and-up,
    td.show-on-small-and-up {
        display: table-cell !important
    }

    .grid-row.show-on-large-only,
    .grid-row.show-on-large-and-up,
    .grid-row.show-on-large-and-down,
    .grid-row.show-on-medium-and-up,
    .grid-row.show-on-small-and-up {
        display: grid !important
    }

}

/*Medium screens*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hide-on-medium-only,
    .hide-on-medium-and-down,
    .hide-on-large-and-down,
    .hide-on-xlarge-and-down,
    .hide-on-medium-and-up,
    .hide-on-small-and-up {
        display: none !important
    }

    .show-on-medium-only,
    .show-on-medium-and-up,
    .show-on-medium-and-down,
    .show-on-large-and-down,
    .show-on-medium-and-up,
    .show-on-small-and-up {
        display: block !important
    }

    th.show-on-medium-only,
    th.show-on-medium-and-up,
    th.show-on-medium-and-down,
    th.show-on-large-and-down,
    th.show-on-medium-and-up,
    th.show-on-small-and-up {
        display: table-cell !important
    }

    td.show-on-medium-only,
    td.show-on-medium-and-up,
    td.show-on-medium-and-down,
    td.show-on-large-and-down,
    td.show-on-medium-and-up,
    td.show-on-small-and-up {
        display: table-cell !important
    }

    .grid-row.show-on-medium-only,
    .grid-row.show-on-medium-and-up,
    .grid-row.show-on-medium-and-down,
    .grid-row.show-on-large-and-down,
    .grid-row.show-on-medium-and-up,
    .grid-row.show-on-small-and-up {
        display: grid !important
    }
}

/*Small screens*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .hide-on-small-only,
    .hide-on-small-and-down,
    .hide-on-medium-and-down,
    .hide-on-large-and-down,
    .hide-on-xlarge-and-down,
    .hide-on-small-and-up {
        display: none !important
    }

    .show-on-small-only,
    .show-on-small-and-up,
    .show-on-small-and-down,
    .show-on-large-and-down,
    .show-on-medium-and-down,
    .show-on-small-and-up {
        display: block !important
    }

    th.show-on-small-only,
    th.show-on-small-and-up,
    th.show-on-small-and-down,
    th.show-on-large-and-down,
    th.show-on-medium-and-down,
    th.show-on-small-and-up {
        display: table-cell !important
    }

    td.show-on-small-only,
    td.show-on-small-and-up,
    td.show-on-small-and-down,
    td.show-on-large-and-down,
    td.show-on-medium-and-down,
    td.show-on-small-and-up {
        display: table-cell !important
    }

    .grid-row.show-on-small-only,
    .grid-row.show-on-small-and-up,
    .grid-row.show-on-small-and-down,
    .grid-row.show-on-large-and-down,
    .grid-row.show-on-medium-and-down,
    .grid-row.show-on-small-and-up {
        display: grid !important
    }
}

/*x-Small screens*/
@media screen and (max-width: 768px) {
    .hide-on-xsmall-only,
    .hide-on-small-and-down,
    .hide-on-medium-and-down,
    .hide-on-large-and-down,
    .hide-on-xlarge-and-down {
        display: none !important
    }

    .show-on-xsmall-only,
    .show-on-large-and-down,
    .show-on-medium-and-down,
    .show-on-small-and-down {
        display: block !important
    }

    th.show-on-xsmall-only,
    th.show-on-large-and-down,
    th.show-on-medium-and-down,
    th.show-on-small-and-down {
        display: table-cell !important
    }

    td.show-on-xsmall-only,
    td.show-on-large-and-down,
    td.show-on-medium-and-down,
    td.show-on-small-and-down {
        display: table-cell !important
    }

    .grid-row.show-on-xsmall-only,
    .grid-row.show-on-large-and-down,
    .grid-row.show-on-medium-and-down,
    .grid-row.show-on-small-and-down {
        display: grid !important
    }
}

.opacity-l-0 {
    opacity: 0;
}

.opacity-l-1 {
    opacity: 0.1;
}

.opacity-l-2 {
    opacity: 0.2;
}

.opacity-l-3 {
    opacity: 0.3;
}

.opacity-l-4 {
    opacity: 0.4;
}

.opacity-l-5 {
    opacity: 0.5;
}

.opacity-l-6 {
    opacity: 0.6;
}

.opacity-l-7 {
    opacity: 0.7;
}

.opacity-l-8 {
    opacity: 0.8;
}

.opacity-l-9 {
    opacity: 0.9;
}

.opacity-l-full {
    opacity: 1;
}

.top-scroller {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    opacity: 0.4;
}

.top-scroller:hover {
    opacity: 1;
}

.scroll-panel {
    overflow: scroll;
}

.v-scroll-panel {
    overflow-y: scroll;
}

.h-scroll-panel {
    overflow-x: scroll;
}

.auto-scroll-panel {
    overflow: auto;
}

.auto-v-scroll-panel {
    overflow-y: auto;
}

.auto-h-scroll-panel {
    overflow-x: auto;
}

.no-wrap {
    white-space: nowrap;
}

.empty-state i {
    font-size: 160px;
}

.empty-state h4 {
    font-weight: normal;
}

.logo-in .navbar-brand {
    margin-left: 83px;
}

.logo-in {
    margin-left: 15px;
}

.logo-in img {
    left: 25px;
}

/*========================= Email box ======================== */
input[type=email].disabled-suggestions::-webkit-calendar-picker-indicator {
    display: none;
}

/*========================= Telephone box ======================== */
input[type=tel].disabled-suggestions::-webkit-calendar-picker-indicator {
    display: none;
}

/*========================= SuggestBox ======================== */
.highlight {
    color: #424242;
}

.suggest-box-loader {
    width: 38px;
    height: 33px;
    position: absolute;
    right: 0px;
}

/*========================= Select ======================== */
.select-search-container {
    padding: 4px 8px;
}

.select-search-box {
}

.select-search-box:after {
    content: '\E8B6';
    font-family: 'Material Icons';
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 25px;
}


.select-button {
    background-color: transparent;
    width: 100%;
    z-index: 1;
    border: 0px;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

.select-button[disabled] {
    cursor: not-allowed;
}

.select-button[readonly] {
    cursor: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.select-option-menu > ul > li > a {
    padding: 0px;
}

.select-option {
    padding: 7px 10px 7px 30px;
}

.select-option-selected {
    background-color: rgba(0, 0, 0, 0.075);
}

.select-option-check-mark {
    line-height: 25px;
}

.select-value {
    width: 100%;
    text-align: left;
    position: absolute !important;
    top: 0px !important;
    left: 0 !important;
    padding-right: 40px;
}

.select-label {
    cursor: pointer !important;
}

.mdi:focus,
.material-icons:focus {
    outline: none;
    background-color: rgba(32, 33, 36, 0.1);
}

.menu .list .tgl-icon .title {
    line-height: 30px;
}

.menu .list .tgl-icon a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tree-tgl-icn {
    position: absolute;
    line-height: 18px;
    padding-top: 2px;
    right: 15px;
    width: 24px;
    top: 3px;
}

.menu .list .tree-tgl-icn {
    display: none;
}

.menu .list .tree-item-parent > a .tree-tgl-icn {
    display: block;
}

.menu .list .tree-item-parent > a .tree-tgl-icn .tree-tgl-collapsed {
    display: block;
}

.menu .list .tree-item-parent > a .tree-tgl-icn .tree-tgl-expanded {
    display: none;
}

.menu .list .tree-item-parent > a.toggled .tree-tgl-icn .tree-tgl-expanded {
    display: block;
}

.menu .list .tree-item-parent > a.toggled .tree-tgl-icn .tree-tgl-collapsed {
    display: none;
}

.menu .list li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu .list .toggled:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tree-tgl-icn .mdi:before {
    line-height: 26px;
}

.tree-indicator {
    position: absolute;
    right: 48px;
    top: 9px;
    height: 24px;
    line-height: 24px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
}