.breadcrumb{
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 8px 15px;
    list-style: none;
}

.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: '>\00a0';
}

.breadcrumb:not([class*="bg-"]) > .active {
    color: #777;
}
.breadcrumb[class*="bg-"] > .active,
.breadcrumb[class*="bg-"]:not([class*="bg-white"]){
    color: #ffffff;
}

.breadcrumb[class*="bg-white"]{
    color: #444;
}

.breadcrumb[class*="col-"]:not([class*="col-white"]) li a,
.breadcrumb[class*="bg-"]:not([class*="bg-white"]) li a {
    font-weight: bold;
}

.breadcrumb[class*="bg-"]:not([class*="bg-white"]) li a .material-icons {
    padding-bottom: 8px;
}

.breadcrumb li .material-icons,
.breadcrumb li a .material-icons {
    font-size: 18px;
    position: relative;
    top: 4px;
}

.breadcrumb li .material-icons {
    width: 18px;
}

.breadcrumb li[disabled] a{
    cursor: default !important;
    text-decoration: none;
}

.breadcrumb.nav-disabled li a:hover{
    cursor: default !important;
}
