<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a data-element="navBarExpand" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a data-element="menu" class="bars"></a>
            <a data-element="title" class="navbar-brand">
                <span data-element="appTitle" class="app-title"></span>
                <span data-element="titleDescription" class="title-desc"></span>
            </a>
        </div>
        <div data-element="navigationBar" class="collapse navbar-collapse" id="navbar-collapse">
            <ul data-element="topBar" class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>