.theme-red .bg-theme {
  background-color: #F44336 !important;
  color: #fff; }
.bg-red .content .text,
.bg-red .content .number {
  color: #fff !important; }

.theme-red .navbar {
  background-color: #F44336; }

.theme-red .footer {
  background-color: #F44336;
   color: #fff; }

.theme-red .navbar-brand {
  color: #fff; }
  .theme-red .navbar-brand:hover {
    color: #fff; }
  .theme-red .navbar-brand:active {
    color: #fff; }
  .theme-red .navbar-brand:focus {
    color: #fff; }

.theme-red .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-red .nav > li > a:hover {
    background-color: transparent; }
  .theme-red .nav > li > a:focus {
    background-color: transparent; }

.theme-red .nav .open > a {
  background-color: transparent; }
  .theme-red .nav .open > a:hover {
    background-color: transparent; }
  .theme-red .nav .open > a:focus {
    background-color: transparent; }

.theme-red .bars {
  color: #fff; }

.theme-red .menu .list li.active {
  background-color: transparent; }
  .theme-red .menu:not([class*="bg-"]) .list li.active > :first-child i {
    color: #F44336; }

.theme-red .menu .list .toggled {
  background-color: transparent; }

.theme-red .menu .list .ml-tree {
  background-color: transparent; }

.theme-red .sidebar .legal {
  background-color: #fff; }
  .theme-red .sidebar .legal .copyright a {
    color: #F44336 !important; }

.theme-pink .bg-theme {
  background-color: #E91E63 !important;
  color: #fff; }
.bg-pink .content .text,
.bg-pink .content .number {
  color: #fff !important; }


.theme-pink .navbar {
  background-color: #E91E63; }

.theme-pink .footer {
  background-color: #E91E63;
   color: #fff;}

.theme-pink .navbar-brand {
  color: #fff; }
  .theme-pink .navbar-brand:hover {
    color: #fff; }
  .theme-pink .navbar-brand:active {
    color: #fff; }
  .theme-pink .navbar-brand:focus {
    color: #fff; }

.theme-pink .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-pink .nav > li > a:hover {
    background-color: transparent; }
  .theme-pink .nav > li > a:focus {
    background-color: transparent; }

.theme-pink .nav .open > a {
  background-color: transparent; }
  .theme-pink .nav .open > a:hover {
    background-color: transparent; }
  .theme-pink .nav .open > a:focus {
    background-color: transparent; }

.theme-pink .bars {
  color: #fff; }

.theme-pink .menu .list li.active {
  background-color: transparent; }
  .theme-pink .menu:not([class*="bg-"]) .list li.active > :first-child i {
    color: #E91E63; }

.theme-pink .menu .list .toggled {
  background-color: transparent; }

.theme-pink .menu .list .ml-tree {
  background-color: transparent; }

.theme-pink .sidebar .legal {
  background-color: #fff; }
  .theme-pink .sidebar .legal .copyright a {
    color: #E91E63 !important; }

.theme-purple .bg-theme {
  background-color: #9C27B0 !important;
  color: #fff; }
.bg-purple .content .text,
.bg-purple .content .number {
  color: #fff !important; }

.theme-purple .navbar {
  background-color: #9C27B0; }

.theme-purple .footer {
  background-color: #9C27B0;
   color: #fff;}

.theme-purple .navbar-brand {
  color: #fff; }
  .theme-purple .navbar-brand:hover {
    color: #fff; }
  .theme-purple .navbar-brand:active {
    color: #fff; }
  .theme-purple .navbar-brand:focus {
    color: #fff; }

.theme-purple .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-purple .nav > li > a:hover {
    background-color: transparent; }
  .theme-purple .nav > li > a:focus {
    background-color: transparent; }

.theme-purple .nav .open > a {
  background-color: transparent; }
  .theme-purple .nav .open > a:hover {
    background-color: transparent; }
  .theme-purple .nav .open > a:focus {
    background-color: transparent; }

.theme-purple .bars {
  color: #fff; }

.theme-purple .menu .list li.active {
  background-color: transparent; }
  .theme-purple .menu:not([class*="bg-"]) .list li.active > :first-child i {
    color: #9C27B0; }

.theme-purple .menu .list .toggled {
  background-color: transparent; }

.theme-purple .menu .list .ml-tree {
  background-color: transparent; }

.theme-purple .sidebar .legal {
  background-color: #fff; }
  .theme-purple .sidebar .legal .copyright a {
    color: #9C27B0 !important; }

.theme-deep-purple .bg-theme {
  background-color: #673AB7 !important;
  color: #fff; }
.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
  color: #fff !important; }

.theme-deep-purple .navbar {
  background-color: #673AB7; }

.theme-deep-purple .footer {
  background-color: #673AB7;
   color: #fff;}

.theme-deep-purple .navbar-brand {
  color: #fff; }
  .theme-deep-purple .navbar-brand:hover {
    color: #fff; }
  .theme-deep-purple .navbar-brand:active {
    color: #fff; }
  .theme-deep-purple .navbar-brand:focus {
    color: #fff; }

.theme-deep-purple .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-deep-purple .nav > li > a:hover {
    background-color: transparent; }
  .theme-deep-purple .nav > li > a:focus {
    background-color: transparent; }

.theme-deep-purple .nav .open > a {
  background-color: transparent; }
  .theme-deep-purple .nav .open > a:hover {
    background-color: transparent; }
  .theme-deep-purple .nav .open > a:focus {
    background-color: transparent; }

.theme-deep-purple .bars {
  color: #fff; }

.theme-deep-purple .menu .list li.active {
  background-color: transparent; }
  .theme-deep-purple .menu:not([class*="bg-"]) .list li.active > :first-child i {
    color: #673AB7; }

.theme-deep-purple .menu .list .toggled {
  background-color: transparent; }

.theme-deep-purple .menu .list .ml-tree {
  background-color: transparent; }

.theme-deep-purple .sidebar .legal {
  background-color: #fff; }
  .theme-deep-purple .sidebar .legal .copyright a {
    color: #673AB7 !important; }

.theme-indigo .bg-theme {
  background-color: #3F51B5 !important;
  color: #fff; }
.bg-indigo .content .text,
.bg-indigo .content .number {
  color: #fff !important; }

.theme-indigo .navbar {
  background-color: #3F51B5; }

.theme-indigo .footer {
  background-color: #3F51B5;
   color: #fff;}

.theme-indigo .navbar-brand {
  color: #fff; }
  .theme-indigo .navbar-brand:hover {
    color: #fff; }
  .theme-indigo .navbar-brand:active {
    color: #fff; }
  .theme-indigo .navbar-brand:focus {
    color: #fff; }

.theme-indigo .nav:not(.nav-tabs) > li > a {
  color: #fff; }

.theme-indigo .nav .open > a {
  background-color: transparent; }
  .theme-indigo .nav .open > a:hover {
    background-color: transparent; }
  .theme-indigo .nav .open > a:focus {
    background-color: transparent; }

.theme-indigo .bars {
  color: #fff; }

.theme-indigo .menu .list li.active {
  background-color: transparent; }
  .theme-indigo .menu:not([class*="bg-"]) .list li.active > :first-child i {
    color: #3F51B5; }

.theme-indigo .menu .list .toggled {
  background-color: transparent; }

.theme-indigo .menu .list .ml-tree {
  background-color: transparent; }

.theme-indigo .sidebar .legal {
  background-color: #fff; }
  .theme-indigo .sidebar .legal .copyright a {
    color: #3F51B5 !important; }

.theme-blue .bg-theme {
  background-color: #2196F3 !important;
  color: #fff; }
.bg-blue .content .text,
.bg-blue .content .number {
  color: #fff !important; }

.theme-blue .navbar {
  background-color: #2196F3; }

.theme-blue .footer {
  background-color: #2196F3;
   color: #fff;}

.theme-blue .navbar-brand {
  color: #fff; }
  .theme-blue .navbar-brand:hover {
    color: #fff; }
  .theme-blue .navbar-brand:active {
    color: #fff; }
  .theme-blue .navbar-brand:focus {
    color: #fff; }

.theme-blue .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-blue .nav > li > a:hover {
    background-color: transparent; }
  .theme-blue .nav > li > a:focus {
    background-color: transparent; }

.theme-blue .nav .open > a {
  background-color: transparent; }
  .theme-blue .nav .open > a:hover {
    background-color: transparent; }
  .theme-blue .nav .open > a:focus {
    background-color: transparent; }

.theme-blue .bars {
  color: #fff; }

.theme-blue .menu .list li.active {
  background-color: transparent; }
  .theme-blue .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-blue .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #2196F3; }

.theme-blue .menu .list .toggled {
  background-color: transparent; }

.theme-blue .menu .list .ml-tree {
  background-color: transparent; }

.theme-blue .sidebar .legal {
  background-color: #fff; }
  .theme-blue .sidebar .legal .copyright a {
    color: #2196F3 !important; }

.theme-light-blue .bg-theme {
  background-color: #03A9F4 !important;
  color: #fff; }
.bg-light-blue .content .text,
.bg-light-blue .content .number {
  color: #fff !important; }

.theme-light-blue .navbar {
  background-color: #03A9F4; }

.theme-light-blue .footer {
  background-color: #03A9F4;
   color: #fff;}

.theme-light-blue .navbar-brand {
  color: #fff; }
  .theme-light-blue .navbar-brand:hover {
    color: #fff; }
  .theme-light-blue .navbar-brand:active {
    color: #fff; }
  .theme-light-blue .navbar-brand:focus {
    color: #fff; }

.theme-light-blue:not([class*="nav-tab"]) .nav > li > a {
  color: #fff; }
  .theme-light-blue .nav > li > a:hover {
    background-color: transparent; }
  .theme-light-blue .nav > li > a:focus {
    background-color: transparent; }

.theme-light-blue .nav .open > a {
  background-color: transparent; }
  .theme-light-blue .nav .open > a:hover {
    background-color: transparent; }
  .theme-light-blue .nav .open > a:focus {
    background-color: transparent; }

.theme-light-blue .bars {
  color: #fff; }

.theme-light-blue .menu .list li.active {
  background-color: transparent; }
  .theme-light-blue .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-light-blue .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #03A9F4; }

.theme-light-blue .menu .list .toggled {
  background-color: transparent; }

.theme-light-blue .menu .list .ml-tree {
  background-color: transparent; }

.theme-light-blue .sidebar .legal {
  background-color: #fff; }
  .theme-light-blue .sidebar .legal .copyright a {
    color: #03A9F4 !important; }


.theme-cyan .bg-theme {
  background-color: #00BCD4 !important;
  color: #fff; }
.bg-cyan .content .text,
.bg-cyan .content .number {
  color: #fff !important; }

.theme-cyan .navbar {
  background-color: #00BCD4; }

.theme-cyan .footer {
  background-color: #00BCD4;
   color: #fff;}

.theme-cyan .navbar-brand {
  color: #fff; }
  .theme-cyan .navbar-brand:hover {
    color: #fff; }
  .theme-cyan .navbar-brand:active {
    color: #fff; }
  .theme-cyan .navbar-brand:focus {
    color: #fff; }

.theme-cyan .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-cyan .nav > li > a:hover {
    background-color: transparent; }
  .theme-cyan .nav > li > a:focus {
    background-color: transparent; }

.theme-cyan .nav .open > a {
  background-color: transparent; }
  .theme-cyan .nav .open > a:hover {
    background-color: transparent; }
  .theme-cyan .nav .open > a:focus {
    background-color: transparent; }

.theme-cyan .bars {
  color: #fff; }

.theme-cyan .menu .list li.active {
  background-color: transparent; }
  .theme-cyan .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-cyan .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #00BCD4; }

.theme-cyan .menu .list .toggled {
  background-color: transparent; }

.theme-cyan .menu .list .ml-tree {
  background-color: transparent; }

.theme-cyan .sidebar .legal {
  background-color: #fff; }
  .theme-cyan .sidebar .legal .copyright a {
    color: #00BCD4 !important; }

.theme-teal .bg-theme {
  background-color: #009688 !important;
  color: #fff; }
.bg-teal .content .text,
.bg-teal .content .number {
  color: #fff !important; }

.theme-teal .navbar {
  background-color: #009688; }

.theme-teal .footer {
  background-color: #009688;
   color: #fff;}

.theme-teal .navbar-brand {
  color: #fff; }
  .theme-teal .navbar-brand:hover {
    color: #fff; }
  .theme-teal .navbar-brand:active {
    color: #fff; }
  .theme-teal .navbar-brand:focus {
    color: #fff; }

.theme-teal .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-teal .nav > li > a:hover {
    background-color: transparent; }
  .theme-teal .nav > li > a:focus {
    background-color: transparent; }

.theme-teal .nav .open > a {
  background-color: transparent; }
  .theme-teal .nav .open > a:hover {
    background-color: transparent; }
  .theme-teal .nav .open > a:focus {
    background-color: transparent; }

.theme-teal .bars {
  color: #fff; }

.theme-teal .menu .list li.active {
  background-color: transparent; }
  .theme-teal .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-teal .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #009688; }

.theme-teal .menu .list .toggled {
  background-color: transparent; }

.theme-teal .menu .list .ml-tree {
  background-color: transparent; }

.theme-teal .sidebar .legal {
  background-color: #fff; }
  .theme-teal .sidebar .legal .copyright a {
    color: #009688 !important; }

.theme-green .bg-theme {
  background-color: #4CAF50 !important;
  color: #fff; }
.bg-green .content .text,
.bg-green .content .number {
  color: #fff !important; }

.theme-green .navbar {
  background-color: #4CAF50; }

.theme-green .footer {
  background-color: #4CAF50;
   color: #fff;}

.theme-green .navbar-brand {
  color: #fff; }
  .theme-green .navbar-brand:hover {
    color: #fff; }
  .theme-green .navbar-brand:active {
    color: #fff; }
  .theme-green .navbar-brand:focus {
    color: #fff; }

.theme-green .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-green .nav > li > a:hover {
    background-color: transparent; }
  .theme-green .nav > li > a:focus {
    background-color: transparent; }

.theme-green .nav .open > a {
  background-color: transparent; }
  .theme-green .nav .open > a:hover {
    background-color: transparent; }
  .theme-green .nav .open > a:focus {
    background-color: transparent; }

.theme-green .bars {
  color: #fff; }

.theme-green .menu .list li.active {
  background-color: transparent; }
  .theme-green .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-green .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #4CAF50; }

.theme-green .menu .list .toggled {
  background-color: transparent; }

.theme-green .menu .list .ml-tree {
  background-color: transparent; }

.theme-green .sidebar .legal {
  background-color: #fff; }
  .theme-green .sidebar .legal .copyright a {
    color: #4CAF50 !important; }

.theme-light-green .bg-theme {
  background-color: #8BC34A !important;
  color: #fff; }
.bg-light-green .content .text,
.bg-light-green .content .number {
  color: #fff !important; }

.theme-light-green .navbar {
  background-color: #8BC34A; }

.theme-light-green .footer {
  background-color: #8BC34A;
   color: #fff;}

.theme-light-green .navbar-brand {
  color: #fff; }
  .theme-light-green .navbar-brand:hover {
    color: #fff; }
  .theme-light-green .navbar-brand:active {
    color: #fff; }
  .theme-light-green .navbar-brand:focus {
    color: #fff; }

.theme-light-green .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-light-green .nav > li > a:hover {
    background-color: transparent; }
  .theme-light-green .nav > li > a:focus {
    background-color: transparent; }

.theme-light-green .nav .open > a {
  background-color: transparent; }
  .theme-light-green .nav .open > a:hover {
    background-color: transparent; }
  .theme-light-green .nav .open > a:focus {
    background-color: transparent; }

.theme-light-green .bars {
  color: #fff; }

.theme-light-green .menu .list li.active {
  background-color: transparent; }
  .theme-light-green .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-light-green .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #8BC34A; }

.theme-light-green .menu .list .toggled {
  background-color: transparent; }

.theme-light-green .menu .list .ml-tree {
  background-color: transparent; }

.theme-light-green .sidebar .legal {
  background-color: #fff; }
  .theme-light-green .sidebar .legal .copyright a {
    color: #8BC34A !important; }

.theme-lime .bg-theme {
  background-color: #CDDC39 !important;
  color: #fff; }
.bg-lime .content .text,
.bg-lime .content .number {
  color: #fff !important; }

.theme-lime .navbar {
  background-color: #CDDC39; }

.theme-lime .footer {
  background-color: #CDDC39;
   color: #fff;}

.theme-lime .navbar-brand {
  color: #fff; }
  .theme-lime .navbar-brand:hover {
    color: #fff; }
  .theme-lime .navbar-brand:active {
    color: #fff; }
  .theme-lime .navbar-brand:focus {
    color: #fff; }

.theme-lime .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-lime .nav > li > a:hover {
    background-color: transparent; }
  .theme-lime .nav > li > a:focus {
    background-color: transparent; }

.theme-lime .nav .open > a {
  background-color: transparent; }
  .theme-lime .nav .open > a:hover {
    background-color: transparent; }
  .theme-lime .nav .open > a:focus {
    background-color: transparent; }

.theme-lime .bars {
  color: #fff; }

.theme-lime .menu .list li.active {
  background-color: transparent; }
  .theme-lime .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-lime .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #CDDC39; }

.theme-lime .menu .list .toggled {
  background-color: transparent; }

.theme-lime .menu .list .ml-tree {
  background-color: transparent; }

.theme-lime .sidebar .legal {
  background-color: #fff; }
  .theme-lime .sidebar .legal .copyright a {
    color: #CDDC39 !important; }

.theme-yellow .bg-theme {
  background-color: #FFEB3B !important;
  color: #fff; }
.bg-yellow .content .text,
.bg-yellow .content .number {
  color: #fff !important; }

.theme-yellow .navbar {
  background-color: #FFEB3B; }

.theme-yellow .footer {
  background-color: #FFEB3B;
   color: #fff;}

.theme-yellow .navbar-brand {
  color: #fff; }
  .theme-yellow .navbar-brand:hover {
    color: #fff; }
  .theme-yellow .navbar-brand:active {
    color: #fff; }
  .theme-yellow .navbar-brand:focus {
    color: #fff; }

.theme-yellow .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-yellow .nav > li > a:hover {
    background-color: transparent; }
  .theme-yellow .nav > li > a:focus {
    background-color: transparent; }

.theme-yellow .nav .open > a {
  background-color: transparent; }
  .theme-yellow .nav .open > a:hover {
    background-color: transparent; }
  .theme-yellow .nav .open > a:focus {
    background-color: transparent; }

.theme-yellow .bars {
  color: #fff; }

.theme-yellow .menu .list li.active {
  background-color: transparent; }
  .theme-yellow .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-yellow .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #FFEB3B; }

.theme-yellow .menu .list .toggled {
  background-color: transparent; }

.theme-yellow .menu .list .ml-tree {
  background-color: transparent; }

.theme-yellow .sidebar .legal {
  background-color: #fff; }
  .theme-yellow .sidebar .legal .copyright a {
    color: #FFEB3B !important; }

.theme-amber .bg-theme {
  background-color: #FFC107 !important;
  color: #fff; }
.bg-amber .content .text,
.bg-amber .content .number {
  color: #fff !important; }

.theme-amber .navbar {
  background-color: #FFC107; }

.theme-amber .footer {
  background-color: #FFC107;
   color: #fff;}

.theme-amber .navbar-brand {
  color: #fff; }
  .theme-amber .navbar-brand:hover {
    color: #fff; }
  .theme-amber .navbar-brand:active {
    color: #fff; }
  .theme-amber .navbar-brand:focus {
    color: #fff; }

.theme-amber .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-amber .nav > li > a:hover {
    background-color: transparent; }
  .theme-amber .nav > li > a:focus {
    background-color: transparent; }

.theme-amber .nav .open > a {
  background-color: transparent; }
  .theme-amber .nav .open > a:hover {
    background-color: transparent; }
  .theme-amber .nav .open > a:focus {
    background-color: transparent; }

.theme-amber .bars {
  color: #fff; }

.theme-amber .menu .list li.active {
  background-color: transparent; }
  .theme-amber .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-amber .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #FFC107; }

.theme-amber .menu .list .toggled {
  background-color: transparent; }

.theme-amber .menu .list .ml-tree {
  background-color: transparent; }

.theme-amber .sidebar .legal {
  background-color: #fff; }
  .theme-amber .sidebar .legal .copyright a {
    color: #FFC107 !important; }

.theme-orange .bg-theme {
  background-color: #FF9800 !important;
  color: #fff; }
.bg-orange .content .text,
.bg-orange .content .number {
  color: #fff !important; }

.theme-orange .navbar {
  background-color: #FF9800; }

.theme-orange .footer {
  background-color: #FF9800;
   color: #fff;}

.theme-orange .navbar-brand {
  color: #fff; }
  .theme-orange .navbar-brand:hover {
    color: #fff; }
  .theme-orange .navbar-brand:active {
    color: #fff; }
  .theme-orange .navbar-brand:focus {
    color: #fff; }

.theme-orange .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-orange .nav > li > a:hover {
    background-color: transparent; }
  .theme-orange .nav > li > a:focus {
    background-color: transparent; }

.theme-orange .nav .open > a {
  background-color: transparent; }
  .theme-orange .nav .open > a:hover {
    background-color: transparent; }
  .theme-orange .nav .open > a:focus {
    background-color: transparent; }

.theme-orange .bars {
  color: #fff; }

.theme-orange .menu .list li.active {
  background-color: transparent; }
  .theme-orange .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-orange .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #FF9800; }

.theme-orange .menu .list .toggled {
  background-color: transparent; }

.theme-orange .menu .list .ml-tree {
  background-color: transparent; }

.theme-orange .sidebar .legal {
  background-color: #fff; }
  .theme-orange .sidebar .legal .copyright a {
    color: #FF9800 !important; }

.theme-deep-orange .bg-theme {
  background-color: #FF5722 !important;
  color: #fff; }
.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
  color: #fff !important; }

.theme-deep-orange .navbar {
  background-color: #FF5722; }

.theme-deep-orange .footer {
  background-color: #FF5722;
   color: #fff;}

.theme-deep-orange .navbar-brand {
  color: #fff; }
  .theme-deep-orange .navbar-brand:hover {
    color: #fff; }
  .theme-deep-orange .navbar-brand:active {
    color: #fff; }
  .theme-deep-orange .navbar-brand:focus {
    color: #fff; }

.theme-deep-orange .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-deep-orange .nav > li > a:hover {
    background-color: transparent; }
  .theme-deep-orange .nav > li > a:focus {
    background-color: transparent; }

.theme-deep-orange .nav .open > a {
  background-color: transparent; }
  .theme-deep-orange .nav .open > a:hover {
    background-color: transparent; }
  .theme-deep-orange .nav .open > a:focus {
    background-color: transparent; }

.theme-deep-orange .bars {
  color: #fff; }

.theme-deep-orange .menu .list li.active {
  background-color: transparent; }
  .theme-deep-orange .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-deep-orange .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #FF5722; }

.theme-deep-orange .menu .list .toggled {
  background-color: transparent; }

.theme-deep-orange .menu .list .ml-tree {
  background-color: transparent; }

.theme-deep-orange .sidebar .legal {
  background-color: #fff; }
  .theme-deep-orange .sidebar .legal .copyright a {
    color: #FF5722 !important; }

.theme-brown .bg-theme {
  background-color: #795548 !important;
  color: #fff; }
.bg-brown .content .text,
.bg-brown .content .number {
  color: #fff !important; }

.theme-brown .navbar {
  background-color: #795548; }

.theme-brown .footer {
  background-color: #795548;
   color: #fff;}

.theme-brown .navbar-brand {
  color: #fff; }
  .theme-brown .navbar-brand:hover {
    color: #fff; }
  .theme-brown .navbar-brand:active {
    color: #fff; }
  .theme-brown .navbar-brand:focus {
    color: #fff; }

.theme-brown .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-brown .nav > li > a:hover {
    background-color: transparent; }
  .theme-brown .nav > li > a:focus {
    background-color: transparent; }

.theme-brown .nav .open > a {
  background-color: transparent; }
  .theme-brown .nav .open > a:hover {
    background-color: transparent; }
  .theme-brown .nav .open > a:focus {
    background-color: transparent; }

.theme-brown .bars {
  color: #fff; }

.theme-brown .menu .list li.active {
  background-color: transparent; }
  .theme-brown .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-brown .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #795548; }

.theme-brown .menu .list .toggled {
  background-color: transparent; }

.theme-brown .menu .list .ml-tree {
  background-color: transparent; }

.theme-brown .sidebar .legal {
  background-color: #fff; }
  .theme-brown .sidebar .legal .copyright a {
    color: #795548 !important; }

.theme-grey .bg-theme {
  background-color: #9E9E9E !important;
  color: #fff; }
.bg-grey .content .text,
.bg-grey .content .number {
  color: #fff !important; }

.theme-grey .navbar {
  background-color: #9E9E9E; }

.theme-grey .footer {
  background-color: #9E9E9E;
   color: #fff;}

.theme-grey .navbar-brand {
  color: #fff; }
  .theme-grey .navbar-brand:hover {
    color: #fff; }
  .theme-grey .navbar-brand:active {
    color: #fff; }
  .theme-grey .navbar-brand:focus {
    color: #fff; }

.theme-grey .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-grey .nav > li > a:hover {
    background-color: transparent; }
  .theme-grey .nav > li > a:focus {
    background-color: transparent; }

.theme-grey .nav .open > a {
  background-color: transparent; }
  .theme-grey .nav .open > a:hover {
    background-color: transparent; }
  .theme-grey .nav .open > a:focus {
    background-color: transparent; }

.theme-grey .bars {
  color: #fff; }

.theme-grey .menu .list li.active {
  background-color: transparent; }
  .theme-grey .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-grey .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #9E9E9E; }

.theme-grey .menu .list .toggled {
  background-color: transparent; }

.theme-grey .menu .list .ml-tree {
  background-color: transparent; }

.theme-grey .sidebar .legal {
  background-color: #fff; }
  .theme-grey .sidebar .legal .copyright a {
    color: #9E9E9E !important; }


.theme-blue-grey .bg-theme {
  background-color: #607D8B !important;
  color: #fff; }
.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
  color: #fff !important; }

.theme-blue-grey .navbar {
  background-color: #607D8B; }

.theme-blue-grey .footer {
  background-color: #607D8B;
   color: #fff;}

.theme-blue-grey .navbar-brand {
  color: #fff; }
  .theme-blue-grey .navbar-brand:hover {
    color: #fff; }
  .theme-blue-grey .navbar-brand:active {
    color: #fff; }
  .theme-blue-grey .navbar-brand:focus {
    color: #fff; }

.theme-blue-grey .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-blue-grey .nav > li > a:hover {
    background-color: transparent; }
  .theme-blue-grey .nav > li > a:focus {
    background-color: transparent; }

.theme-blue-grey .nav .open > a {
  background-color: transparent; }
  .theme-blue-grey .nav .open > a:hover {
    background-color: transparent; }
  .theme-blue-grey .nav .open > a:focus {
    background-color: transparent; }

.theme-blue-grey .bars {
  color: #fff; }

.theme-blue-grey .menu .list li.active {
  background-color: transparent; }
  .theme-blue-grey .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-blue-grey .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #607D8B; }

.theme-blue-grey .menu .list .toggled {
  background-color: transparent; }

.theme-blue-grey .menu .list .ml-tree {
  background-color: transparent; }

.theme-blue-grey .sidebar .legal {
  background-color: #fff; }
  .theme-blue-grey .sidebar .legal .copyright a {
    color: #607D8B !important; }

.theme-black .bg-theme {
  background-color: #000 !important;
  color: #fff; }
.bg-black .content .text,
.bg-black .content .number {
  color: #fff !important; }

.theme-black .navbar {
  background-color: #000; }

.theme-black .footer {
  background-color: #000;
   color: #fff;}

.theme-black .navbar-brand {
  color: #fff; }
  .theme-black .navbar-brand:hover {
    color: #fff; }
  .theme-black .navbar-brand:active {
    color: #fff; }
  .theme-black .navbar-brand:focus {
    color: #fff; }

.theme-black .nav:not([class*="nav-tab"]) > li > a {
  color: #fff; }
  .theme-black .nav > li > a:hover {
    background-color: transparent; }
  .theme-black .nav > li > a:focus {
    background-color: transparent; }

.theme-black .nav .open > a {
  background-color: transparent; }
  .theme-black .nav .open > a:hover {
    background-color: transparent; }
  .theme-black .nav .open > a:focus {
    background-color: transparent; }

.theme-black .bars {
  color: #fff; }

.theme-black .menu .list li.active {
  background-color: transparent; }
  .theme-black .menu:not([class*="bg-"]) .list li.active > :first-child i, .theme-black .menu:not([class*="bg-"]) .list li.active > :first-child .title {
    color: #000; }

.theme-black .menu .list .toggled {
  background-color: transparent; }

.theme-black .menu .list .ml-tree {
  background-color: transparent; }

.theme-black .sidebar .legal {
  background-color: #fff; }
  .theme-black .sidebar .legal .copyright a {
    color: #000 !important; }


/* Theme Waves ======================================= */
.theme-red .waves-effect.waves-theme .waves-ripple {
  background: rgba(244, 67, 54, 0.5); }

.theme-pink .waves-effect.waves-theme .waves-ripple {
  background: rgba(233, 30, 99, 0.5); }

.theme-purple .waves-effect.waves-theme .waves-ripple {
  background: rgba(156, 39, 176, 0.5); }

.theme-deep-purple .waves-effect.waves-theme .waves-ripple {
  background: rgba(103, 58, 183, 0.5); }

.theme-indigo .waves-effect.waves-theme .waves-ripple {
  background: rgba(63, 81, 181, 0.5); }

.theme-blue .waves-effect.waves-theme .waves-ripple {
  background: rgba(33, 150, 243, 0.5); }

.theme-light-blue .waves-effect.waves-theme .waves-ripple {
  background: rgba(3, 169, 244, 0.5); }

.theme-cyan .waves-effect.waves-theme .waves-ripple {
  background: rgba(0, 188, 212, 0.5); }

.theme-teal .waves-effect.waves-theme .waves-ripple {
  background: rgba(0, 150, 136, 0.5); }

.theme-green .waves-effect.waves-theme .waves-ripple {
  background: rgba(76, 175, 80, 0.5); }

.theme-light-green .waves-effect.waves-theme .waves-ripple {
  background: rgba(139, 195, 74, 0.5); }

.theme-lime .waves-effect.waves-theme .waves-ripple {
  background: rgba(205, 220, 57, 0.5); }

.theme-yellow .waves-effect.waves-theme .waves-ripple {
  background: rgba(255, 232, 33, 0.5); }

.theme-amber .waves-effect.waves-theme .waves-ripple {
  background: rgba(255, 193, 7, 0.5); }

.theme-orange .waves-effect.waves-theme .waves-ripple {
  background: rgba(255, 152, 0, 0.5); }

.theme-deep-orange .waves-effect.waves-theme .waves-ripple {
  background: rgba(255, 87, 34, 0.5); }

.theme-brown .waves-effect.waves-theme .waves-ripple {
  background: rgba(121, 85, 72, 0.5); }

.theme-grey .waves-effect.waves-theme .waves-ripple {
  background: rgba(158, 158, 158, 0.5); }

.theme-blue-grey .waves-effect.waves-theme .waves-ripple {
  background: rgba(96, 125, 139, 0.5); }

.theme-black .waves-effect.waves-theme .waves-ripple {
  background: rgba(0, 0, 0, 0.5); }

.theme-red .col-theme {
color: #F44336 !important;
}
.theme-pink .col-theme {
color: #E91E63 !important;
}
.theme-purple .col-theme {
color: #9C27B0 !important;
}
.theme-deep-purple .col-theme {
color: #673AB7 !important;
}
.theme-indigo .col-theme {
color: #3F51B5 !important;
}
.theme-blue .col-theme {
color: #2196F3 !important;
}
.theme-light-blue .col-theme {
color: #03A9F4 !important;
}
.theme-cyan .col-theme {
color: #00BCD4 !important;
}
.theme-teal .col-theme {
color: #009688 !important;
}
.theme-green .col-theme {
color: #4CAF50 !important;
}
.theme-light-green .col-theme {
color: #8BC34A !important;
}
.theme-lime .col-theme {
color: #CDDC39 !important;
}
.theme-yellow .col-theme {
color: #FFEB3B !important;
}
.theme-amber .col-theme {
color: #FFC107 !important;
}
.theme-orange .col-theme {
color: #FF9800 !important;
}
.theme-deep-orange .col-theme {
color: #FF5722 !important;
}
.theme-brown .col-theme {
color: #795548 !important;
}
.theme-grey .col-theme {
color: #9E9E9E !important;
}
.theme-blue-grey .col-theme {
color: #607D8B !important;
}
.theme-black .col-theme {
color: #000000 !important;
}
.theme-white .col-theme {
color: #FFFFFF !important;
}
.theme-transparent .col-theme {
color: transparent !important;
}

/* Theme Waves ======================================= */
.theme-red .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #F44336;
  border: 2px solid #F44336;
}

.theme-pink .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #E91E63;
  border: 2px solid #E91E63;
}

.theme-purple .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #9C27B0;
  border: 2px solid #9C27B0;
}

.theme-deep-purple .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #673AB7;
  border: 2px solid #673AB7;
}

.theme-indigo .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #3F51B5;
  border: 2px solid #3F51B5;
}

.theme-blue .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #2196F3;
  border: 2px solid #2196F3;
}

.theme-light-blue .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #03A9F4;
  border: 2px solid #03A9F4;
}

.theme-cyan .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #00BCD4;
  border: 2px solid #00BCD4;
}

.theme-teal .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #009688;
  border: 2px solid #009688;
}

.theme-green .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #4CAF50;
  border: 2px solid #4CAF50;
}

.theme-light-green .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #8BC34A;
  border: 2px solid #8BC34A;
}

.theme-lime .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #CDDC39;
  border: 2px solid #CDDC39;
}

.theme-yellow .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #FFEB3B;
  border: 2px solid #FFEB3B;
}

.theme-amber .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #FFC107;
  border: 2px solid #FFC107;
}

.theme-orange .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #FF9800;
  border: 2px solid #FF9800;
}

.theme-deep-orange .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #FF5722;
  border: 2px solid #FF5722;
}

.theme-brown .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #795548;
  border: 2px solid #795548;
}

.theme-grey .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #9E9E9E;
  border: 2px solid #9E9E9E;
}

.theme-blue-grey .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #607D8B;
  border: 2px solid #607D8B;
}

.theme-black .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #000000;
  border: 2px solid #000000;
}

.theme-white .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.theme-transparent .col-theme.d-checkbox.filled-in.checked .field-label:after {
  background: transparent;
  border: 2px solid transparent;
}
