.theme-amber .bg-theme {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
    color: #fff !important;
}

.theme-amber .navbar {
    background-color: #FFC107;
}

.theme-amber .navbar-brand {
    color: #fff;
}

.theme-amber .navbar-brand:hover {
    color: #fff;
}

.theme-amber .navbar-brand:active {
    color: #fff;
}

.theme-amber .navbar-brand:focus {
    color: #fff;
}

.theme-amber .nav:not([class*="nav-tab"]) > li > a {
    color: #fff;
}

.theme-amber .nav > li > a:hover {
    background-color: transparent;
}

.theme-amber .nav > li > a:focus {
    background-color: transparent;
}

.theme-amber .nav .open > a {
    background-color: transparent;
}

.theme-amber .nav .open > a:hover {
    background-color: transparent;
}

.theme-amber .nav .open > a:focus {
    background-color: transparent;
}

.theme-amber .bars {
    color: #fff;
}

.theme-amber .menu .list li.active {
    background-color: transparent;
}

.theme-amber .menu .list li.active > :first-child i, .theme-amber .menu .list li.active > :first-child span {
    color: #FFC107;
}

.theme-amber .menu .list .toggled {
    background-color: transparent;
}

.theme-amber .menu .list .ml-tree {
    background-color: transparent;
}

.theme-amber .sidebar .legal {
    background-color: #fff;
}

.theme-amber .sidebar .legal .copyright a {
    color: #FFC107 !important;
}

.theme-amber .waves-effect.waves-theme .waves-ripple {
    background: rgba(255, 193, 7, 0.5);
}
