.dom-ui-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.dom-ui-close {
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}

.dom-ui-btn {
    font: inherit;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
}

fieldset[disabled] a.dom-ui-btn {
    pointer-events: none;
}

.dom-ui-btn:focus,
.dom-ui-btn:active:focus {
    outline: 5px auto 0;
    outline-offset: -2px;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.dom-ui-btn:hover,
.dom-ui-btn:focus {
    text-decoration: none;
}

.dom-ui-btn[disabled],
fieldset[disabled] .dom-ui-btn {
    cursor: not-allowed;
    opacity: .65;
}

.dom-ui-btn-dropdown {
    width: 100%;
}

.dom-ui-btn.dom-ui-default:active:hover,
.dom-ui-open > .dom-ui-dropdown-toggle.dom-ui-btn.dom-ui-default:hover,
.dom-ui-btn.dom-ui-default:active:focus,
.dom-ui-open > .dom-ui-dropdown-toggle.dom-ui-btn.dom-ui-default:focus {
    background-color: #d4d4d4;
}

.dom-ui-btn.dom-ui-primary:not([class*="col-"]),
.dom-ui-btn.dom-ui-info:not([class*="col-"]),
.dom-ui-btn.dom-ui-warning:not([class*="col-"]),
.dom-ui-btn.dom-ui-danger:not([class*="col-"]),
.dom-ui-btn.dom-ui-success:not([class*="col-"]) {
    color: #fff;
}

.dom-ui-btn.dom-ui-lg, .dom-ui-btn-group.dom-ui-lg > .dom-ui-btn {
    font-size: 16px;
    line-height: 1.3333333;
    padding: 10px 16px;
}

.dom-ui-btn.dom-ui-md, .dom-ui-btn-group.dom-ui-md > .dom-ui-btn {
    font-size: 14px;
    line-height: 1.42857143;
    padding: 6px 12px;
}

.dom-ui-btn.dom-ui-sm, .dom-ui-btn-group.dom-ui-sm > .dom-ui-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.dom-ui-btn.dom-ui-xs, .dom-ui-btn-group.dom-ui-xs > .dom-ui-btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

.dom-ui-btn-block {
    display: block;
    width: 100%;
}

.dom-ui-btn-block + .dom-ui-btn-block {
    margin-top: 5px;
}

.dom-ui-btn-group, .dom-ui-btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.dom-ui-btn-group > .dom-ui-btn, .dom-ui-btn-group-vertical > .dom-ui-btn {
    position: relative;
    float: left;
}

.dom-ui-btn-group > .dom-ui-btn:hover,
.dom-ui-btn-group-vertical > .dom-ui-btn:hover,
.dom-ui-btn-group > .dom-ui-btn:focus,
.dom-ui-btn-group-vertical > .dom-ui-btn:focus,
.dom-ui-btn-group > .dom-ui-btn:active,
.dom-ui-btn-group-vertical > .dom-ui-btn:active {
    z-index: 2;
}

.dom-ui-btn-group .dom-ui-btn + .dom-ui-btn,
.dom-ui-btn-group .dom-ui-btn + .dom-ui-btn-group,
.dom-ui-btn-group .dom-ui-btn-group + .dom-ui-btn,
.dom-ui-btn-group .dom-ui-btn-group + .dom-ui-btn-group {
    margin-left: -1px;
}

.dom-ui-btn-toolbar {
    margin-left: -5px;
}

.dom-ui-btn-toolbar > .dom-ui-btn,
.dom-ui-btn-toolbar > .dom-ui-btn-group,
.dom-ui-btn-toolbar > .dom-ui-input-group {
    margin-left: 5px;
}

.dom-ui-btn-group .dom-ui-dropdown-toggle:active,
.dom-ui-btn-group.dom-ui-open .dom-ui-dropdown-toggle {
    outline: 0;
}

.dom-ui-btn-group > .dom-ui-btn + .dom-ui-dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}

.dom-ui-btn-group > .dom-ui-btn.dom-ui-lg + .dom-ui-dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}

.dom-ui-btn-group.dom-ui-open .dom-ui-dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.dom-ui-btn.dom-ui-lg .dom-ui-caret {
    border-width: 5px 5px 0;
}

.dom-ui-dropup .dom-ui-btn.dom-ui-lg .dom-ui-caret {
    border-width: 0 5px 5px;
}

.dom-ui-btn-group-vertical > .dom-ui-btn,
.dom-ui-btn-group-vertical > .dom-ui-btn-group,
.dom-ui-btn-group-vertical > .dom-ui-btn-group > .dom-ui-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}

.dom-ui-btn-group-vertical > .dom-ui-btn-group > .dom-ui-btn {
    float: none;
}

.dom-ui-btn-group-vertical > .dom-ui-btn + .dom-ui-btn,
.dom-ui-btn-group-vertical > .dom-ui-btn + .dom-ui-btn-group,
.dom-ui-btn-group-vertical > .dom-ui-btn-group + .dom-ui-btn,
.dom-ui-btn-group-vertical > .dom-ui-btn-group + .dom-ui-btn-group {
    margin-top: -1px;
    margin-left: 0;
}

.dom-ui-btn-group-vertical > .dom-ui-btn:first-child:not(:last-child) {
    border-radius: 4px 4px 0 0;
}

.dom-ui-btn-group-vertical > .dom-ui-btn:last-child:not(:first-child) {
    border-radius: 0 0 4px 4px;
}

.dom-ui-btn-group-vertical > .dom-ui-btn-group:first-child:not(:last-child) > .dom-ui-btn:last-child, .dom-ui-btn-group-vertical > .dom-ui-btn-group:first-child:not(:last-child) > .dom-ui-dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dom-ui-btn-group-vertical > .dom-ui-btn-group:last-child:not(:first-child) > .dom-ui-btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dom-ui-btn-group.dom-ui-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.dom-ui-btn-group.dom-ui-justified > .dom-ui-btn,
.dom-ui-btn-group.dom-ui-justified > .dom-ui-btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}

.dom-ui-btn-group.dom-ui-justified > .dom-ui-btn-g.dom-ui-btn .dom-ui-badgeroup .dom-ui-dropdown-menu {
    left: auto;
}

[data-toggle=buttons] > .dom-ui-btn input[type=radio],
[data-toggle=buttons] > .dom-ui-btn-group > .dom-ui-btn input[type=radio],
[data-toggle=buttons] > .dom-ui-btn input[type=checkbox],
[data-toggle=buttons] > .dom-ui-btn-group > .dom-ui-btn input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.dom-ui-btn.dom-ui-xs .dom-ui-badge,
.dom-ui-btn-group.dom-ui-xs > .dom-ui-btn .dom-ui-badge {
    top: 0;
    padding: 1px 5px;
}

.dom-ui-btn-toolbar:before, .dom-ui-btn-toolbar:after,
.dom-ui-btn-group-vertical > .dom-ui-btn-group:before,
.dom-ui-btn-group-vertical > .dom-ui-btn-group:after {
    display: table;
    content: " ";
}

.dom-ui-btn-toolbar:after,
.dom-ui-btn-group-vertical > .dom-ui-btn-group:after {
    clear: both;
}

.dom-ui-btn:not(.dom-ui-btn-link):focus {
    outline: none;
}

.dom-ui-btn.dom-ui-circle,
.dom-ui-btn.dom-ui-circle.dom-ui-lg {
    border: none;
    outline: none;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.dom-ui-btn.dom-ui-circle {
    width: 40px;
    height: 40px;
}

.dom-ui-btn.dom-ui-circle i {
    font-size: 18px;
    position: relative;
    left: 0px;
    top: 3px;
}

.dom-ui-btn.dom-ui-circle.dom-ui-lg {
    width: 50px;
    height: 50px;
}

.dom-ui-btn.dom-ui-circle.dom-ui-lg i {
    font-size: 26px;
    position: relative;
    left: -4px;
    top: 3px;
}

.dom-ui-btn.dom-ui-circle.dom-ui-sm {
	width: 30px;
	height: 30px;
}

.dom-ui-btn.dom-ui-circle.dom-ui-sm i {
	font-size: 15px;
	position: relative;
	left: -2px;
	top: 3px;
}

.dom-ui-btn.dom-ui-circle.dom-ui-sm i.mdi {
	font-size: 15px;
	position: relative;
	left: 1px;
	top: -2px;
}

.dom-ui-btn-link {
    font-weight: 700;
    color: #333;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: transparent;
}

.dom-ui-btn-link:active, .dom-ui-btn-link:focus {
    text-decoration: none;
    color: #333;
}

.dom-ui-btn-link:hover {
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    border-radius: 2px;
}

.dom-ui-btn-link:not(.dom-ui-single):focus {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}

.dom-ui-btn:not(.dom-ui-btn-link):not([class*=circle]):not(.dom-ui-btn-bordered) {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.dom-ui-btn:not(.dom-ui-btn-link):not(.dom-ui-btn-bordered) {
    border: none;
    outline: none;
}

.dom-ui-btn:not(.dom-ui-btn-link):not(.dom-ui-btn.dom-ui-circle):hover {
    outline: none;
}

.dom-ui-btn:not([class*=circle]) i {
    font-size: 20px;
    position: relative;
    top: 1px;
    line-height: 20px;
}

.dom-ui-btn:not([class*=circle]) i.mdi {
    line-height: 25px;
    position: static;
}

.dom-ui-btn:not([class*=circle]) i.mdi:before {
    line-height: 24px;
}

.dom-ui-btn:not(.dom-ui-circle) i:before {
    font-size: 20px;
}

.dom-ui-btn:not(.dom-ui-circle) span {
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.dom-ui-btn.dom-ui-warning,
.dom-ui-btn.dom-ui-warning:hover,
.dom-ui-btn.dom-ui-warning:active,
.dom-ui-btn.dom-ui-warning:focus {
    background-color: #ff9600;
}

.dom-ui-btn.dom-ui-danger,
.dom-ui-btn.dom-ui-danger:hover,
.dom-ui-btn.dom-ui-danger:active,
.dom-ui-btn.dom-ui-danger:focus {
    background-color: #fb483a;
}

.dom-ui-btn.dom-ui-info,
.dom-ui-btn.dom-ui-info:hover,
.dom-ui-btn.dom-ui-info:active,
.dom-ui-btn.dom-ui-info:focus {
    background-color: #00b0e4;
}

.dom-ui-btn.dom-ui-success,
.dom-ui-btn.dom-ui-success:hover,
.dom-ui-btn.dom-ui-success:active,
.dom-ui-btn.dom-ui-success:focus {
    background-color: #2b982b;
}

.dom-ui-btn.dom-ui-primary,
.dom-ui-btn.dom-ui-primary:hover,
.dom-ui-btn.dom-ui-primary:active,
.dom-ui-btn.dom-ui-primary:focus {
    background-color: #1f91f3;
}

.dom-ui-btn.dom-ui-default,
.dom-ui-btn.dom-ui-default:hover,
.dom-ui-btn.dom-ui-default:active,
.dom-ui-btn.dom-ui-default:focus {
    background-color: #fff;
}

.dom-ui-btn-group-vertical {
    border-radius: 4px;
}

.dom-ui-btn-group .dom-ui-btn .dom-ui-caret,
.dom-ui-btn-group-vertical .dom-ui-btn .dom-ui-caret {
    position: relative;
    right: -5px;
    margin: 2px;
}

.dom-ui-btn-group .dom-ui-btn + .dom-ui-dropdown-toggle,
.dom-ui-btn-group-vertical .dom-ui-btn + .dom-ui-dropdown-toggle {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

input[type=submit].dom-ui-btn-block,
input[type=reset].dom-ui-btn-block,
input[type=button].dom-ui-btn-block,
.dom-ui-btn-group.dom-ui-justified > .dom-ui-btn-group .dom-ui-btn {
    width: 100%;
}

.dom-ui-btn.dom-ui-default:not([class*="col-"]),
.dom-ui-btn-group .dom-ui-btn.dom-ui-default.dom-ui-dropdown-toggle i {
    color: #333;
}

.dom-ui-btn-group.dom-ui-link,
.dom-ui-btn-group.dom-ui-open .dom-ui-dropdown-toggle.dom-ui-btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dom-ui-btn-toolbar .dom-ui-btn,
.dom-ui-btn-toolbar .dom-ui-btn-group,
.dom-ui-btn-toolbar .dom-ui-input-group,
.dom-ui-btn-group > .dom-ui-btn-group {
    float: left;
}

.dom-ui-btn-group > .dom-ui-btn:not(:first-child):not(:last-child):not(.dom-ui-dropdown-toggle),
.dom-ui-btn-group > .dom-ui-btn-group:not(:first-child):not(:last-child) > .dom-ui-btn,
.dom-ui-btn-group-vertical > .dom-ui-btn:not(:first-child):not(:last-child),
.dom-ui-btn-group-vertical > .dom-ui-btn-group:not(:first-child):not(:last-child) > .dom-ui-btn {
    border-radius: 0;
}

.dom-ui-btn-group > .dom-ui-btn:first-child,
.dom-ui-btn .dom-ui-caret {
    margin-left: 0;
}

.dom-ui-btn-group > .dom-ui-btn:first-child:not(:last-child):not(.dom-ui-dropdown-toggle),
.dom-ui-btn-group > .dom-ui-btn-group:first-child:not(:last-child) > .dom-ui-btn:last-child,
.dom-ui-btn-group > .dom-ui-btn-group:first-child:not(:last-child) > .dom-ui-dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dom-ui-btn-group > .dom-ui-btn:last-child:not(:first-child),
.dom-ui-btn-group > .dom-ui-dropdown-toggle:not(:first-child),
.dom-ui-btn-group > .dom-ui-btn-group:last-child:not(:first-child) > .dom-ui-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dom-ui-btn .dom-ui-label, .dom-ui-btn .dom-ui-badge {
    position: relative;
    top: -1px;
}

.dom-ui-btn-group .dom-ui-btn,
.dom-ui-btn-group-vertical .dom-ui-btn:not(.dom-ui-btn-link):not([class*=circle]),
.dom-ui-btn-group .dom-ui-btn-group,
.dom-ui-btn-group-vertical .dom-ui-btn-group {
    box-shadow: none;
}

.dom-ui-btn .dom-ui-btn-icon.mdi {
    top: 0;
    margin-left: -4px;
}

.dom-ui-btn-bordered {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid;
}

.dom-ui-btn-bordered.dom-ui-warning,
.dom-ui-btn-bordered.dom-ui-warning:hover,
.dom-ui-btn-bordered.dom-ui-warning:active,
.dom-ui-btn-bordered.dom-ui-warning:focus {
    border-color: #ff9600;
}

.dom-ui-btn-bordered.dom-ui-danger,
.dom-ui-btn-bordered.dom-ui-danger:hover,
.dom-ui-btn-bordered.dom-ui-danger:active,
.dom-ui-btn-bordered.dom-ui-danger:focus {
    border-color: #fb483a;
}

.dom-ui-btn-bordered.dom-ui-info,
.dom-ui-btn-bordered.dom-ui-info:hover,
.dom-ui-btn-bordered.dom-ui-info:active,
.dom-ui-btn-bordered.dom-ui-info:focus {
    border-color: #00b0e4;
}

.dom-ui-btn-bordered.dom-ui-success,
.dom-ui-btn-bordered.dom-ui-success:hover,
.dom-ui-btn-bordered.dom-ui-success:active,
.dom-ui-btn-bordered.dom-ui-success:focus {
    border-color: #2b982b;
}

.dom-ui-btn-bordered.dom-ui-primary,
.dom-ui-btn-bordered.dom-ui-primary:hover,
.dom-ui-btn-bordered.dom-ui-primary:active,
.dom-ui-btn-bordered.dom-ui-primary:focus {
    border-color: #1f91f3;
}

.dom-ui-btn-group.dom-ui-bordered {
    border-radius: 4px;
}
