/*======================== WHITE ========================*/

.bg-white,
.list-group.bg-white,
.list-group.bg-white:hover,
.list-group.bg-white:focus,
.d-checkbox input[type="checkbox"].filled-in:checked.col-white + label:after,
[type="radio"].with-gap.col-white:checked + label:after,
[type="radio"][class*="col-white"]:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-white:after,
.modal-content.col-white,
.panel-group .panel.col-white .panel-title,
.panel-group.full-body .panel.col-white .panel-body{
    background-color: #FFFFFF;
}

.fc-col-white:not([class*="lever"]) {
    border-bottom: 1px solid #FFFFFF;
}

.breadcrumb.col-white li a{
    color: #202020;
}
.d-checkbox.checked.col-white .field-label:before {
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.d-checkbox.filled-in:checked.col-white .field-label:after,
[type="radio"].with-gap.col-white:checked + label:before,
[type="radio"].with-gap.col-white + label:after{
    border: 2px solid #FFFFFF;
}
[type="radio"].col-white:checked + label:after {
    border-color: #FFFFFF;
}
.nav-tabs.col-white > li > a:before{
    border-bottom: 2px solid #FFFFFF;
}
.panel-group.col-white {
    border: 1px solid #FFFFFF;
}

.bg-white,
.bg-white .content .text,
.bg-white .content .number,
.list-group.bg-white,
.list-group.bg-white:hover,
.list-group.bg-white:focus,
.modal-content.col-white .modal-body,
.modal-content.col-white .modal-footer .btn-link,
.modal-content.col-white .modal-title,
.panel-group .panel.col-white .panel-title,
.panel-group.full-body .panel.col-white .panel-body{
    color: #202020;
}

.bg-white.nav-tabs li a,
.bg-white.nav-tabs li a:hover{
    color: #565656;
}

.switch label input[type=checkbox]:checked:not(:disabled) ~ .lever.col-white:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(255, 255, 255, 0.1);
}

.switch label input[type=checkbox]:checked + .lever.col-white {
    background-color: rgba(255, 255, 255, 0.5);
}

.slider.thumb-bg-white::-webkit-slider-thumb {
    background-color: #FFFFFF;
}

.slider.thumb-bg-white::-moz-range-thumb {
    background-color: #FFFFFF;
}

/* =========== all colors ======================= */

.bg-black{
    background-color: #000;
    color: #FFF;
}

.bg-black.nav-tabs li a,
.bg-black.nav-tabs li a:hover {
    color: #FFF;
}

.col-white{
    color: #FFF;
}
.col-black{
    color: #000;
}

.slider.thumb-bg-black::-webkit-slider-thumb {
    background: #000;
}

.slider.thumb-bg-black::-moz-range-thumb {
    background: #000;
}

.bg-transparent{
    background-color: transparent;
}

.slider.thumb-bg-transparent::-webkit-slider-thumb {
    background-color: transparent;
}

.slider.thumb-bg-transparent::-moz-range-thumb {
    background-color: transparent;
}

[class*="bg-l-1"]:not([class*="bg-white"]),
[class*="bg-l-2"]:not([class*="bg-white"]),
[class*="bg-d-1"]:not([class*="bg-white"]),
[class*="bg-d-2"]:not([class*="bg-white"]),
[class*="bg-d-3"]:not([class*="bg-white"]),
[class*="bg-d-4"]:not([class*="bg-white"]),

[class*="bg-l-1"]:not([class*="bg-white"]) .content .text,
[class*="bg-l-2"]:not([class*="bg-white"]) .content .text,
[class*="bg-d-1"]:not([class*="bg-white"]) .content .text,
[class*="bg-d-2"]:not([class*="bg-white"]) .content .text,
[class*="bg-d-3"]:not([class*="bg-white"]) .content .text,
[class*="bg-d-4"]:not([class*="bg-white"]) .content .text,

[class*="bg-l-1"]:not([class*="bg-white"]) .content .number,
[class*="bg-l-2"]:not([class*="bg-white"]) .content .number,
[class*="bg-d-1"]:not([class*="bg-white"]) .content .number,
[class*="bg-d-2"]:not([class*="bg-white"]) .content .number,
[class*="bg-d-3"]:not([class*="bg-white"]) .content .number,
[class*="bg-d-4"]:not([class*="bg-white"]) .content .number,

.list-group[class*="bg-l-1"]:not([class*="bg-white"]),
.list-group[class*="bg-l-2"]:not([class*="bg-white"]),
.list-group[class*="bg-d-1"]:not([class*="bg-white"]),
.list-group[class*="bg-d-2"]:not([class*="bg-white"]),
.list-group[class*="bg-d-3"]:not([class*="bg-white"]),
.list-group[class*="bg-d-4"]:not([class*="bg-white"]),

.list-group[class*="bg-l-1"]:not([class*="bg-white"]):hover,
.list-group[class*="bg-l-2"]:not([class*="bg-white"]):hover,
.list-group[class*="bg-d-1"]:not([class*="bg-white"]):hover,
.list-group[class*="bg-d-2"]:not([class*="bg-white"]):hover,
.list-group[class*="bg-d-3"]:not([class*="bg-white"]):hover,
.list-group[class*="bg-d-4"]:not([class*="bg-white"]):hover,

.list-group[class*="bg-l-1"]:not([class*="bg-white"]):focus,
.list-group[class*="bg-l-2"]:not([class*="bg-white"]):focus,
.list-group[class*="bg-d-1"]:not([class*="bg-white"]):focus,
.list-group[class*="bg-d-2"]:not([class*="bg-white"]):focus,
.list-group[class*="bg-d-3"]:not([class*="bg-white"]):focus,
.list-group[class*="bg-d-4"]:not([class*="bg-white"]):focus,

.modal-content[class*="col-l-1"]:not([class*="col-white"]) .modal-body,
.modal-content[class*="col-l-2"]:not([class*="col-white"]) .modal-body,
.modal-content[class*="col-d-1"]:not([class*="col-white"]) .modal-body,
.modal-content[class*="col-d-2"]:not([class*="col-white"]) .modal-body,
.modal-content[class*="col-d-3"]:not([class*="col-white"]) .modal-body,
.modal-content[class*="col-d-4"]:not([class*="col-white"]) .modal-body,

.modal-content[class*="col-l-1"]:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content[class*="col-l-2"]:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content[class*="col-d-1"]:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content[class*="col-d-2"]:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content[class*="col-d-3"]:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content[class*="col-d-4"]:not([class*="col-white"]) .modal-footer .btn-link,

.modal-content[class*="col-l-1"]:not([class*="col-white"]) .modal-title,
.modal-content[class*="col-l-2"]:not([class*="col-white"]) .modal-title,
.modal-content[class*="col-d-1"]:not([class*="col-white"]) .modal-title,
.modal-content[class*="col-d-2"]:not([class*="col-white"]) .modal-title,
.modal-content[class*="col-d-3"]:not([class*="col-white"]) .modal-title,
.modal-content[class*="col-d-4"]:not([class*="col-white"]) .modal-title,

.panel-group .panel[class*="col-l-1"]:not([class*="col-white"]) .panel-title,
.panel-group .panel[class*="col-l-2"]:not([class*="col-white"]) .panel-title,
.panel-group .panel[class*="col-d-1"]:not([class*="col-white"]) .panel-title,
.panel-group .panel[class*="col-d-2"]:not([class*="col-white"]) .panel-title,
.panel-group .panel[class*="col-d-3"]:not([class*="col-white"]) .panel-title,
.panel-group .panel[class*="col-d-4"]:not([class*="col-white"]) .panel-title,

.panel-group.full-body .panel[class*="col-l-1"]:not([class*="col-white"]) .panel-body,
.panel-group.full-body .panel[class*="col-l-2"]:not([class*="col-white"]) .panel-body,
.panel-group.full-body .panel[class*="col-d-1"]:not([class*="col-white"]) .panel-body,
.panel-group.full-body .panel[class*="col-d-2"]:not([class*="col-white"]) .panel-body,
.panel-group.full-body .panel[class*="col-d-3"]:not([class*="col-white"]) .panel-body,
.panel-group.full-body .panel[class*="col-d-4"]:not([class*="col-white"]) .panel-body
{
    color: #FFF;
}

[class*="bg-l-3"],
[class*="bg-l-4"],
[class*="bg-l-5"],

[class*="bg-l-3"] .content .text,
[class*="bg-l-4"] .content .text,
[class*="bg-l-5"] .content .text,

[class*="bg-l-3"] .content .number,
[class*="bg-l-4"] .content .number,
[class*="bg-l-5"] .content .number,

.list-group[class*="bg-l-3"],
.list-group[class*="bg-l-4"],
.list-group[class*="bg-l-5"],

.list-group[class*="bg-l-3"]:hover,
.list-group[class*="bg-l-4"]:hover,
.list-group[class*="bg-l-5"]:hover,

.list-group[class*="bg-l-3"]:focus,
.list-group[class*="bg-l-4"]:focus,
.list-group[class*="bg-l-5"]:focus,

.modal-content[class*="col-l-3"] .modal-body,
.modal-content[class*="col-l-4"] .modal-body,
.modal-content[class*="col-l-5"] .modal-body,

.modal-content[class*="col-l-3"] .modal-footer .btn-link,
.modal-content[class*="col-l-4"] .modal-footer .btn-link,
.modal-content[class*="col-l-5"] .modal-footer .btn-link,

.modal-content[class*="col-l-3"] .modal-title,
.modal-content[class*="col-l-4"] .modal-title,
.modal-content[class*="col-l-5"] .modal-title,

.panel-group .panel[class*="col-l-3"] .panel-title,
.panel-group .panel[class*="col-l-4"] .panel-title,
.panel-group .panel[class*="col-l-5"] .panel-title,

.panel-group.full-body .panel[class*="col-l-3"] .panel-body,
.panel-group.full-body .panel[class*="col-l-4"] .panel-body,
.panel-group.full-body .panel[class*="col-l-5"] .panel-body {
    color: #202020;
}
