/*======================== ${COLOR} ========================*/
.bg${color_base_name}{
    color: #FFF;
}
.modal-content.col${color_base_name}:not([class*="col-white"]) .modal-body,
.modal-content.col${color_base_name}:not([class*="col-white"]) .modal-footer .btn-link,
.modal-content.col${color_base_name}:not([class*="col-white"]) .modal-title,
.panel-group .panel.col${color_base_name}:not([class*="col-white"]) .panel-title,
.panel-group.full-body .panel.col${color_base_name}:not([class*="col-white"]) .panel-body,
.bg${color_base_name}.nav-tabs li a{
    color: #fff;
}
.bg${color_base_name},
.d-checkbox.filled-in.checked.col${color_base_name} .field-label:after,
[type="radio"].with-gap.col${color_base_name}:checked + label:after,
[type="radio"].col${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col${color_base_name}:after,
.modal-content.col${color_base_name},
.panel-group .panel.col${color_base_name} .panel-title,
.panel-group.full-body .panel.col${color_base_name} .panel-body{
    background-color: ${main_color};
}

ul.stepper.stepper-col${color_base_name} .step.active:before,
ul.stepper.stepper-col${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col${color_base_name} .step.done .step-title:before{
    background-color: ${main_color};
}

.fc-col${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${main_color};
}
.col${color_base_name}{
    color: ${main_color};
}
.vtabs.col${color_base_name} li.active{
    color: ${main_color};
    border-right: 2px solid ${main_color};
}
.d-checkbox.checked.col${color_base_name} .field-label:before {
    border-right: 2px solid ${main_color};
    border-bottom: 2px solid ${main_color};
}
.d-checkbox.filled-in.checked.col${color_base_name} .field-label:after,
[type="radio"].with-gap.col${color_base_name}:checked + label:before,
[type="radio"].with-gap.col${color_base_name}:checked + label:after{
    border: 2px solid ${main_color};
}
[type="radio"].col${color_base_name}:checked + label:after {
    border-color: ${main_color};
}
.nav-tabs.col${color_base_name} > li > a:before{
    border-bottom: 2px solid ${main_color};
}
.panel-group.col${color_base_name} {
    border: 1px solid ${main_color};
}

.vtabs.col${color_base_name} .flex-item.active a{
    border-right: 2px solid ${main_color};
}

.slider.thumb-bg${color_base_name}::-webkit-slider-thumb {
    background-color: ${main_color};
}

.slider.thumb-bg${color_base_name}::-moz-range-thumb {
    background-color: ${main_color};
}

.slider.thumb-bg${color_base_name}::-ms-thumb {
    background-color: ${main_color};
}

.slider.slider-bg${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${main_color};
}

.slider.slider-bg${color_base_name}::-moz-range-track {
    background-color: ${main_color};
}

.slider.slider-bg${color_base_name}::-ms-track {
    background-color: ${main_color};
}

.bg-l-1${color_base_name},
.d-checkbox.filled-in:checked.col-l-1${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-1${color_base_name}:checked + label:after,
[type="radio"].col-l-1${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-l-1${color_base_name}:after,
.modal-content.col-l-1${color_base_name},
.panel-group .panel.col-l-1${color_base_name} .panel-title,
.panel-group.full-body .panel.col-l-1${color_base_name} .panel-body {
    background-color: ${color_l_1};
}
ul.stepper.stepper-col-l-1${color_base_name} .step.active:before,
ul.stepper.stepper-col-l-1${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-l-1${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-l-1${color_base_name} .step.done .step-title:before  {
    background-color: ${color_l_1};
}


.fc-col-l-1${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_l_1};
}
.col-l-1${color_base_name} {
    color: ${color_l_1};
}
.vtabs.col-l-1${color_base_name} li.active{
    color: ${color_l_1};
    border-right: 2px solid ${color_l_1};
}
.d-checkbox.checked.col-l-1${color_base_name} .field-label:before {
    border-right: 2px solid ${color_l_1};
    border-bottom: 2px solid ${color_l_1};
}
.d-checkbox.filled-in:checked.col-l-1${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-1${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-l-1${color_base_name}:checked + label:after {
    border: 2px solid ${color_l_1};
}
[type="radio"].col-l-1${color_base_name}:checked + label:after {
    border-color: ${color_l_1};
}
.nav-tabs.col-l-1${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_l_1};
}
.panel-group.col-l-1${color_base_name} {
    border: 1px solid ${color_l_1};
}

.slider.thumb-bg-l-1${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_l_1};
}

.slider.thumb-bg-l-1${color_base_name}::-moz-range-thumb {
    background-color: ${color_l_1};
}

.slider.thumb-bg-l-1${color_base_name}::-ms-thumb {
    background-color: ${color_l_1};
}

.slider.slider-bg-l-1${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_l_1};
}

.slider.slider-bg-l-1${color_base_name}::-moz-range-track {
    background-color: ${color_l_1};
}

.slider.slider-bg-l-1${color_base_name}::-ms-track {
    background-color: ${color_l_1};
}

.bg-l-2${color_base_name},
.d-checkbox.filled-in:checked.col-l-2${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-2${color_base_name}:checked + label:after,
[type="radio"].col-l-2${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-l-2${color_base_name}:after,
.modal-content.col-l-2${color_base_name},
.panel-group .panel.col-l-2${color_base_name} .panel-title,
.panel-group.full-body .panel.col-l-2${color_base_name} .panel-body {
    background-color: ${color_l_2};
}
ul.stepper.stepper-col-l-2${color_base_name} .step.active:before,
ul.stepper.stepper-col-l-2${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-l-2${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-l-2${color_base_name} .step.done .step-title:before   {
    background-color: ${color_l_2};
}

.fc-col-l-2${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_l_2};
}
.col-l-2${color_base_name} {
    color: ${color_l_2};
}
.vtabs.col-l-2${color_base_name} li.active{
    color: ${color_l_2};
    border-right: 2px solid ${color_l_2};
}
.d-checkbox.checked.col-l-2${color_base_name} .field-label:before {
    border-right: 2px solid ${color_l_2};
    border-bottom: 2px solid ${color_l_2};
}
.d-checkbox.filled-in:checked.col-l-2${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-2${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-l-2${color_base_name}:checked + label:after {
    border: 2px solid ${color_l_2};
}
[type="radio"].col-l-2${color_base_name}:checked + label:after {
    border-color: ${color_l_2};
}
.nav-tabs.col-l-2${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_l_2};
}
.panel-group.col-l-2${color_base_name} {
    border: 1px solid ${color_l_2};
}

.slider.thumb-bg-l-2${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_l_2};
}

.slider.thumb-bg-l-2${color_base_name}::-moz-range-thumb {
    background-color: ${color_l_2};
}

.slider.thumb-bg-l-2${color_base_name}::-ms-thumb {
    background-color: ${color_l_2};
}

.slider.slider-bg-l-2${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_l_2};
}

.slider.slider-bg-l-2${color_base_name}::-moz-range-track {
    background-color: ${color_l_2};
}

.slider.slider-bg-l-2${color_base_name}::-ms-track {
    background-color: ${color_l_2};
}

.bg-l-3${color_base_name},
.d-checkbox.filled-in:checked.col-l-3${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-3${color_base_name}:checked + label:after,
[type="radio"].with-gap.col-l-3${color_base_name}:checked + label:after,
[type="radio"].col-l-3${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-l-3${color_base_name}:after,
.modal-content.col-l-3${color_base_name},
.panel-group .panel.col-l-3${color_base_name} .panel-title,
.panel-group.full-body .panel.col-l-3${color_base_name} .panel-body {
    background-color: ${color_l_3};
}

ul.stepper.stepper-col-l-3${color_base_name} .step.active:before,
ul.stepper.stepper-col-l-3${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-l-3${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-l-3${color_base_name} .step.done .step-title:before   {
    background-color: ${color_l_3};
}

.fc-col-l-3${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_l_3};
}

.col-l-3${color_base_name} {
    color: ${color_l_3};
}
.vtabs.col-l-3${color_base_name} li.active{
    color: ${color_l_3};
    border-right: 2px solid ${color_l_3};
}
.d-checkbox.checked.col-l-3${color_base_name} + label:before {
    border-right: 2px solid ${color_l_3};
    border-bottom: 2px solid ${color_l_3};
}
[type="checkbox"].filled-in:checked.col-l-3${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-3${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-l-3${color_base_name}:checked + label:after {
    border: 2px solid ${color_l_3};
}
[type="radio"].col-l-3${color_base_name}:checked + label:after {
    border-color: ${color_l_3};
}
.nav-tabs.col-l-3${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_l_3};
}
.panel-group.col-l-3${color_base_name} {
    border: 1px solid ${color_l_3};
}

.slider.thumb-bg-l-3${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_l_3};
}

.slider.thumb-bg-l-3${color_base_name}::-moz-range-thumb {
    background-color: ${color_l_3};
}

.slider.thumb-bg-l-3${color_base_name}::-ms-thumb {
    background-color: ${color_l_3};
}

.slider.slider-bg-l-3${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_l_3};
}

.slider.slider-bg-l-3${color_base_name}::-moz-range-track {
    background-color: ${color_l_3};
}

.slider.slider-bg-l-3${color_base_name}::-ms-track {
    background-color: ${color_l_3};
}

.bg-l-4${color_base_name},
.d-checkbox.filled-in:checked.col-l-4${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-4${color_base_name}:checked + label:after,
[type="radio"].col-l-4${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-l-4${color_base_name}:after,
.modal-content.col-l-4${color_base_name},
.panel-group .panel.col-l-4${color_base_name} .panel-title,
.panel-group.full-body .panel.col-l-4${color_base_name} .panel-body {
    background-color: ${color_l_4};
}

ul.stepper.stepper-col-l-4${color_base_name} .step.active:before,
ul.stepper.stepper-col-l-4${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-l-4${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-l-4${color_base_name} .step.done .step-title:before  {
    background-color: ${color_l_4};
}

.fc-col-l-4${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_l_4};
}
.col-l-4${color_base_name}{
    color: ${color_l_4};
}
.vtabs.col-l-4${color_base_name} li.active{
    color: ${color_l_4};
    border-right: 2px solid ${color_l_4};
}
.d-checkbox.checked.col-l-4${color_base_name} .field-label:before {
    border-right: 2px solid ${color_l_4};
    border-bottom: 2px solid ${color_l_4};
}
.d-checkbox.filled-in.checked.col-l-4${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-4${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-l-4${color_base_name}:checked + label:after {
    border: 2px solid ${color_l_4};
}
[type="radio"].col-l-4${color_base_name}:checked + label:after {
    border-color: ${color_l_4};
}
.nav-tabs.col-l-4${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_l_4};
}
.panel-group.col-l-4${color_base_name} {
    border: 1px solid ${color_l_4};
}

.slider.thumb-bg-l-4${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_l_4};
}

.slider.thumb-bg-l-4${color_base_name}::-moz-range-thumb {
    background-color: ${color_l_4};
}

.slider.thumb-bg-l-4${color_base_name}::-ms-thumb {
    background-color: ${color_l_4};
}

.slider.slider-bg-l-4${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_l_4};
}

.slider.slider-bg-l-4${color_base_name}::-moz-range-track {
    background-color: ${color_l_4};
}

.slider.slider-bg-l-4${color_base_name}::-ms-track {
    background-color: ${color_l_4};
}

.bg-l-5${color_base_name} ,
.d-checkbox.filled-in.checked.col-l-5${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-5${color_base_name}:checked + label:after,
[type="radio"].col-l-5${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-l-5${color_base_name}:after,
.modal-content.col-l-5${color_base_name},
.panel-group .panel.col-l-5${color_base_name} .panel-title,
.panel-group.full-body .panel.col-l-5${color_base_name} .panel-body {
    background-color: ${color_l_5};
}

ul.stepper.stepper-col-l-5${color_base_name} .step.active:before,
ul.stepper.stepper-col-l-5${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-l-5${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-l-5${color_base_name} .step.done .step-title:before   {
    background-color: ${color_l_5};
}

.fc-col-l-5${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_l_5};
}
.col-l-5${color_base_name} {
    color: ${color_l_5};
}
.vtabs.col-l-5${color_base_name} li.active{
    color: ${color_l_5};
    border-right: 2px solid ${color_l_5};
}
.d-checkbox.checked.col-l-5${color_base_name} .field-label:before {
    border-right: 2px solid ${color_l_5};
    border-bottom: 2px solid ${color_l_5};
}
.d-checkbox.filled-in.checked.col-l-5${color_base_name} .field-label:after,
[type="radio"].with-gap.col-l-5${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-l-5${color_base_name}:checked + label:after {
    border: 2px solid ${color_l_5};
}
[type="radio"].col-l-5${color_base_name}:checked + label:after {
    border-color: ${color_l_5};
}
.nav-tabs.col-l-5${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_l_5};
}
.panel-group.col-l-5${color_base_name} {
    border: 1px solid ${color_l_5};
}

.slider.thumb-bg-l-5${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_l_5};
}

.slider.thumb-bg-l-5${color_base_name}::-moz-range-thumb {
    background-color: ${color_l_5};
}

.slider.thumb-bg-l-5${color_base_name}::-ms-thumb {
    background-color: ${color_l_5};
}

.slider.slider-bg-l-5${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_l_5};
}

.slider.slider-bg-l-5${color_base_name}::-moz-range-track {
    background-color: ${color_l_5};
}

.slider.slider-bg-l-5${color_base_name}::-ms-track {
    background-color: ${color_l_5};
}

.bg-d-1${color_base_name},
.d-checkbox.filled-in.checked.col-d-1${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-1${color_base_name}:checked + label:after,
[type="radio"].col-d-1${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-d-1${color_base_name}:after,
.modal-content.col-d-1${color_base_name},
.panel-group .panel.col-d-1${color_base_name} .panel-title,
.panel-group.full-body .panel.col-d-1${color_base_name} .panel-body {
    background-color: ${color_d_1};
}

ul.stepper.stepper-col-d-1${color_base_name} .step.active:before,
ul.stepper.stepper-col-d-1${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-d-1${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-d-1${color_base_name} .step.done .step-title:before   {
    background-color: ${color_d_1};
}

.fc-col-d-1${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_d_1};
}
.col-d-1${color_base_name} {
    color: ${color_d_1};
}
.vtabs.col-d-1${color_base_name} li.active{
    color: ${color_d_1};
    border-right: 2px solid ${color_d_1};
}
.d-checkbox.checked.col-d-1${color_base_name} .field-label:before {
    border-right: 2px solid ${color_d_1};
    border-bottom: 2px solid ${color_d_1};
}
.d-checkbox.filled-in:checked.col-d-1${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-1${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-d-1${color_base_name}:checked + label:after {
    border: 2px solid ${color_d_1};
}
[type="radio"].col-d-1${color_base_name}:checked + label:after {
    border-color: ${color_d_1};
}
.nav-tabs.col-d-1${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_d_1};
}
.panel-group.col-d-1${color_base_name} {
    border: 1px solid ${color_d_1};
}

.slider.thumb-bg-d-1${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_d_1};
}

.slider.thumb-bg-d-1${color_base_name}::-moz-range-thumb {
    background-color: ${color_d_1};
}

.slider.thumb-bg-d-1${color_base_name}::-ms-thumb {
    background-color: ${color_d_1};
}

.slider.slider-bg-d-1${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_d_1};
}

.slider.slider-bg-d-1${color_base_name}::-moz-range-track {
    background-color: ${color_d_1};
}

.slider.slider-bg-d-1${color_base_name}::-ms-track {
    background-color: ${color_d_1};
}

.bg-d-2${color_base_name},
.d-checkbox.filled-in:checked.col-d-2${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-2${color_base_name}:checked + label:after,
[type="radio"].col-d-2${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-d-2${color_base_name}:after,
.modal-content.col-d-2${color_base_name},
.panel-group .panel.col-d-2${color_base_name} .panel-title,
.panel-group.full-body .panel.col-d-2${color_base_name} .panel-body {
    background-color: ${color_d_2};
}

ul.stepper.stepper-col-d-2${color_base_name} .step.active:before,
ul.stepper.stepper-col-d-2${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-d-2${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-d-2${color_base_name} .step.done .step-title:before  {
    background-color: ${color_d_2};
}

.fc-col-d-2${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_d_2};
}
.col-d-2${color_base_name} {
    color: ${color_d_2};
}
.vtabs.col-d-2${color_base_name} li.active{
    color: ${color_d_2};
    border-right: 2px solid ${color_d_2};
}
.d-checkbox.checked.col-d-2${color_base_name} .field-label:before {
    border-right: 2px solid ${color_d_2};
    border-bottom: 2px solid ${color_d_2};
}
.d-checkbox.filled-in.checked.col-d-2${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-2${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-d-2${color_base_name}:checked + label:after {
    border: 2px solid ${color_d_2};
}
[type="radio"].col-d-2${color_base_name}:checked + label:after {
    border-color: ${color_d_2};
}
.nav-tabs.col-d-2${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_d_2};
}
.panel-group.col-d-2${color_base_name} {
    border: 1px solid ${color_d_2};
}

.slider.thumb-bg-d-2${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_d_2};
}

.slider.thumb-bg-d-2${color_base_name}::-moz-range-thumb {
    background-color: ${color_d_2};
}

.slider.thumb-bg-d-2${color_base_name}::-ms-thumb {
    background-color: ${color_d_2};
}

.slider.slider-bg-d-2${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_d_2};
}

.slider.slider-bg-d-2${color_base_name}::-moz-range-track {
    background-color: ${color_d_2};
}

.slider.slider-bg-d-2${color_base_name}::-ms-track {
    background-color: ${color_d_2};
}

.bg-d-3${color_base_name},
.d-checkbox.filled-in.checked.col-d-3${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-3${color_base_name}:checked + label:after,
[type="radio"].col-d-2${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-d-3${color_base_name}:after,
.modal-content.col-d-3${color_base_name},
.panel-group .panel.col-d-3${color_base_name} .panel-title,
.panel-group.full-body .panel.col-d-3${color_base_name} .panel-body {
    background-color: ${color_d_3};
}

ul.stepper.stepper-col-d-3${color_base_name} .step.active:before,
ul.stepper.stepper-col-d-3${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-d-3${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-d-3${color_base_name} .step.done .step-title:before  {
    background-color: ${color_d_3};
}

.fc-col-d-3${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_d_3};
}
.col-d-3${color_base_name}{
    color: ${color_d_3};
}
.vtabs.col-d-3${color_base_name} li.active{
    color: ${color_d_3};
    border-right: 2px solid ${color_d_3};
}
.d-checkbox.checked.col-d-3${color_base_name} .field-label:before {
    border-right: 2px solid ${color_d_3};
    border-bottom: 2px solid ${color_d_3};
}
.d-checkbox.filled-in.checked.col-d-3${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-3${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-d-3${color_base_name}:checked + label:after {
    border: 2px solid ${color_d_3};
}
[type="radio"].col-d-3${color_base_name}:checked + label:after {
    border-color: ${color_d_3};
}
.nav-tabs.col-d-3${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_d_3};
}
.panel-group.col-d-3${color_base_name} {
    border: 1px solid ${color_d_3};
}

.slider.thumb-bg-d-3${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_d_3};
}

.slider.thumb-bg-d-3${color_base_name}::-moz-range-thumb {
    background-color: ${color_d_3};
}

.slider.thumb-bg-d-3${color_base_name}::-ms-thumb {
    background-color: ${color_d_3};
}

.slider.slider-bg-d-3${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_d_3};
}

.slider.slider-bg-d-3${color_base_name}::-moz-range-track {
    background-color: ${color_d_3};
}

.slider.slider-bg-d-3${color_base_name}::-ms-track {
    background-color: ${color_d_3};
}

.bg-d-4${color_base_name},
.d-checkbox.filled-in.checked.col-d-4${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-4${color_base_name}:checked + label:after,
[type="radio"].col-d-4${color_base_name}:checked + label:after,
.switch label input[type=checkbox]:checked + .lever.col-d-4${color_base_name}:after,
.modal-content.col-d-4${color_base_name},
.panel-group .panel.col-d-4${color_base_name} .panel-title,
.panel-group.full-body .panel.col-d-4${color_base_name} .panel-body {
    background-color: ${color_d_4};
}

ul.stepper.stepper-col-d-4${color_base_name} .step.active:before,
ul.stepper.stepper-col-d-4${color_base_name} .step.done:before,
ul.stepper.horizontal.stepper-col-d-4${color_base_name} .step.active .step-title:before,
ul.stepper.horizontal.stepper-col-d-4${color_base_name} .step.done .step-title:before  {
    background-color: ${color_d_4};
}

.fc-col-d-4${color_base_name}:not([class*="lever"]) {
    border-bottom: 1px solid ${color_d_4};
}
.col-d-4${color_base_name}{
    color: ${color_d_4};
}
.vtabs.col-d-4${color_base_name} li.active{
    color: ${color_d_4};
    border-right: 2px solid ${color_d_4};
}
.d-checkbox.checked.col-d-4${color_base_name} .field-label:before {
    border-right: 2px solid ${color_d_4};
    border-bottom: 2px solid ${color_d_4};
}
.d-checkbox.filled-in.checked.col-d-4${color_base_name} .field-label:after,
[type="radio"].with-gap.col-d-4${color_base_name}:checked + label:before,
[type="radio"].with-gap.col-d-4${color_base_name}:checked + label:after {
    border: 2px solid ${color_d_4};
}
[type="radio"].col-d-4${color_base_name}:checked + label:after {
    border-color: ${color_d_4};
}
.nav-tabs.col-d-4${color_base_name} > li > a:before{
    border-bottom: 2px solid ${color_d_4};
}
.panel-group.col-d-4${color_base_name} {
    border: 1px solid ${color_d_4};
}

.switch label input[type=checkbox]:checked:not(:disabled) ~ .lever[class*="col${color_base_name}"]:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(${rgba_1});
}

.switch label input[type=checkbox]:checked + .lever[class*="col${color_base_name}"] {
    background-color: rgba(${rgba_2});
}

.slider.thumb-bg-d-4${color_base_name}::-webkit-slider-thumb {
    background-color: ${color_d_4};
}

.slider.thumb-bg-d-4${color_base_name}::-moz-range-thumb {
    background-color: ${color_d_4};
}

.slider.thumb-bg-d-4${color_base_name}::-ms-thumb {
    background-color: ${color_d_4};
}

.slider.slider-bg-d-4${color_base_name}::-webkit-slider-runnable-track {
    background-color: ${color_d_4};
}

.slider.slider-bg-d-4${color_base_name}::-moz-range-track {
    background-color: ${color_d_4};
}

.slider.slider-bg-d-4${color_base_name}::-ms-track {
    background-color: ${color_d_4};
}