
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination .page.active a{
    border-radius: 50%;
}

.pagination > .page > a:hover,
.pagination > .page > span:hover,
.pagination > .page > a:focus,
.pagination > .page > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    font-size: 18px;
}


.pagination-sm > li > a,
.pagination-sm > li > span {
    font-size: 12px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* Pagination & Pager ========================== */
.pager li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #222;
    font-weight: bold;
}

.pager li a:focus,
.pager li a:active {
    background-color: transparent;
}

.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled a:focus,
.pagination .disabled a:active {
    color: #bbb;
}

.pagination .disabled a .clickable-icon {
    cursor: not-allowed;
}

.pagination li.active a {
    background-color: #2196F3;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.pagination .page a {
    padding: 6px 0px;
    text-align: center;
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
}

.pagination .page-nav a {
    margin-left: 5px;
    margin-right: 5px;
}

.pagination li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.pagination li a:focus,
.pagination li a:active {
    background-color: transparent;
    color: #555;
}

.pagination > li > a {
    border: none;
    font-weight: bold;
    color: #555;
}

.pagination .adv-page-count {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 34px
}

.pagination .page-nav:disabled a .clickable-icon {
    cursor: not-allowed !important;
}

.pagination-lg .page-nav a {
    margin-top: 2px;
}

.pagination-lg .page-nav a .material-icons {
    font-size: 30px;
    line-height: 24px;
    padding-left: 1px;
}

.pagination-sm .page-nav a .material-icons {
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
}

.pagination-sm .page a {
    font-size: 12px;
    line-height: 20px;
}
.pagination .field-group.rounded:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.pagination .field-group.rounded.focused:not([class*="readonly"]) .field-cntr{
    border: none;
}

.pagination .field-group.d-select {
    min-width: 100px;
    height: 30px;
}

.pagination .field-group.rounded:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.pagination .field-group.lined:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr{
    border: none;
}

.pagination .field-group.lined.d-select .field-cntr,
.pagination .field-group.rounded.d-select .field-cntr{
    padding: 0px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.pagination .field-group.d-select .select-button{
    height: 30px;
    line-height: 30px;
}

.pagination .field-group.table-search-box.lined.focused:not([class*="readonly"]) .field-cntr,
.pagination .field-group.table-search-box.rounded.focused:not([class*="readonly"]) .field-cntr,
.pagination .field-group.table-search-box.lined:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr,
.pagination .field-group.table-search-box.rounded:not([class*="focused"]):not([class*="readonly"]):not([class*="error"]) .field-cntr{
    border: none;
}
