<nav class="navbar bars">
    <div class="container-fluid">
        <div class="navbar-header">
            <a data-element="navBarExpand" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a data-element="menu" href="javascript:void(0);" class="bars"></a>
            <a data-element="title" class="navbar-brand"></a>
        </div>
        <div data-element="navigationBar" class="collapse navbar-collapse" id="navbar-collapse">
            <ul data-element="topBar" class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>